@if (ShouldShowClaimAction())
{
    <br />
    <button type="submit" formaction="@GetClaimAction()">Mark as read</button>
}
else if (ShouldShowUnclaimAction())
{
    <br />
    <p>Question has already been marked as read by @latestMessage.ClaimerName</p>
    <button type="submit" formaction="@GetUnclaimAction()">Undo mark as read</button>
}