<div class="container">
    <h2>FAQ for March 2022 Intern Puzzleday</h2>
    <h3>What is Puzzleday?</h3>
    <p>
        The Microsoft Intern Puzzleday is an annual collaborative puzzle competition that challenges teams to solve a large number of original puzzles of all different kinds. These puzzles include wordplay, cryptograms, jigsaws, logic problems, and more. While the event has historically occurred at the Redmond, Washington campus, for the past couple of years, it has been run completely online.  This event is also online, and was first played by the July 2021 class of interns.
    </p>
    <h3>
        Who is Puzzleday for?
    </h3>
    <p>
        Puzzleday is for Microsoft interns. It's a team competition open to novice and hardcore puzzle solvers alike. Rule number 1 is &quot;HAVE FUN!&quot; More information about registration is available on the <a href="./Rules">Rules</a> page.
    </p>
    <h3>When is Puzzleday?</h3>
    <p>
        Puzzleday will consist of two sessions over the course of a week, with one session per day. The sessions have different content and you are encouraged to attend both.
    </p>
    <ul>
        <li>Session 1: <strong>Wednesday, March 23 1:00PM - 5:00PM UTC</strong>.</li>
        <li>Session 2: <strong>Thursday, March 24 1:00PM - 5:00PM UTC</strong>.</li>
    </ul>
    <p>
        Please arrive on time to the first session as we will give some announcements and go over a few rules. An awards and puzzle-demystification ceremony will be held near the end of the second session.
    </p>
    <h3>
        How many people can be on a team?
    </h3>
    <p>
        Each team should have 4 to 6 people.
    </p>
    <h3>
        What equipment do I need?
    </h3>
    <p>
        Primarily your brain and a lot of imagination. Every member of your team should have access to a computer. A pair of headphones or speakers may be desired.
    </p>

    <h3>
        I have special needs and/or require the use of assistive technology. Can I still participate?
    </h3>
    <p>
        Absolutely. Non-Intern Puzzleday is a team event, and we find that many teams consist of people from different backgrounds and specialties. We endeavor to make our puzzles accessible to all audiences. If you require alternate versions of puzzles, please reach out to Puzzleday staff at <a href="mailto:puzzhunt@microsoft.com">puzzhunt</a> before the event so we can prepare the materials. Upon request, we are able to provide digital files for a number of puzzles (enough to keep you busy) that are compatible with <strong>Windows Narrator</strong>.
    </p>

    <h3>
        Who wins?
    </h3>
    <p>
        See the <a href="./Rules">Rules</a> page for more information.
    </p>

    <h3>
        How do we know if we've solved a puzzle?
    </h3>
    <p>
        Each puzzle has a simple final answer, either a single word or a short phrase. In some puzzles you are explicitly told how to get the final answer. In others, figuring out how to extract the final answer is part of the puzzle. <strong>When you think you've found the answer, enter it into the website and it will immediately tell you if you are correct</strong>. Sometimes, you can get a long phrase while working through a puzzle. That phrase is probably a clue to a shorter answer. Try entering the phrase into the website. If the word/phrase is recognized, you may get a &quot;Keep going&quot; or similar message. This means that you entered a valid partial answer and are on the right track.
    </p>

    <h3>What is a &quot;Metapuzzle&quot;? </h3>
    <p>A metapuzzle is a special puzzle that takes the progress you've made from solving other puzzles and combines them in some way. It is not necessary to solve all other puzzles before solving the final metapuzzle. The metapuzzle will be clearly labeled.</p>

    <h3>
        How do we solve puzzles that don't have instructions?
    </h3>
    <p>
        The implicit instruction for all puzzles is &quot;Figure out the final answer&quot;. Puzzles without instructions are either classic puzzle forms, perhaps with a twist, or puzzles where the challenge is figuring out how to solve the puzzle. In the latter case, the key is usually to look for patterns or common bonds between the parts of the puzzle. For example, are many of the words spelled wrong? Have all the vowels been left out? Sometimes there may be a hint hidden in the puzzle.
    </p>

    <h3>
        What's the best way to win?
    </h3>
    <p>
        The best way to win is to solve puzzles quickly so that you get to the final metapuzzle. The best way to accomplish this is with teamwork. Many teams prefer to work individually on the easier puzzles and work as a group on the harder puzzles. If you get stuck, ask for help or switch to another puzzle. Make sure you keep track of which puzzles you've already solved and confirmed using the answer submission system.
    </p>

    <h3>
        What's the best way to lose?
    </h3>
    <p>
        Not having fun. If you're not having fun working on a particular puzzle, switch to another one.
    </p>

    <h3>
        What if we're really stuck?
    </h3>
    <p>
        If you don't understand how to solve a puzzle, contact Puzzleday staff. We may give you a hint or clarify the instructions. Aside from that, there are enough puzzles that you probably won't be stuck on all of them.
    </p>

    <h3>
        What are the prizes?
    </h3>
    <p>
        Each member of the winning teams will receive a digital prize.
    </p>

    <h3>
        Can I finish by accident, without solving the puzzles?
    </h3>
    <p>
        Haha. No.
    </p>

    <h3>
        Do I have to register to participate?
    </h3>
    <p>
        Yes. If you do miss the registration deadline, send mail to Puzzleday staff at <a href="mailto:puzzhunt@microsoft.com">puzzhunt</a>.
    </p>

    <h3>
        Do I have to be on the Redmond campus to participate?
    </h3>
    <p>
        No! This year, we will be hosting the opening and closing online over Teams, and each team will collaborate with each other on the digital platform of their choosing. No travel will ever be required.
    </p>

    <h3>
        I'm not that good at solving puzzles and some of these puzzles look hard. Can I still participate?
    </h3>
    <p>
        Yes. As in any event like this, some teams and some players will be very dedicated. But the event is designed so that less dedicated teams will also have fun. It's also OK to have teams that consist of some hard core participants and some casual participants. There will be a variety of puzzles so there's a good chance there will be puzzles that you enjoy.
    </p>

    <h3>
        How do I contact Puzzleday staff?
    </h3>
    <p>
        Send email to <a href="mailto:puzzhunt@microsoft.com">puzzhunt</a>.
    </p>
</div>
