
<style>
    td {
        border: 1px solid black;
        padding: 2px;
    }

        td:nth-child(1) {
            font-size: 24px;
            font-weight: bold;
        }

    table.pictoral-table td:nth-child(7),
    table.textual-table td:nth-child(8) {
        font-size: 24px;
        font-weight: bold;
        border-left: 3px solid black;
    }

    table.textual-table td:nth-child(4),
    table.textual-table td:nth-child(6),
    table.textual-table td:nth-child(7),
    table.textual-table td:nth-child(11),
    table.textual-table td:nth-child(13),
    table.textual-table td:nth-child(14) {
        font-family: monospace;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }

    table.pictoral-table thead tr.table-header td,
    table.textual-table thead tr.table-header td,
    table.numerical-table thead tr.table-header td {
        font-family: Tahoma, Verdana, sans-serif;
        font-size: 14px;
        font-weight: bold;
        background-color: #cccccc;
        border-bottom: 3px solid black;
    }

    th {
        padding: 2px;
    }

    .shrink-wrap {
        display: inline-block;
    }

    .center-container {
        text-align: center;
    }

    .grid-3 {
        display: grid;
        grid-template-columns: 0.33fr 0.33fr 0.33fr;
        gap: 10px;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        gap: 10px;
    }

    .morse-background {
        background-image: url(/images/MorseCode.png);
        background-repeat: no-repeat;
        height: 12px;
        width: 116px;
        color: transparent;
    }

    .morse-number-background {
        width: 131px;
    }

    .semaphore-background {
        background-image: url(/images/Semaphore.png);
        background-repeat: no-repeat;
        height: 64px;
        width: 74px;
        color: transparent;
        margin-left: 3px;
    }

    .braille-background {
        background-image: url(/images/braille-alphabet-and-braille-numbers.png);
        background-repeat: no-repeat;
        height: 76px;
        width: 48px;
        color: transparent;
    }

    .maritime-background {
        background-image: url(/images/nautical-flags.jpg);
        background-repeat: no-repeat;
        height: 58px;
        width: 68px;
        color: transparent;
    }

    .maritime-number-background {
        height: 46px;
        width: 134px;
    }

    .nato-number-background {
        background-image: url(/images/nato-flags.jpg);
        background-repeat: no-repeat;
        height: 38px;
        width: 38px;
        color: transparent;
        margin-left: 26px;
    }

    .asl-background {
        background-image: url(/images/asl-alphabet.jpg);
        background-repeat: no-repeat;
        height: 140px;
        width: 140px;
        color: transparent;
    }

    .asl-number-background {
        background-image: url(/images/asl-numbers-1-10.jpg);
        background-repeat: no-repeat;
        height: 180px;
        width: 180px;
        color: transparent;
    }

    .moon-background {
        background-image: url(/images/Moonalphabet.png);
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        color: transparent;
        margin-left: 6px;
    }
</style>

<div class="container">
    <h1>Sample Encodings</h1>
    <p>
        Over time, some encoding schemes have been used so frequently that they've
        formed a kind of basic vocabulary for puzzlers.  Here are some things
        to look out for as you try to determine how to extract a final answer.
    </p>

    <div class="center-container">
        <h3>Pictoral encodings</h3>
        <div>To view an image that contains every letter for a particular encoding, click the heading for that encoding.</div>
        <div class="shrink-wrap">
            <table class="pictoral-table">
                <thead>
                    <tr class="table-header">
                        <td>Letter</td>
                        <td><a href="/images/MorseCode.png" target="_blank">Morse Code</a></td>
                        <td><a href="/images/Semaphore.png" target="_blank">Semaphore</a></td>
                        <td><a href="/images/braille-alphabet-and-braille-numbers.png" target="_blank">Braille</a></td>
                        <td><a href="/images/nautical-flags.jpg" target="_blank">Maritime<br />flags</a></td>
                        <td><a href="/images/asl-alphabet.jpg" target="_blank">American Sign<br />Language</a></td>
                        <td>Letter</td>
                        <td><a href="/images/MorseCode.png" target="_blank">Morse Code</a></td>
                        <td><a href="/images/Semaphore.png" target="_blank">Semaphore</a></td>
                        <td><a href="/images/braille-alphabet-and-braille-numbers.png" target="_blank">Braille</a></td>
                        <td><a href="/images/nautical-flags.jpg" target="_blank">Maritime<br />flags</a></td>
                        <td><a href="/images/asl-alphabet.jpg" target="_blank">American Sign<br />Language</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A</td>
                        <td><div class="morse-background" style="background-position:-22px -97px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-18px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:0px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-109px -119px;"></div></td>
                        <td><div class="asl-background" style="background-position:-12px -45px"></div></td>
                        <td>N</td>
                        <td><div class="morse-background" style="background-position:-22px -270px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-145px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:0px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-288px -390px;"></div></td>
                        <td><div class="asl-background" style="background-position:-460px -455px"></div></td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td><div class="morse-background" style="background-position:-22px -111px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-138px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:-67px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-110px -210px;"></div></td>
                        <td><div class="asl-background" style="background-position:-163px -47px"></div></td>
                        <td>O</td>
                        <td><div class="morse-background" style="background-position:-22px -283px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-254px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:-67px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-290px -479px;"></div></td>
                        <td><div class="asl-background" style="background-position:-615px -456px"></div></td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td><div class="morse-background" style="background-position:-22px -124px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-248px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:-135px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-113px -302px;"></div></td>
                        <td><div class="asl-background" style="background-position:-313px -47px"></div></td>
                        <td>P</td>
                        <td><div class="morse-background" style="background-position:-22px -296px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-362px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:-135px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-290px -567px;"></div></td>
                        <td><div class="asl-background" style="background-position:-7px -648px"></div></td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td><div class="morse-background" style="background-position:-22px -137px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-356px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:-203px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-112px -390px;"></div></td>
                        <td><div class="asl-background" style="background-position:-466px -50px"></div></td>
                        <td>Q</td>
                        <td><div class="morse-background" style="background-position:-22px -310px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-466px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:-203px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-291px -659px;"></div></td>
                        <td><div class="asl-background" style="background-position:-155px -651px"></div></td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td><div class="morse-background" style="background-position:-22px -150px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-464px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:-271px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-113px -479px;"></div></td>
                        <td><div class="asl-background" style="background-position:-620px -50px"></div></td>
                        <td>R</td>
                        <td><div class="morse-background" style="background-position:-22px -323px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-570px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:-271px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-291px -750px;"></div></td>
                        <td><div class="asl-background" style="background-position:-308px -652px"></div></td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td><div class="morse-background" style="background-position:-22px -163px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-570px -16px;"></div></td>
                        <td><div class="braille-background" style="background-position:-339px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-116px -570px;"></div></td>
                        <td><div class="asl-background" style="background-position:-11px -247px"></div></td>
                        <td>S</td>
                        <td><div class="morse-background" style="background-position:-22px -337px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-30px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-339px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-291px -839px;"></div></td>
                        <td><div class="asl-background" style="background-position:-459px -652px"></div></td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td><div class="morse-background" style="background-position:-22px -177px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-30px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-407px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-113px -659px;"></div></td>
                        <td><div class="asl-background" style="background-position:-160px -245px"></div></td>
                        <td>T</td>
                        <td><div class="morse-background" style="background-position:-22px -350px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-145px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-407px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-293px -927px;"></div></td>
                        <td><div class="asl-background" style="background-position:-613px -653px"></div></td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td><div class="morse-background" style="background-position:-22px -190px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-144px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-475px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-117px -752px;"></div></td>
                        <td><div class="asl-background" style="background-position:-312px -249px"></div></td>
                        <td>U</td>
                        <td><div class="morse-background" style="background-position:-162px -97px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-254px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-475px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-459px -115px;"></div></td>
                        <td><div class="asl-background" style="background-position:-5px -855px"></div></td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td><div class="morse-background" style="background-position:-22px -203px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-254px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-543px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-118px -841px;"></div></td>
                        <td><div class="asl-background" style="background-position:-464px -250px"></div></td>
                        <td>V</td>
                        <td><div class="morse-background" style="background-position:-162px -110px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-362px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-543px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-461px -209px;"></div></td>
                        <td><div class="asl-background" style="background-position:-122px -857px"></div></td>
                    </tr>
                    <tr>
                        <td>J</td>
                        <td><div class="morse-background" style="background-position:-22px -216px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-362px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-611px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-119px -929px;"></div></td>
                        <td><div class="asl-background" style="background-position:-619px -251px"></div></td>
                        <td>W</td>
                        <td><div class="morse-background" style="background-position:-162px -123px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-466px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-611px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-462px -297px;"></div></td>
                        <td><div class="asl-background" style="background-position:-243px -856px"></div></td>
                    </tr>
                    <tr>
                        <td>K</td>
                        <td><div class="morse-background" style="background-position:-22px -230px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-466px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-679px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-286px -118px;"></div></td>
                        <td><div class="asl-background" style="background-position:-9px -455px"></div></td>
                        <td>X</td>
                        <td><div class="morse-background" style="background-position:-162px -137px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-570px -400px;"></div></td>
                        <td><div class="braille-background" style="background-position:-679px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-461px -388px;"></div></td>
                        <td><div class="asl-background" style="background-position:-358px -858px"></div></td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td><div class="morse-background" style="background-position:-22px -243px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-570px -144px;"></div></td>
                        <td><div class="braille-background" style="background-position:-747px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-285px -210px;"></div></td>
                        <td><div class="asl-background" style="background-position:-160px -456px"></div></td>
                        <td>Y</td>
                        <td><div class="morse-background" style="background-position:-162px -150px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-30px -528px;"></div></td>
                        <td><div class="braille-background" style="background-position:-747px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-462px -477px;"></div></td>
                        <td><div class="asl-background" style="background-position:-488px -857px"></div></td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td><div class="morse-background" style="background-position:-22px -257px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-30px -272px;"></div></td>
                        <td><div class="braille-background" style="background-position:-815px 0px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-285px -298px;"></div></td>
                        <td><div class="asl-background" style="background-position:-306px -454px"></div></td>
                        <td>Z</td>
                        <td><div class="morse-background" style="background-position:-162px -164px;"></div></td>
                        <td><div class="semaphore-background" style="background-position:-145px -528px;"></div></td>
                        <td><div class="braille-background" style="background-position:-815px -126px;"></div></td>
                        <td><div class="maritime-background" style="background-position:-463px -566px;"></div></td>
                        <td><div class="asl-background" style="background-position:-616px -858px"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>Learn more about <a href="https://en.wikipedia.org/wiki/Morse_code" target="_blank">Morse Code</a></div>
        <div>Learn more about <a href="https://en.wikipedia.org/wiki/Flag_semaphore" target="_blank">Semaphore</a></div>
        <div>Learn more about <a href="https://en.wikipedia.org/wiki/Braille" target="_blank">Braille</a></div>
        <div>Learn more about <a href="https://en.wikipedia.org/wiki/International_Code_of_Signals#Standards" target="_blank">Maritime flags</a></div>
        <div>Learn more about <a href="https://en.wikipedia.org/wiki/American_Sign_Language#Fingerspelling" target="_blank">American Sign Language</a></div>
        <br />
        <h3>Textual Encodings</h3>
        <div class="shrink-wrap">
            <table class="textual-table">
                <thead>
                    <tr class="table-header">
                        <td>Letter</td>
                        <td>A to Z<br />index</td>
                        <td><a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet" target="_blank">NATO<br />Phonetic<br />Alphabet</a></td>
                        <td>Binary<br />(base 2)</td>
                        <td>Ternary<br />(base 3)</td>
                        <td><a href="https://en.wikipedia.org/wiki/ASCII#Character_set" target="_blank">ASCII<br />uppercase<br />(hexidecimal)</a></td>
                        <td><a href="https://en.wikipedia.org/wiki/ASCII#Character_set" target="_blank">ASCII<br />lowercase<br />(hexidecimal)</a></td>
                        <td>Letter</td>
                        <td>A to Z<br />index</td>
                        <td><a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet" target="_blank">NATO<br />Phonetic<br />Alphabet</a></td>
                        <td>Binary<br />(base 2)</td>
                        <td>Ternary<br />(base 3)</td>
                        <td><a href="https://en.wikipedia.org/wiki/ASCII#Character_set" target="_blank">ASCII<br />uppercase<br />(hexidecimal)</a></td>
                        <td><a href="https://en.wikipedia.org/wiki/ASCII#Character_set" target="_blank">ASCII<br />lowercase<br />(hexidecimal)</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A</td>
                        <td>1</td>
                        <td>Alfa</td>
                        <td>00001</td>
                        <td>001</td>
                        <td>0x41</td>
                        <td>0x61</td>
                        <td>N</td>
                        <td>14</td>
                        <td>November</td>
                        <td>01110</td>
                        <td>112</td>
                        <td>0x4E</td>
                        <td>0x6E</td>
                    </tr>
                    <tr>
                        <td>B</td>
                        <td>2</td>
                        <td>Bravo</td>
                        <td>00010</td>
                        <td>002</td>
                        <td>0x42</td>
                        <td>0x62</td>
                        <td>O</td>
                        <td>15</td>
                        <td>Oscar</td>
                        <td>01111</td>
                        <td>120</td>
                        <td>0x4F</td>
                        <td>0x6F</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>3</td>
                        <td>Charlie</td>
                        <td>00011</td>
                        <td>010</td>
                        <td>0x43</td>
                        <td>0x63</td>
                        <td>P</td>
                        <td>16</td>
                        <td>Papa</td>
                        <td>10000</td>
                        <td>121</td>
                        <td>0x50</td>
                        <td>0x70</td>
                    </tr>
                    <tr>
                        <td>D</td>
                        <td>4</td>
                        <td>Delta</td>
                        <td>00100</td>
                        <td>011</td>
                        <td>0x44</td>
                        <td>0x64</td>
                        <td>Q</td>
                        <td>17</td>
                        <td>Quebec</td>
                        <td>10001</td>
                        <td>122</td>
                        <td>0x51</td>
                        <td>0x71</td>
                    </tr>
                    <tr>
                        <td>E</td>
                        <td>5</td>
                        <td>Echo</td>
                        <td>00101</td>
                        <td>012</td>
                        <td>0x45</td>
                        <td>0x65</td>
                        <td>R</td>
                        <td>18</td>
                        <td>Romeo</td>
                        <td>10010</td>
                        <td>200</td>
                        <td>0x52</td>
                        <td>0x72</td>
                    </tr>
                    <tr>
                        <td>F</td>
                        <td>6</td>
                        <td>Foxtrot</td>
                        <td>00110</td>
                        <td>020</td>
                        <td>0x46</td>
                        <td>0x66</td>
                        <td>S</td>
                        <td>19</td>
                        <td>Sierra</td>
                        <td>10011</td>
                        <td>201</td>
                        <td>0x53</td>
                        <td>0x73</td>
                    </tr>
                    <tr>
                        <td>G</td>
                        <td>7</td>
                        <td>Golf</td>
                        <td>00111</td>
                        <td>021</td>
                        <td>0x47</td>
                        <td>0x67</td>
                        <td>T</td>
                        <td>20</td>
                        <td>Tango</td>
                        <td>10100</td>
                        <td>202</td>
                        <td>0x54</td>
                        <td>0x74</td>
                    </tr>
                    <tr>
                        <td>H</td>
                        <td>8</td>
                        <td>Hotel</td>
                        <td>01000</td>
                        <td>022</td>
                        <td>0x48</td>
                        <td>0x68</td>
                        <td>U</td>
                        <td>21</td>
                        <td>Uniform</td>
                        <td>10101</td>
                        <td>210</td>
                        <td>0x55</td>
                        <td>0x75</td>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>9</td>
                        <td>India</td>
                        <td>01001</td>
                        <td>100</td>
                        <td>0x49</td>
                        <td>0x69</td>
                        <td>V</td>
                        <td>22</td>
                        <td>Victor</td>
                        <td>10110</td>
                        <td>211</td>
                        <td>0x56</td>
                        <td>0x76</td>
                    </tr>
                    <tr>
                        <td>J</td>
                        <td>10</td>
                        <td>Juliett</td>
                        <td>01010</td>
                        <td>101</td>
                        <td>0x4A</td>
                        <td>0x6A</td>
                        <td>W</td>
                        <td>23</td>
                        <td>Whiskey</td>
                        <td>10111</td>
                        <td>212</td>
                        <td>0x57</td>
                        <td>0x77</td>
                    </tr>
                    <tr>
                        <td>K</td>
                        <td>11</td>
                        <td>Kilo</td>
                        <td>01011</td>
                        <td>102</td>
                        <td>0x4B</td>
                        <td>0x6B</td>
                        <td>X</td>
                        <td>24</td>
                        <td>Xray</td>
                        <td>11000</td>
                        <td>220</td>
                        <td>0x58</td>
                        <td>0x78</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>12</td>
                        <td>Lima</td>
                        <td>01100</td>
                        <td>110</td>
                        <td>0x4C</td>
                        <td>0x6C</td>
                        <td>Y</td>
                        <td>25</td>
                        <td>Yankee</td>
                        <td>11001</td>
                        <td>221</td>
                        <td>0x59</td>
                        <td>0x79</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>13</td>
                        <td>Mike</td>
                        <td>01101</td>
                        <td>111</td>
                        <td>0x4D</td>
                        <td>0x6D</td>
                        <td>Z</td>
                        <td>26</td>
                        <td>Zulu</td>
                        <td>11010</td>
                        <td>222</td>
                        <td>0x5A</td>
                        <td>0x7A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <div class="center-container">
        <div class="shrink-wrap" style="text-align:left;">
            <p>
                In general, numbers in the following ranges can represent ASCII codes:
                <ul>
                    <li>The range 48&ndash;57 (0x30&ndash;0x39) represents digits, where 48 is '0' and 57 is '9'.</li>
                    <li>The range 65&ndash;90 (0x41&ndash;0x5A) represents uppercase letters, where 65 is 'A' and 90 is 'Z'.</li>
                    <li>The range 97&ndash;122 (0x61&ndash;0x7A) represents lowercase letters, where 97 is 'a' and 122 is 'z'.</li>
                </ul>
            </p>
            <div class="shrink-wrap">
                Sometimes, pictoral encodings will just use letters for A = 1, B = 2, etc. with a prefix to show that they're numbers and not letters.<br />For example,
                <img src="/images/Semaphore.png" style="object-fit:none;object-position:-260px -530px;width:64px;height:74px" alt="Semaphore symbol for a number" /> is the sign for a number in semaphore, and
                <img src="/images/braille-alphabet-and-braille-numbers.png" style="object-fit:none;object-position:0px -253px;width:48px;height:76px" alt="Braille symbol for a number" /> is the sign for a number in braille.
            </div>
        </div>
    </div>
    <div class="center-container">
        <h3>Numerical encodings</h3>
        <div>To view an image that contains every letter for a particular encoding, click the heading for that encoding.</div>
        <div class="shrink-wrap">
            <table class="numerical-table">
                <thead>
                    <tr class="table-header">
                        <td>Letter</td>
                        <td>Telephone<br />digits</td>
                        <td><a href="/images/MorseCode.png" target="_blank">Morse Code</a></td>
                        <td><a href="/images/nautical-flags.jpg" target="_blank">Maritime<br />flags (ICS)</a></td>
                        <td><a href="/images/nato-flags.jpg" target="_blank">Maritime<br />flags (NATO)</a></td>
                        <td><a href="/images/asl-numbers-1-10.jpg" target="_blank">American Sign<br />Language</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0</td>
                        <td></td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -350px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-574px -935px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -716px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-42px -241px"></div></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -231px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-566px -122px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-363px -181px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-176px -228px"></div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>ABC</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -244px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-569px -217px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-363px -242px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-316px -226px"></div></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>DEF</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -257px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-570px -304px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -299px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-474px -228px"></div></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>GHI</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -271px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-570px -393px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -358px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-631px -224px"></div></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>JKL</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -284px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-571px -484px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -419px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-797px -225px"></div></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>MNO</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -297px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-572px -577px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -478px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-109px -472px"></div></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>PQRS</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -311px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-573px -664px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -537px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-258px -471px"></div></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>TUV</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -324px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-571px -756px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-363px -597px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-414px -477px"></div></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>WXYZ</td>
                        <td><div class="morse-background morse-number-background" style="background-position:-162px -337px;"></div></td>
                        <td><div class="maritime-background maritime-number-background" style="background-position:-574px -850px;"></div></td>
                        <td><div class="nato-number-background" style="background-position:-364px -657px;"></div></td>
                        <td><div class="asl-number-background" style="background-position:-564px -468px"></div></td>
                    </tr>
                </tbody>
            </table>
            <div>Learn more about <a href="https://en.wikipedia.org/wiki/Telephone_keypad#Layout" target="_blank">Telephone digits</a></div>
            <div>Learn more about <a href="https://en.wikipedia.org/wiki/Morse_code" target="_blank">Morse Code</a></div>
            <div>Learn more about <a href="https://en.wikipedia.org/wiki/International_Code_of_Signals#Standards" target="_blank">Maritime flags (ICS)</a></div>
            <div>Learn more about <a href="https://en.wikipedia.org/wiki/Naval_flag_signalling#Numerals" target="_blank">Maritime flags (NATO)</a></div>
            <div>Learn more about <a href="https://en.wikipedia.org/wiki/American_Sign_Language#Fingerspelling" target="_blank">American Sign Language</a></div>
        </div>
    </div>

    <h3>Common Representations of Letters and Numbers</h3>

    <h4>Morse Code Tree</h4>
    <p>
        The following diagram is a handy way to quickly decipher Morse code letters.  From the node labeled "start," travel downward across dotted or dashed lines accordingly.  For example, following the dotted line twice and the dashed line once will lead to the letter U, which is represented by "dot-dot-dash" in Morse code.  (Missing nodes indicate invalid Morse code letters.)
    </p>

    <svg xmlns="http://www.w3.org/2000/svg" class="center-block" width="49em" height="20em">
        <!-- Lines -->
        <g stroke="#000">
            <!-- Dotted -->
            <g stroke-width="2" stroke-dasharray="2">
                <line x1="24.5em" y1="2em" x2="12.5em" y2="6em" />
                <line x1="12.5em" y1="6em" x2="6.5em" y2="10em" />
                <line x1="36.5em" y1="6em" x2="30.5em" y2="10em" />
                <line x1="6.5em" y1="10em" x2="3.5em" y2="14em" />
                <line x1="18.5em" y1="10em" x2="15.5em" y2="14em" />
                <line x1="30.5em" y1="10em" x2="27.5em" y2="14em" />
                <line x1="42.5em" y1="10em" x2="39.5em" y2="14em" />
                <line x1="3.5em" y1="14em" x2="2em" y2="18em" />
                <line x1="9.5em" y1="14em" x2="8em" y2="18em" />
                <line x1="15.5em" y1="14em" x2="14em" y2="18em" />
                <line x1="21.5em" y1="14em" x2="20em" y2="18em" />
                <line x1="27.5em" y1="14em" x2="26em" y2="18em" />
                <line x1="33.5em" y1="14em" x2="32em" y2="18em" />
                <line x1="39.5em" y1="14em" x2="38em" y2="18em" />
            </g>
            <!-- Dashed -->
            <g stroke-width="2" stroke-dasharray="6 3">
                <line x1="24.5em" y1="2em" x2="36.5em" y2="6em" />
                <line x1="12.5em" y1="6em" x2="18.5em" y2="10em" />
                <line x1="36.5em" y1="6em" x2="42.5em" y2="10em" />
                <line x1="6.5em" y1="10em" x2="9.5em" y2="14em" />
                <line x1="18.5em" y1="10em" x2="21.5em" y2="14em" />
                <line x1="30.5em" y1="10em" x2="33.5em" y2="14em" />
                <line x1="42.5em" y1="10em" x2="45.5em" y2="14em" />
                <line x1="3.5em" y1="14em" x2="5em" y2="18em" />
                <line x1="21.5em" y1="14em" x2="23em" y2="18em" />
                <line x1="27.5em" y1="14em" x2="29em" y2="18em" />
                <line x1="33.5em" y1="14em" x2="35em" y2="18em" />
                <line x1="39.5em" y1="14em" x2="41em" y2="18em" />
            </g>
        </g>
        <!-- Nodes -->
        <g fill="#ccc" stroke="#000">
            <rect x="23em" y="1em" width="3em" height="2em" />
            <circle cx="27.5em" cy="14em" r="1em" />
            <circle cx="33.5em" cy="14em" r="1em" />
            <circle cx="39.5em" cy="14em" r="1em" />
            <circle cx="45.5em" cy="14em" r="1em" />
            <circle cx="12.5em" cy="6em" r="1em" />
            <circle cx="36.5em" cy="6em" r="1em" />
            <circle cx="6.5em" cy="10em" r="1em" />
            <circle cx="18.5em" cy="10em" r="1em" />
            <circle cx="30.5em" cy="10em" r="1em" />
            <circle cx="42.5em" cy="10em" r="1em" />
            <circle cx="3.5em" cy="14em" r="1em" />
            <circle cx="9.5em" cy="14em" r="1em" />
            <circle cx="15.5em" cy="14em" r="1em" />
            <circle cx="21.5em" cy="14em" r="1em" />
            <circle cx="2em" cy="18em" r="1em" />
            <circle cx="5em" cy="18em" r="1em" />
            <circle cx="8em" cy="18em" r="1em" />
            <circle cx="14em" cy="18em" r="1em" />
            <circle cx="20em" cy="18em" r="1em" />
            <circle cx="23em" cy="18em" r="1em" />
            <circle cx="26em" cy="18em" r="1em" />
            <circle cx="29em" cy="18em" r="1em" />
            <circle cx="32em" cy="18em" r="1em" />
            <circle cx="35em" cy="18em" r="1em" />
            <circle cx="38em" cy="18em" r="1em" />
            <circle cx="41em" cy="18em" r="1em" />
        </g>
        <!-- Text -->
        <g text-anchor="middle" font-weight="bolder">
            <text x="24.5em" y="2.35em">start</text>
            <text x="12.5em" y="6.35em">E</text>
            <text x="36.5em" y="6.35em">T</text>
            <text x="6.5em" y="10.35em">I</text>
            <text x="18.5em" y="10.35em">A</text>
            <text x="30.5em" y="10.35em">N</text>
            <text x="42.5em" y="10.35em">M</text>
            <text x="3.5em" y="14.35em">S</text>
            <text x="9.5em" y="14.35em">U</text>
            <text x="15.5em" y="14.35em">R</text>
            <text x="21.5em" y="14.35em">W</text>
            <text x="27.5em" y="14.35em">D</text>
            <text x="33.5em" y="14.35em">K</text>
            <text x="39.5em" y="14.35em">G</text>
            <text x="45.5em" y="14.35em">O</text>
            <text x="2em" y="18.35em">H</text>
            <text x="5em" y="18.35em">V</text>
            <text x="8em" y="18.35em">F</text>
            <text x="14em" y="18.35em">L</text>
            <text x="20em" y="18.35em">P</text>
            <text x="23em" y="18.35em">J</text>
            <text x="26em" y="18.35em">B</text>
            <text x="29em" y="18.35em">X</text>
            <text x="32em" y="18.35em">C</text>
            <text x="35em" y="18.35em">Y</text>
            <text x="38em" y="18.35em">Z</text>
            <text x="41em" y="18.35em">Q</text>
        </g>
    </svg>

    <h4>Semaphore Chart</h4>
    <p>
        The following chart can be used to help decode semaphore quickly.  If the two flags form a straight line, use the smaller circle on the left to determine the correct letter.  Otherwise, find the appropriate pie slice among the other six circles corresponding to the two directions.
    </p>
    <svg xmlns="http://www.w3.org/2000/svg" class="center-block" width="24.5em" height="13em">
        <!-- 1/8 slice : 2.00em from center -->
        <!-- 1/4 slice : 1.75em from center -->
        <!-- 3/8 slice : 1.50em from center -->
        <symbol id="semaphoreCircleB1" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="0.25em" y2="3.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="5.3713203436em" y2="1.1286796564em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="5.3713203436em" y2="5.3713203436em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="5em" y="3.6em">X</text>
                <text x="2.6759748515em" y="2.2141807012em">Q</text>
                <text x="2.6759748515em" y="4.9858192988em">S</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB2" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="6.25em" y2="3.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="1.1286796564em" y2="1.1286796564em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="1.1286796564em" y2="5.3713203436em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="1.5em" y="3.6em">I</text>
                <text x="3.8240251485em" y="2.2141807012em">Y</text>
                <text x="3.8240251485em" y="4.9858192988em">M</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB3" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="0.25em" y1="3.25em" x2="6.25em" y2="3.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="0.25em" x2="3.25em" y2="6.25em" stroke-linecap="round" stroke="#000" />
            <line x1="1.1286796564em" y1="1.1286796564em" x2="5.3713203436em" y2="5.3713203436em" stroke-linecap="round" stroke="#000" />
            <line x1="1.1286796564em" y1="5.3713203436em" x2="5.3713203436em" y2="1.1286796564em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="5.0977590650em" y="2.8346331353em">W</text>
                <text x="4.0153668647em" y="1.7522409350em">#</text>
                <text x="2.4846331353em" y="1.7522409350em">T</text>
                <text x="1.4022409350em" y="2.8346331353em">O</text>
                <text x="1.4022409350em" y="4.3653668647em">H</text>
                <text x="2.4846331353em" y="5.4477590650em">A</text>
                <text x="4.0153668647em" y="5.4477590650em">G</text>
                <text x="5.0977590650em" y="4.3653668647em">Z</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB4" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="3.25em" y2="6.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="5.3713203436em" y2="1.1286796564em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="1.1286796564em" y2="1.1286796564em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="3.25em" y="1.85em">U</text>
                <text x="1.8641807012em" y="4.1740251845em">C</text>
                <text x="4.6358192988em" y="4.1740251845em">E</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB5" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="3.25em" y2="0.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="5.3713203436em" y2="5.3713203436em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="3.25em" x2="1.1286796564em" y2="5.3713203436em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="3.25em" y="5.35em">N</text>
                <text x="1.8641807012em" y="3.0259748515em">K</text>
                <text x="4.6358192988em" y="3.0259748515em">V</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB6" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="3em" fill="none" stroke="#000" />
            <line x1="3.25em" y1="0.25em" x2="3.25em" y2="6.25em" stroke-linecap="round" stroke="#000" />
            <line x1="0.25em" y1="3.25em" x2="6.25em" y2="3.25em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <text x="2.0125631329em" y="2.3625631329em">P</text>
                <text x="4.4874368671em" y="2.3625631329em">J</text>
                <text x="2.0125631329em" y="4.8374368671em">B</text>
                <text x="4.4874368671em" y="4.8374368671em">F</text>
            </g>
        </symbol>
        <symbol id="semaphoreCircleB7" width="6.5em" height="6.5em">
            <circle cx="3.25em" cy="3.25em" r="1.25em" fill="none" stroke="#000" />
            <line x1="2em" y1="3.25em" x2="4.5em" y2="3.25em" stroke-linecap="round" stroke="#000" />
            <line x1="3.25em" y1="2em" x2="3.25em" y2="4.5em" stroke-linecap="round" stroke="#000" />
            <line x1="2.3661165235em" y1="4.1338834765em" x2="4.1338834765em" y2="2.3661165235em" stroke-linecap="round" stroke="#000" />
            <g text-anchor="middle" font-weight="bolder">
                <!-- 2em from the center -->
                <text x="5.25em" y="3.6em">R</text>
                <text x="3.25em" y="5.6em">D</text>
                <text x="4.6642135624em" y="2.1857864376em">L</text>
            </g>
        </symbol>

        <use xlink:href="#semaphoreCircleB1" x="5em" y="0em" />
        <use xlink:href="#semaphoreCircleB2" x="11.5em" y="0em" />
        <use xlink:href="#semaphoreCircleB3" x="18em" y="0em" />
        <use xlink:href="#semaphoreCircleB4" x="5em" y="6.5em" />
        <use xlink:href="#semaphoreCircleB5" x="11.5em" y="6.5em" />
        <use xlink:href="#semaphoreCircleB6" x="18em" y="6.5em" />
        <use xlink:href="#semaphoreCircleB7" x="-1em" y="3.25em" />
    </svg>

    <h4>Pigpen Cipher</h4>
    <p>The <a href="https://en.wikipedia.org/wiki/Pigpen_cipher" target="_blank">Pigpen cipher</a>, developed by the Freemasons for secret communication, encodes each letter as a symbol. The encoding is described by the grids below: each letter is encoded by replacing it with the symbol corresponding to the part of the grid that contains the letter.</p>
    <div class="center-container">
        <img src="/images/Pigpen.gif" alt="Pigpen key" />
        <p>For example:</p>
        <img src="/images/PigpenExamples.gif" alt="Pigpen example" />
    </div>

    <div class="grid-2">
        <div class="center-container">
            <div class="shrink-wrap">
                <h4>Roman Numerals</h4>
                <p style="text-align:left;">The ancient Romans used letters to represent numbers and had <a href="https://en.wikipedia.org/wiki/Roman_numerals" target="_blank">specific rules</a> for combining them:</p>
                <div class="shrink-wrap">
                    <table>
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>I</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>V</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>X</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>C</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>D</td>
                                <td>500</td>
                            </tr>
                            <tr>
                                <td>M</td>
                                <td>1000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="center-container">
            <div class="shrink-wrap">
                <h4>Ciphers and rotations</h4>
                <p style="text-align:left;">
                    Sometimes, letters will be subsituted for other letters, and you'll need to figure out what the mapping is.  One common method is a <a href="https://en.wikipedia.org/wiki/Caesar_cipher" target="_blank">Caesar cipher</a>, or rotation cipher, where every letter in the alphabet is "rotated" or moved down a certain number of letters. For example, rotating by 1 gives:
                </p>
                <div style="font-family:monospace;">Input:&nbsp;&nbsp;ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
                <div style="font-family:monospace;">Output:&nbsp;BCDEFGHIJKLMNOPQRSTUVWXYZA</div>
                <br />
                <p>
                    Rotating by 5 gives:
                </p>
                <div style="font-family:monospace;">Input:&nbsp;&nbsp;ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
                <div style="font-family:monospace;">Output:&nbsp;FGHIJKLMNOPQRSTUVWXYZABCDE</div>
                <br />
                <p>
                    Or, rotating by 13 gives:
                </p>
                <div style="font-family:monospace;">Input:&nbsp;&nbsp;ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
                <div style="font-family:monospace;">Output:&nbsp;NOPQRSTUVWXYZABCDEFGHIJKLM</div>
            </div>
        </div>
    </div>

    <h3>Colors</h3>

    <div class="grid-2">
        <div class="center-container">
            <div class="shrink-wrap">
                <h4>Rainbow Order</h4>
                <p style="text-align:left;">
                    Rainbow order is the order that colors appear in the color spectrum.  If you see these colors in a puzzle, try reading partial answers in rainbow order.  A common mnemonic to remember the order is <a href="https://en.wikipedia.org/wiki/Roy_G._Biv" target="_blank">Roy G. Biv</a>.
                </p>
                <div class="shrink-wrap">
                    <table>
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Color</th>
                            </tr>
                            <tr style="background-color: #ff0000; color: #ffffff;">
                                <td>1</td>
                                <td>Red</td>
                            </tr>
                            <tr style="background-color: #ff7000;">
                                <td>2</td>
                                <td>Orange</td>
                            </tr>
                            <tr style="background-color: #ffff00;">
                                <td>3</td>
                                <td>Yellow</td>
                            </tr>
                            <tr style="background-color: #22bb00;">
                                <td>4</td>
                                <td>Green</td>
                            </tr>
                            <tr style="background-color: #0090ff; color: #ffffff;">
                                <td>5</td>
                                <td>Blue</td>
                            </tr>
                            <tr style="background-color: #4d00e0; color: #ffffff;">
                                <td>6</td>
                                <td>Indigo</td>
                            </tr>
                            <tr style="background-color: #d900db; color: #ffffff;">
                                <td>7</td>
                                <td>Violet</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="center-container">
            <div class="shrink-wrap">
                <h4>Resistor Color Codes</h4>
                <p style="text-align:left;">
                    Electrical resistors use <a href="https://en.wikipedia.org/wiki/Electronic_color_code#Resistor_color-coding" target="_blank">color bands</a> on them to indicate their resistance values.  This can serve as a good way to convert colors to digits.
                </p>
                <div class="shrink-wrap">
                    <table>
                        <tbody>
                            <tr>
                                <th>#</th>
                                <th>Color</th>
                            </tr>
                            <tr style="background-color: #000000; color: #fff;">
                                <td>0</td>
                                <td>Black</td>
                            </tr>
                            <tr style="background-color: #803600; color: #fff;">
                                <td>1</td>
                                <td>Brown</td>
                            </tr>
                            <tr style="background-color: #ff0000; color: #fff;">
                                <td>2</td>
                                <td>Red</td>
                            </tr>
                            <tr style="background-color: #ff7000;">
                                <td>3</td>
                                <td>Orange</td>
                            </tr>
                            <tr style="background-color: #ffff00;">
                                <td>4</td>
                                <td>Yellow</td>
                            </tr>
                            <tr style="background-color: #22bb00;">
                                <td>5</td>
                                <td>Green</td>
                            </tr>
                            <tr style="background-color: #0090ff; color: #fff;">
                                <td>6</td>
                                <td>Blue</td>
                            </tr>
                            <tr style="background-color: #d900db; color: #fff;">
                                <td>7</td>
                                <td>Violet</td>
                            </tr>
                            <tr style="background-color: #aaaaaa;">
                                <td>8</td>
                                <td>Gray</td>
                            </tr>
                            <tr style="background-color: #ffffff;">
                                <td>9</td>
                                <td>White</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h4>Mixing Colors</h4>
    <div class="grid-2">
        <div class="center-container">
            <p style="text-align:left;">
                When using pigments like paints, adding colors together makes them darker.
            </p>
            <br />
            <img src="/images/ryb-color-mixture.png" width="300" height="300" alt="Pigment combination" />
        </div>
        <div class="center-container">
            <p style="text-align:left;">
                Light, on the other hand, combines to create white.
            </p>
            <img src="/images/rgb-color-mixture.png" width="400" height="400" alt="Light combination" />
        </div>
    </div>

    <h3>Symbols</h3>
    <p>Here are some other symbols you may see and need to figure out how to use.</p>

    <div class="grid-3">
        <div class="center-container">
            <h4>Astrological symbols</h4>
            <div class="shrink-wrap">
                <table>
                    <tbody>
                        <tr>
                            <th>Sign</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td>&#x2648;</td>
                            <td>Aries</td>
                        </tr>
                        <tr>
                            <td>&#x2649;</td>
                            <td>Taurus</td>
                        </tr>
                        <tr>
                            <td>&#x264A;</td>
                            <td>Gemini</td>
                        </tr>
                        <tr>
                            <td>&#x264B;</td>
                            <td>Cancer</td>
                        </tr>
                        <tr>
                            <td>&#x264C;</td>
                            <td>Leo</td>
                        </tr>
                        <tr>
                            <td>&#x264D;</td>
                            <td>Virgo</td>
                        </tr>
                        <tr>
                            <td>&#x264E;</td>
                            <td>Libra</td>
                        </tr>
                        <tr>
                            <td>&#x264F;</td>
                            <td>Scorpio</td>
                        </tr>
                        <tr>
                            <td>&#x2650;</td>
                            <td>Sagittarius</td>
                        </tr>
                        <tr>
                            <td>&#x2651;</td>
                            <td>Capricorn</td>
                        </tr>
                        <tr>
                            <td>&#x2652;</td>
                            <td>Aquarius</td>
                        </tr>
                        <tr>
                            <td>&#x2653;</td>
                            <td>Pisces</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="center-container">
            <h4>Chinese Zodiac</h4>
            <div class="shrink-wrap">
                <table>
                    <tbody>
                        <tr>
                            <th>Sign</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td>&#x5B50;</td>
                            <td>Rat</td>
                        </tr>
                        <tr>
                            <td>&#x4E11;</td>
                            <td>Ox</td>
                        </tr>
                        <tr>
                            <td>&#x5B5C;</td>
                            <td>Tiger</td>
                        </tr>
                        <tr>
                            <td>&#x536F;</td>
                            <td>Rabbit</td>
                        </tr>
                        <tr>
                            <td>&#x8FB0;</td>
                            <td>Dragon</td>
                        </tr>
                        <tr>
                            <td>&#x5DF3;</td>
                            <td>Snake</td>
                        </tr>
                        <tr>
                            <td>&#x5348;</td>
                            <td>Horse</td>
                        </tr>
                        <tr>
                            <td>&#x672A;</td>
                            <td>Goat</td>
                        </tr>
                        <tr>
                            <td>&#x7533;</td>
                            <td>Monkey</td>
                        </tr>
                        <tr>
                            <td>&#x9149;</td>
                            <td>Rooster</td>
                        </tr>
                        <tr>
                            <td>&#x620C;</td>
                            <td>Dog</td>
                        </tr>
                        <tr>
                            <td>&#x4EA5;</td>
                            <td>Pig</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="center-container">
            <h4>Planets</h4>
            <div class="shrink-wrap">
                <table>
                    <tbody>
                        <tr>
                            <th>Sign</th>
                            <th>Name</th>
                        </tr>
                        <tr>
                            <td>&#x2609;</td>
                            <td>Sun</td>
                        </tr>
                        <tr>
                            <td>&#x263D;</td>
                            <td>Moon</td>
                        </tr>
                        <tr>
                            <td>&#x263F;</td>
                            <td>Mercury</td>
                        </tr>
                        <tr>
                            <td>&#x2640;</td>
                            <td>Venus</td>
                        </tr>
                        <tr>
                            <td>&#x1F728;</td>
                            <td>Earth</td>
                        </tr>
                        <tr>
                            <td>&#x2642;</td>
                            <td>Mars</td>
                        </tr>
                        <tr>
                            <td>&#x2643;</td>
                            <td>Jupiter</td>
                        </tr>
                        <tr>
                            <td>&#x2644;</td>
                            <td>Saturn</td>
                        </tr>
                        <tr>
                            <td>&#x2645;</td>
                            <td>Uranus</td>
                        </tr>
                        <tr>
                            <td>&#x2646;</td>
                            <td>Neptune</td>
                        </tr>
                        <tr>
                            <td>&#x2647;</td>
                            <td>Pluto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="grid-2">
        <div class="center-container">
            <h4><a href="https://en.wikipedia.org/wiki/Moon_type" target="_blank">Moon Type</a></h4>
            <div class="shrink-wrap">
                <table>
                    <tbody>
                        <tr>
                            <th>Letter</th>
                            <th>Symbol</th>
                        </tr>
                        <tr>
                            <td>A</td>
                            <td><div class="moon-background" style="background-position:-7px -9px"></div></td>
                        </tr>
                        <tr>
                            <td>B</td>
                            <td><div class="moon-background" style="background-position:-77px -8px"></div></td>
                        </tr>
                        <tr>
                            <td>C</td>
                            <td><div class="moon-background" style="background-position:-150px -9px"></div></td>
                        </tr>
                        <tr>
                            <td>D</td>
                            <td><div class="moon-background" style="background-position:-220px -9px"></div></td>
                        </tr>
                        <tr>
                            <td>E</td>
                            <td><div class="moon-background" style="background-position:-293px -9px"></div></td>
                        </tr>
                        <tr>
                            <td>F</td>
                            <td><div class="moon-background" style="background-position:-365px -9px"></div></td>
                        </tr>
                        <tr>
                            <td>G</td>
                            <td><div class="moon-background" style="background-position:-6px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>H</td>
                            <td><div class="moon-background" style="background-position:-78px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>I</td>
                            <td><div class="moon-background" style="background-position:-149px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>J</td>
                            <td><div class="moon-background" style="background-position:-222px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>K</td>
                            <td><div class="moon-background" style="background-position:-294px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td><div class="moon-background" style="background-position:-365px -99px"></div></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td><div class="moon-background" style="background-position:-6px -189px"></div></td>
                        </tr>
                        <tr>
                            <td>N</td>
                            <td><div class="moon-background" style="background-position:-79px -190px"></div></td>
                        </tr>
                        <tr>
                            <td>O</td>
                            <td><div class="moon-background" style="background-position:-151px -190px"></div></td>
                        </tr>
                        <tr>
                            <td>P</td>
                            <td><div class="moon-background" style="background-position:-223px -197px"></div></td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td><div class="moon-background" style="background-position:-294px -197px"></div></td>
                        </tr>
                        <tr>
                            <td>R</td>
                            <td><div class="moon-background" style="background-position:-366px -190px"></div></td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td><div class="moon-background" style="background-position:-6px -280px"></div></td>
                        </tr>
                        <tr>
                            <td>T</td>
                            <td><div class="moon-background" style="background-position:-79px -280px"></div></td>
                        </tr>
                        <tr>
                            <td>U</td>
                            <td><div class="moon-background" style="background-position:-150px -280px"></div></td>
                        </tr>
                        <tr>
                            <td>V</td>
                            <td><div class="moon-background" style="background-position:-223px -280px"></div></td>
                        </tr>
                        <tr>
                            <td>W</td>
                            <td><div class="moon-background" style="background-position:-294px -283px"></div></td>
                        </tr>
                        <tr>
                            <td>X</td>
                            <td><div class="moon-background" style="background-position:-365px -281px"></div></td>
                        </tr>
                        <tr>
                            <td>Y</td>
                            <td><div class="moon-background" style="background-position:-6px -373px"></div></td>
                        </tr>
                        <tr>
                            <td>Z</td>
                            <td><div class="moon-background" style="background-position:-77px -373px"></div></td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td><div class="moon-background" style="background-position:-151px -370px"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="center-container">
            <h4>Greek Alphabet</h4>
            <div class="shrink-wrap">
                <table>
                    <tbody>
                        <tr>
                            <th>Symbol</th>
                            <th>Letter</th>
                        </tr>
                        <tr>
                            <td>Α α</td>
                            <td>alpha</td>
                        </tr>
                        <tr>
                            <td>Β β</td>
                            <td>beta</td>
                        </tr>
                        <tr>
                            <td>Γ γ</td>
                            <td>gamma</td>
                        </tr>
                        <tr>
                            <td>Δ δ</td>
                            <td>delta</td>
                        </tr>
                        <tr>
                            <td>Ε ε</td>
                            <td>epsilon</td>
                        </tr>
                        <tr>
                            <td>Ζ ζ</td>
                            <td>zeta</td>
                        </tr>
                        <tr>
                            <td>Η η</td>
                            <td>eta</td>
                        </tr>
                        <tr>
                            <td>Θ θ</td>
                            <td>theta</td>
                        </tr>
                        <tr>
                            <td>Ι ι</td>
                            <td>iota</td>
                        </tr>
                        <tr>
                            <td>Κ κ</td>
                            <td>kappa</td>
                        </tr>
                        <tr>
                            <td>Λ λ</td>
                            <td>lambda</td>
                        </tr>
                        <tr>
                            <td>Μ μ</td>
                            <td>mu</td>
                        </tr>
                        <tr>
                            <td>Ν ν</td>
                            <td>nu</td>
                        </tr>
                        <tr>
                            <td>Ξ ξ</td>
                            <td>xi</td>
                        </tr>
                        <tr>
                            <td>Ο ο</td>
                            <td>omicron</td>
                        </tr>
                        <tr>
                            <td>Π π</td>
                            <td>pi</td>
                        </tr>
                        <tr>
                            <td>Ρ ρ</td>
                            <td>rho</td>
                        </tr>
                        <tr>
                            <td>Σ σ</td>
                            <td>sigma</td>
                        </tr>
                        <tr>
                            <td>Τ τ</td>
                            <td>tau</td>
                        </tr>
                        <tr>
                            <td>Υ υ</td>
                            <td>upsilon</td>
                        </tr>
                        <tr>
                            <td>Φ φ</td>
                            <td>phi</td>
                        </tr>
                        <tr>
                            <td>Χ χ</td>
                            <td>chi</td>
                        </tr>
                        <tr>
                            <td>Ψ ψ</td>
                            <td>psi</td>
                        </tr>
                        <tr>
                            <td>Ω ω</td>
                            <td>omega</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
