
<div class="container">
    <h1>Puzzle Solving Tools</h1>

    <p>
        If you're wondering how the top teams are able to solve so many puzzles so
        quickly, part of the answer is that they're probably not relying solely on
        their brainpower. Puzzles in the Puzzlehunt often involve anagramming,
        deleting, or otherwise manipulating letters and words to discover new words.
        This is a task well-suited to computers. Since we can't effectively ban the
        use of such tools, the least we can do is share the locations of some of them
        to help level the playing field.
    </p>

    <h3><a href="http://www.crosswordman.com/tea.html">The Electronic Alveary (TEA)</a></h3>
    <p>
        TEA (The Electronic Alveary) allows you to search word lists for words
        that match a pattern. TEA's pattern language supports simple template and
        anagram searches, but also has the flexibility to perform many more
        complicated queries.  Check the Quick Reference page on the help menu to see
        the kinds of things TEA can do for you. Typing ;STIN for example will product
        all anagrams of the letters STIN (ISN'T, NITS, TINS, SNIT).
    </p>

    <h3><a href="http://www.valuecube.com/lexpert/LXP321.exe">LeXpert</a></h3>
    <p>
        LeXpert is a software program designed to assist word game enthusiasts in
        expanding their knowledge of words. It offers more than 3500 word lists and
        different ways of viewing these lists. Customized lists can be created based on
        patterns, cryptograms, anagrams, number of vowels, etc. It offers similar
        functionality to TEA.
    </p>

    <h3><a href="http://www.ics.uci.edu/~eppstein/cryptogram/">Cryptogram Helper</a></h3>
    <p>
        Cryptogram solver which not only provides a helpful interface for
        replacing letters in a cryptogram, but can also solve the cryptogram for you.
        You don't really think we'd give you any cryptograms that can be solved this
        way, do you?
    </p>

    <h3><a href="http://www.oneacross.com">One Across</a></h3>
    <p>Database of crossword clues.</p>

    <h3><a href="http://en.wikipedia.org/wiki/Cryptic_crosswords#Clues">Cryptic Crossword Solving Hints</a></h3>
    <p>
        Detailed hints for solving cryptic crossword, including explanations and
        samples of all the major clue types.
    </p>

    <h3>
        <a href="http://www.puzzlers.org/dokuwiki/doku.php?id=solving:wordlists:dictionary_search_adv">
            National Puzzlers League Base Finding Tools
        </a>
    </h3>
    <p>Search tools for all kinds of word forms, including many you never knew existed.</p>

    <h3><a href="http://www.imdb.com">Internet Movie Database</a></h3>
    <p>Did we really need to tell you about this one?</p>

    <h3><a href="http://www.puzzazz.com/how-to-solve">Puzz Azz</a></h3>
    <p>various puzzle solving techinques.</p>

    <h3><a href="http://www.windowsphone.com/en-us/store/app/geek-card-plus/a00e7853-c587-4a46-8fb5-ceef2f1c8dde">Geek Card Plus</a></h3>
    <p>A <strong>Windows Phone</strong> App written by one of our regular Puzzlehunt Authors!</p>

    <h3><a href="http://zyzzyva.net/">Zyzzyva</a></h3>
    <p>An app on Windows Phone, Android, and iOS. Zyzzyva is the word judge program of choice at major events such as the North American SCRABBLE Championship, the North American School SCRABBLE Championship, the Canadian National SCRABBLE Championship and the World SCRABBLE Championship, as well as at smaller events, clubs and gatherings around the world.</p>
</div>

