@{
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    bool IsRegistered = false;
    if (eventPage != null)
    {
        IsRegistered = await eventPage.IsRegisteredUser();
    }
}

<div class="container" id="pd2020-container">
    <h2 class="pd2020-title">
        <span>Non-Intern Puzzleday </span><span style="white-space:nowrap;"><span class="redblue">2</span><span class="greenyellow">0</span></span>
    </h2>
    <br class="pd2020-emphasis"/>

    <div class="pd2020-container-root">
        <div class="pd2020-container-card">
            <h3>WELCOME TO NIPD</h3>
            <p>As a 2020 Microsoft FTE at Microsoft in 2020 (or a family member or friend), you have the unique opportunity to participate in Microsoft&rsquo;s Non-Intern Puzzleday in August August 2020! This year, we&rsquo;re doubling down on the fun with 2x of the excitement and 2x of the fun. Whether you&rsquo;re in New York, New York or Walla Walla, Washington, we expect that you will have a great great time.</p>

            <p>This year&rsquo;s event will take place on <b>Saturday, August 29<sup>th</sup></b> from <b>11am-5pm PDT</b>.</p>

            <p>Take a look at our <b><a asp-page="/EventSpecific/FAQ">FAQ</a></b> and <b><a asp-page="/EventSpecific/Rules">Rules</a></b> if you have any questions.</p>

            <p>We invite participation by FTEs, friends, and families of all abilities. If you require an accommodation,  please reach out to us at <a href="mailto:puzzhunt@microsoft.com">puzzhunt@microsoft.com</a>.</p>
        </div>

        <div class="pd2020-container-card">
            <h3>SCHEDULE (all times PDT)</h3>

            <p>On <b>August 29<sup>th</sup></b>, at <b>11am</b>, we will have a short opening session where we will go over rules and theme. After that, your team will have until <b>5pm</b> to solve as many puzzles as you can! <ul><li><b><a href="https://aka.ms/nipdopening">Join the opening session</a></b> (link updated shortly before)</li></ul></p>
            <p>On <b>August 29<sup>th</sup></b>, at <b>5pm</b>, We will have a short closing session where we will announce winners and wrap up the event. <ul><li><b><a href="https://aka.ms/nipdclosing">Join the closing session</a></b> (link updated shortly before)</li></ul></p>
        </div>

        <div class="pd2020-container-card">
            <h3>HOW TO SIGN UP</h3>
            <p>If you don&rsquo;t have a team yet, you can <b><a asp-page="/Teams/List">create a team using the link here</a></b>. Teams will consist of 4-6 players with all levels of puzzle experience; each team must contain at least one FTE. Since this year&rsquo;s event is 100% virtual, your team doesn&rsquo;t even need to be in the same place geographically. Once you&rsquo;ve made a team, you can invite specific people to join you or leave your team open for anyone to join.</p>

            <p>If you want to join a team and haven&rsquo;t been specifically invited by anyone, you can <b><a asp-page="/Teams/List">find the list of teams looking for team members here</a></b> and request to join.</p>

            <p>If you&rsquo;re still looking for teammates, you should keep your team open by leaving &ldquo;Allow unsolicited applications&rdquo; checked on your team page. You can use the Bio to describe what your team philosophy is.</p>
        </div>

        <div class="pd2020-container-card">
            <h3>New to puzzles?</h3>
            <p>
                You might have seen a jigsaw puzzle, a crossword puzzle, or a Sudoku at some point in your life.
                But wait, there's more! Puzzleday puzzles sometimes always dial up the creativity, so you might see some brain-twisty, mind-bendy puzzles...
                Check out a few <a asp-page="/EventSpecific/Samples">sample puzzles</a> or our <a asp-page="/Resources/Archive">archive of puzzles</a>
                from past events.
            </p>
        </div>
    </div>
</div>
