@page "/{eventId}/{eventRole}/Teams/{teamId}/InternMeta/{puzzleId}"
@model ServerCore.Pages.Pieces.InternMetaModel

@{
    ViewData["Title"] = "Intern Puzzleday Meta";
}

<h2>Metapuzzle Pieces Earned</h2>

<table class="table">
    <tbody>
@foreach (var item in Model.EarnedPieces) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
        </tr>
}
    </tbody>
</table>
