################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ServerCore/bin
/ServerCore/obj
bin
obj
packages
*.suo
*.user
