################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PuzzleServer/v15
/ServerCore/bin
/ServerCore/obj
bin
obj
packages
*.suo
*.user