@page "/{eventId}/{eventRole}/Events/AddAdminOrAuthor"
@model ServerCore.Pages.Events.AddAdminOrAuthorModel

@{
    ViewData["Title"] = "Add admin or author";
    ViewData["AdminRoute"] = "/Events/Players";
    var roleString = Model.addAdmin ? "admin" : "author";
}

<div>

    <h2>Add @roleString</h2>

    <div>
        <a asp-page="/Events/Players">Back to player list</a>
    </div>

    <component type="typeof(ServerCore.Pages.Events.AddAdminOrAuthorPicker)" render-mode="Server"
               param-EventId="@Model.Event.ID"
               param-AddAdmin="@Model.addAdmin" />
</div>
