@inherits ServerCore.Pages.Components.UserPicker;

<h4>
    @if (AddAdmin)
    {
        <span>Current Administrators</span>
    }
    else
    {
        <span>Current Authors</span>
    }
</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                EmployeeAlias
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in CurrentAdminOrAuthors)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.EmployeeAlias
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>
    Select a user to make 
    @if (AddAdmin)
    {
        <span>administrator</span>
    }
    else
    {
        <span>author</span>
    }
</h4>

@{
    // Render base component
    base.BuildRenderTree(__builder);
}