@page
@model ServerCore.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create event";
}

<h2>Create a new event</h2>
<h3><span style="color: red">ALL TIMES UTC! Current time is @DateTime.UtcNow.ToShortTimeString()</span></h3>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Name" class="control-label"></label>
                <input asp-for="Event.Name" class="form-control" />
                <span asp-validation-for="Event.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.UrlString" class="control-label"></label>
                <input asp-for="Event.UrlString" class="form-control" />
                <span asp-validation-for="Event.UrlString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.HomePartial" class="control-label"></label>
                <input asp-for="Event.HomePartial" class="form-control" />
                <span asp-validation-for="Event.HomePartial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.ContactEmail" class="control-label"></label>
                <input asp-for="Event.ContactEmail" class="form-control" />
                <span asp-validation-for="Event.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxNumberOfTeams" class="control-label"></label>
                <input asp-for="Event.MaxNumberOfTeams" class="form-control" />
                <span asp-validation-for="Event.MaxNumberOfTeams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxTeamSize" class="control-label"></label>
                <input asp-for="Event.MaxTeamSize" class="form-control" />
                <span asp-validation-for="Event.MaxTeamSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxExternalsPerTeam" class="control-label"></label>
                <input asp-for="Event.MaxExternalsPerTeam" class="form-control" />
                <span asp-validation-for="Event.MaxExternalsPerTeam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.IsRemote" /> IsRemote
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.AllowsRemote" /> AllowsRemote
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.IsInternEvent" /> IsInternEvent
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.HasSwag" /> HasSwag
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.HasTShirts" /> HasTShirts
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.HasIndividualLunch" /> HasIndividualLunch
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.PlayersPerLunch" class="control-label"></label>
                <input asp-for="Event.PlayersPerLunch" class="form-control" />
                <span asp-validation-for="Event.PlayersPerLunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.DefaultLunch" class="control-label"></label>
                <input asp-for="Event.DefaultLunch" class="form-control" />
                <span asp-validation-for="Event.DefaultLunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.EventHasTeamSwag" /> EventHasTeamSwag
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.HideHints" /> HideHints
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamRegistrationBegin" class="control-label"></label>
                <input asp-for="Event.TeamRegistrationBegin" class="form-control" />
                <span asp-validation-for="Event.TeamRegistrationBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamRegistrationEnd" class="control-label"></label>
                <input asp-for="Event.TeamRegistrationEnd" class="form-control" />
                <span asp-validation-for="Event.TeamRegistrationEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamNameChangeEnd" class="control-label"></label>
                <input asp-for="Event.TeamNameChangeEnd" class="form-control" />
                <span asp-validation-for="Event.TeamNameChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamMembershipChangeEnd" class="control-label"></label>
                <input asp-for="Event.TeamMembershipChangeEnd" class="form-control" />
                <span asp-validation-for="Event.TeamMembershipChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamMiscDataChangeEnd" class="control-label"></label>
                <input asp-for="Event.TeamMiscDataChangeEnd" class="form-control" />
                <span asp-validation-for="Event.TeamMiscDataChangeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LunchReportDate" class="control-label"></label>
                <input asp-for="Event.LunchReportDate" class="form-control" />
                <span asp-validation-for="Event.LunchReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TeamDeleteEnd" class="control-label"></label>
                <input asp-for="Event.TeamDeleteEnd" class="form-control" />
                <span asp-validation-for="Event.TeamDeleteEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.EventBegin" class="control-label"></label>
                <input asp-for="Event.EventBegin" class="form-control" />
                <span asp-validation-for="Event.EventBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.AnswerSubmissionEnd" class="control-label"></label>
                <input asp-for="Event.AnswerSubmissionEnd" class="form-control" />
                <span asp-validation-for="Event.AnswerSubmissionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.AnswersAvailableBegin" class="control-label"></label>
                <input asp-for="Event.AnswersAvailableBegin" class="form-control" />
                <span asp-validation-for="Event.AnswersAvailableBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.StandingsAvailableBegin" class="control-label"></label>
                <input asp-for="Event.StandingsAvailableBegin" class="form-control" />
                <span asp-validation-for="Event.StandingsAvailableBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.StandingsOverride" /> StandingsOverride
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.ShowFastestSolves" /> ShowFastestSolves
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Event.AllowFeedback" /> AllowFeedback
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.LockoutIncorrectGuessLimit" class="control-label"></label>
                <input asp-for="Event.LockoutIncorrectGuessLimit" class="form-control" />
                <span asp-validation-for="Event.LockoutIncorrectGuessLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LockoutIncorrectGuessPeriod" class="control-label"></label>
                <input asp-for="Event.LockoutIncorrectGuessPeriod" class="form-control" />
                <span asp-validation-for="Event.LockoutIncorrectGuessPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.LockoutDurationMultiplier" class="control-label"></label>
                <input asp-for="Event.LockoutDurationMultiplier" class="form-control" />
                <span asp-validation-for="Event.LockoutDurationMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.MaxSubmissionCount" class="control-label"></label>
                <input asp-for="Event.MaxSubmissionCount" class="form-control" />
                <span asp-validation-for="Event.MaxSubmissionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Announcement" class="control-label"></label>
                <textarea asp-for="Event.Announcement" class="form-control"></textarea>
                <span asp-validation-for="Event.Announcement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.HomeContent" class="control-label"></label>
                <textarea asp-for="Event.HomeContent" class="form-control"></textarea>
                <span asp-validation-for="Event.HomeContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.FAQContent" class="control-label"></label>
                <textarea asp-for="Event.FAQContent" class="form-control"></textarea>
                <span asp-validation-for="Event.FAQContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.RulesContent" class="control-label"></label>
                <textarea asp-for="Event.RulesContent" class="form-control"></textarea>
                <span asp-validation-for="Event.RulesContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Copyright" class="control-label"></label>
                <textarea asp-for="Event.Copyright" class="form-control"></textarea>
                <span asp-validation-for="Event.Copyright" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TermForGroup" class="control-label"></label>
                <textarea asp-for="Event.TermForGroup" class="form-control"></textarea>
                <span asp-validation-for="Event.TermForGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
