<h3>LiveEventManagementComponent</h3>

<button @onclick="RegenerateScheduleAsync">Delete and Regenerate Live Event Schedule (big teams first)</button>
<button @onclick="RegenerateScheduleRandomlyAsync">Delete and Regenerate Live Event Schedule (order teams randomly)</button>