@page "/{eventId}/{eventRole}/Teams/{teamId}/AddMember"
@model ServerCore.Pages.Teams.AddMemberModel

@{
    ViewData["Title"] = "Add Member";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/AddMember";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/AddMember";
    Layout = "_teamLayout.cshtml";
}

<h2>@(Model.Team.Name): Add member</h2>

<div>
    <a asp-page="./Details" asp-route-teamId="@Model.Team.ID">Back to team details</a>
</div>

<component type="typeof(ServerCore.Pages.Teams.AddMemberPicker)" render-mode="Server"
           param-EventId="@Model.Event.ID"
           param-TeamId="@Model.Team.ID" />