@page "/{eventId}/{eventRole}/Teams/All"
@model ServerCore.Pages.Teams.AllTeamsModel

@{
    ViewData["Title"] = "All teams";
    ViewData["AdminRoute"] = "/Teams/Index";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/All";
}

<h2>All teams</h2>
@if(Model.PlayerNotOnTeam)
{
<p>
    You are not yet part of a team. To join a team, go to the register page.
</p>
}
Registered Teams: <b>@Model.Teams.Count/@Model.Event.MaxNumberOfTeams</b>, Registered Players: <b>@Model.PlayerCount/@(Model.Event.MaxNumberOfTeams * Model.Event.MaxTeamSize)</b>
<table class="table">
    <thead>
        <tr>
            <th>
                Team name
            </th>
            <th>
                Team size
            </th>
            @if (Model.EventRole == ModelBases.EventRole.admin ||
               Model.EventRole == ModelBases.EventRole.author)
            {
            <th>
                Qualification Status
            </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @(item.Name)
                </td>
                <td>
                    @(Model.PlayerCountByTeamID[item.ID])
                </td>
                @if (Model.EventRole == ModelBases.EventRole.admin ||
                     Model.EventRole == ModelBases.EventRole.author)
                {
                    <td>
                    if (item.IsDisqualified)
                    {
                        <text>Disqualified</text>
                    }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>