@page  "/{eventId}/{eventRole}/Teams/Apply"
@model ServerCore.Pages.Teams.ApplyModel

@{
    ViewData["Title"] = "Apply";
}

<h2>Apply to a Team</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        You have applied to <strong>@{@Model.Team.Name}</strong>. Once they accept you, you will be on the team.
    </div>
</div>

<div>
    <a asp-page="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
