@using ServerCore.DataModel;

<p>I&apos;m a...</p>
<EditForm Model="this" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputRadioGroup Name="PlayerExperienceSelector" @bind-Value="PlayerExperience">
        <label><InputRadio Name="PlayerExperienceSelector" Value="@AutoTeamType.Beginner.ToString()"></InputRadio> Beginner Puzzler</label><br />
        <label><InputRadio Name="PlayerExperienceSelector" Value="@AutoTeamType.Expert.ToString()"></InputRadio> Expert Puzzler</label><br />
    </InputRadioGroup>

    <br />
    <p>... and I&apos;m feeling...</p>
    <InputRadioGroup Name="PlayerCommitmentSelector" @bind-Value="PlayerCommitment">
        <label><InputRadio Name="PlayerCommitmentSelector" Value="@AutoTeamType.Casual.ToString()"></InputRadio> Chill about the event -- I&apos;m just here to have fun</label><br />
        <label><InputRadio Name="PlayerCommitmentSelector" Value="@AutoTeamType.Serious.ToString()"></InputRadio> Serious -- I&apos;m in it to win it</label><br />
    </InputRadioGroup>

    <input type="submit" value="Place me on a team" />
</EditForm>

@if (CantCreateTeam)
{
    <div class="alert alert-danger">All teams with that choice are full. Please try another or apply to an existing team.</div>
}