@using ServerCore.DataModel;

<p>I&apos;m a...</p>
<EditForm Model="this" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputRadioGroup Name="PlayerTypeSelector" @bind-Value="PlayerType">
        <label><InputRadio Name="PlayerTypeSelector" Value="@AutoTeamType.Beginner.ToString()"></InputRadio> Beginner</label><br />
        <label><InputRadio Name="PlayerTypeSelector" Value="@AutoTeamType.Intermediate.ToString()"></InputRadio> Intermediate Puzzler</label><br />
        <label><InputRadio Name="PlayerTypeSelector" Value="@AutoTeamType.Serious.ToString()"></InputRadio> Serious Puzzler</label><br />
    </InputRadioGroup>

    <br />

    <input type="submit" value="Place me on a team" />
</EditForm>

@if (CantCreateTeam)
{
    <div class="alert alert-danger">All teams with that choice are full. Please try another or apply to an existing team.</div>
}