@page "/{eventId}/{eventRole}/Teams/Create"
@model ServerCore.Pages.Teams.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["AdminRoute"] = "/Teams/Create";
    ViewData["AuthorRoute"] = "/Teams/Index";
    ViewData["PlayRoute"] = "/Teams/Create";
}

<h2>Create a new team</h2>

@if (Model.EventRole == ModelBases.EventRole.play)
{
<div>
    <a asp-page="List">Cancel</a>
</div>
}
else
{
<div>
    <a asp-page="Index">Cancel</a>
</div>
}

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.RoomID" class="control-label"></label>
                <input asp-for="Team.RoomID" class="form-control" />
                <span asp-validation-for="Team.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.CustomRoom" class="control-label"></label>
                <input asp-for="Team.CustomRoom" class="form-control" />
                <span asp-validation-for="Team.CustomRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PrimaryContactEmail" class="control-label"></label>
                <input asp-for="Team.PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="Team.PrimaryContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PrimaryPhoneNumber" class="control-label"></label>
                <input asp-for="Team.PrimaryPhoneNumber" class="form-control" />
                <span asp-validation-for="Team.PrimaryPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.SecondaryPhoneNumber" class="control-label"></label>
                <input asp-for="Team.SecondaryPhoneNumber" class="form-control" />
                <span asp-validation-for="Team.SecondaryPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.IsLookingForTeammates" class="control-label"></label>
                <input asp-for="Team.IsLookingForTeammates" class="form-control" />
                <span asp-validation-for="Team.IsLookingForTeammates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
