@page "/{eventId}/{eventRole}/Teams/{teamId}/Edit"
@model ServerCore.Pages.Teams.EditModel

@{
    ViewData["Title"] = "Edit Team";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Edit";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Edit";
    Layout = "_teamLayout.cshtml";
    bool canChangeTeamName = Model.CanChangeTeamName();
}

<h2>@(Model.Team.Name): Edit</h2>
<div>
    <a asp-page="./Details" asp-route-teamId="@Model.Team.ID">Cancel</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Team.ID" class="hidden" />
            <input asp-for="Team.Password" class="hidden" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label">Team name</label>
                @if (canChangeTeamName)
                {
                    <input asp-for="Team.Name" class="form-control" />
                }
                else
                {
                    <input class="form-control" asp-for="Team.Name" value="@Model.Team.Name" readonly />
                }
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <!-- TODO: Conditionally show/hide based on event property (not needed for PuzzleHunt) -->
            @*<div class="form-group">
                <label asp-for="Team.RoomID" class="control-label"></label>
                <input asp-for="Team.RoomID" class="form-control" />
                <span asp-validation-for="Team.RoomID" class="text-danger"></span>
            </div>*@
            @if (!Model.Event.IsRemote && !Model.Team.IsRemoteTeam)
            {
                @if (Model.Event.IsInternEvent && Model.EventRole == ModelBases.EventRole.play)
                {
                    <div class="form-group">
                        <label asp-for="Team.CustomRoom" class="control-label">Team room (selected by organizers)</label>
                        <p>@(Model.Team.CustomRoom)</p>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="Team.CustomRoom" class="control-label">Team room (please enter 'virtual' if playing remotely)</label>
                        <input asp-for="Team.CustomRoom" class="form-control" />
                        <span asp-validation-for="Team.CustomRoom" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <label asp-for="Team.PrimaryContactEmail" class="control-label">Primary contact e-mail(s) separated by , or ;</label>
                <input asp-for="Team.PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="Team.PrimaryContactEmail" class="text-danger"></span>
            </div>
            @if(Model.Event.AllowsRemoteTeams)
            {
                if(!Model.Event.LockChangesToRemoteStatus)
                {
                    <div class="form-group">
                        <label asp-for="Team.IsRemoteTeam" class="control-label">Team is playing remotely</label>
                        <div style="width:50px;vertical-align:top;">
                            <input asp-for="Team.IsRemoteTeam" />
                        </div>
                    </div>
                }
            }
            @if (!Model.Event.IsRemote && !Model.Team.IsRemoteTeam)
            {
                <div class="form-group">
                    <label asp-for="Team.PrimaryPhoneNumber" class="control-label">Primary phone number</label>
                    <input asp-for="Team.PrimaryPhoneNumber" class="form-control" />
                    <span asp-validation-for="Team.PrimaryPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Team.SecondaryPhoneNumber" class="control-label">Secondary phone number (optional)</label>
                <input asp-for="Team.SecondaryPhoneNumber" class="form-control" />
                <span asp-validation-for="Team.SecondaryPhoneNumber" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Team.IsLookingForTeammates" class="control-label">Allow unsolicited applications</label>
                <table>
                    <tr>
                        <td style="width:50px;vertical-align:top;">
                            <input asp-for="Team.IsLookingForTeammates" />
                        </td>
                        <td>
                            <p>Checking this box will cause your team to show up in the list of teams that players who are looking for a team can request to join. If you want to manually invite your teammates instead, do not check this box. You will have the opportunity to approve all requests on the website.</p>
                            <span asp-validation-for="Team.IsLookingForTeammates" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="Team.Bio" class="control-label">Bio for unsolicited applications (visible to applicants)</label>
                <input asp-for="Team.Bio" class="form-control" />
                <span asp-validation-for="Team.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
