@page "/{eventId}/{eventRole}/Teams/{teamId}/Edit"
@model ServerCore.Pages.Teams.EditModel

@{
    ViewData["Title"] = "Edit Team";
    //Needs route data - ViewData["AdminRoute"] = "/Teams/Edit";
    //Needs route data - ViewData["AuthorRoute"] = "/Teams/Status";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Edit";
    Layout = "_teamLayout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Team.Name): Edit</h2>
<div>
    <a asp-page="./Details" asp-route-teamId="@Model.Team.ID">Cancel</a>
</div>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Team.ID" class="hidden" />
            <div class="form-group">
                <label asp-for="Team.Name" class="control-label"></label>
                <input asp-for="Team.Name" class="form-control" />
                <span asp-validation-for="Team.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.RoomID" class="control-label"></label>
                <input asp-for="Team.RoomID" class="form-control" />
                <span asp-validation-for="Team.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.CustomRoom" class="control-label"></label>
                <input asp-for="Team.CustomRoom" class="form-control" />
                <span asp-validation-for="Team.CustomRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PrimaryContactEmail" class="control-label"></label>
                <input asp-for="Team.PrimaryContactEmail" class="form-control" />
                <span asp-validation-for="Team.PrimaryContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.PrimaryPhoneNumber" class="control-label"></label>
                <input asp-for="Team.PrimaryPhoneNumber" class="form-control" />
                <span asp-validation-for="Team.PrimaryPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team.SecondaryPhoneNumber" class="control-label"></label>
                <input asp-for="Team.SecondaryPhoneNumber" class="form-control" />
                <span asp-validation-for="Team.SecondaryPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
