@page "/{eventId}/{eventRole}/Teams/{teamId}/PlayProto"
@model ServerCore.Pages.Teams.PlayProtoModel

@{
    @using Helpers;

    ViewData["Title"] = "Puzzles";
    ViewData["AdminRoute"] = "/Puzzles/Index";
    ViewData["AuthorRoute"] = "/Puzzles/Index";
}

<h2>Puzzles</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <div>Puzzle</div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var puz in Model.PuzzleViews)
        {
            <tr>
                <td>
                    <a asp-page="/Submissions/SubmitProto" asp-route-puzzleId="@puz.ID">@RawHtmlHelper.Display(puz.Name, Model.Event.ID, Html)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
