@page "/{eventId}/{eventRole}"
@model ServerCore.Pages.EventSpecific.IndexModel
@{
    ViewData["Title"] = Model.Event.Name;
    ViewData["AdminRoute"] = "/EventInformation/Index";
    ViewData["AuthorRoute"] = "/EventInformation/Index";
    ViewData["PlayRoute"] = "/EventInformation/Index";
}

@if (Model.EventRole == ModelBases.EventRole.admin)
{
    <div>
        <h4>Admin actions:</h4>
        <a asp-page="/Events/Details">View event properties</a> |
        <a asp-page="/Events/Edit">Edit event properties</a> |
        <a asp-page="/Events/Import">Import from another event</a> |
        <a asp-page="/Events/Delete">Delete the event</a>
    </div>
}

<partial name="../Resources/@(Model.Event.HomePartial ?? "Default")/HomePartial.cshtml" />