@page "/{eventId}/{eventRole}/PH20/PuzzlePicker/{puzzleId}/{handler?}"
@model ServerCore.Pages.EventSpecific.PH20.PuzzlePickerModel

@{
    ViewData["Title"] = "Meanwhile Backstage...";
}

<div>
    <h2>Meanwhile Backstage...</h2>

    <p>@Model.CurrentPuzzle.Description</p>
    <br />
        <table>
            @foreach (ServerCore.DataModel.Puzzle puzzleOption in Model.PuzzleOptions)
            {
                <tr>
                    <td>
                        <form method="post">
                            <button type="submit" asp-route-unlockId="@puzzleOption.ID" asp-route-puzzleId="@Model.PrereqPuzzleId" asp-page-handler="Unlock">Start @puzzleOption.Name</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
</div>