<div class="container">
    <h1>FAQ</h1>

    <h3 style="font-weight:bold">What is Puzzlehunt?</h3>
    <p>
        The Microsoft Puzzlehunt is a quasi-annual Microsoft tradition dating back to just before the turn of the century.
        The hunt is a weekend-long team puzzle competition that challenges each team to solve a large number of original puzzles of all different kinds.
        The answers typically lead to a hidden treasure concealed somewhere on campus (but not this year). Participants will generally enjoy being puzzled by anything from traditional puzzles like crosswords,
        cryptograms, jigsaws, word play and logic problems to wandering around campus to find landmarks or puzzles that have to be solved <i>on location</i> (but not this year).
        The best way to see what's involved in a hunt is to peruse the archives of past hunts.
    </p>
    <p>
        The Microsoft Puzzlehunt takes inspiration from the MIT IAP Mystery Hunt, which is very similar in concept.
    </p>
    <h4 style="font-weight:bold">Who is Puzzlehunt for?</h4>
    <p>
        The hunt is for anyone at Microsoft interested in solving puzzles. It's a team competition so people of all different skill and interest levels
        can enjoy it. Teams can include non-Microsoft employees, so spouses and friends are welcome. Read about <a href="#Teams">Teams</a> below for details about team registration.
    </p>
    <p>
        Participants can play through the night or take a mid-hunt break. Historically, winning teams have puzzled away through the night rather than
        sleep. But, the hunt is designed so that less dedicated teams will also have fun, even if you never intend to go the distance. It's also all
        right to have mixed teams that consist of some hard-core and some casual participants. See the <a href="#Teams">Teams</a> Section for details about team registration.
    </p>
    <h4 style="font-weight:bold">When is Puzzlehunt? </h4>
    <p>Puzzlehunt 21 will run on the weekend of May 1-2, 2021. It will begin at 10AM on May 1, and run until 5PM on May 2.</p>
    <h4 style="font-weight:bold">I’ve never done this before. What should I expect? </h4>
    <p>Puzzlehunt is probably unlike any event you have done before. You may be used to Sudoku or crosswords or Games magazine, but this is more than that. You will collectively see nearly <b>100</b> puzzles of all sorts of varieties some of which you may recognize and some you won't. Sometimes your whole team will be collectively working on one puzzle. Some puzzles will be straightforward and only require execution. Others will require a mental leap to figure out what to do. </p>
    <p>Often times, you will want more than one person looking at a puzzle. Don't be afraid to call for help from a teammate. What we mean is, if something isn't working for you don't hesitate swapping puzzles with teammates. </p>
    <p>You will be given a subset of puzzles to work on, and as those are answered new ones are revealed. There will also be one or more metapuzzles that take things from other puzzles and put them together in a new puzzle.</p>
    <p>Also, Microsoft employees can look at <a href=http://puzzlehunt>http://puzzlehunt</a> on the Microsoft corpnet to see examples from past hunts and puzzles.</p>
    <h4 style="font-weight:bold">What’s a ‘hosted’ Puzzlehunt? </h4>
    <p>Previous Puzzlehunts have always been ‘hosted’ (i.e. written and administered) by a high ranking team from the previous year’s hunt. Usually this involves a top-tier team with enough members willing to selflessly donate countless hours of their time. Team members are tasked with writing and &ldquo;playtesting&rdquo; dozens of puzzles. Obviously, the hosting team is unable to compete in the event since (A) they’re too busy handling day-of logistics and (B) they already know the answers (duh). Most top teams had only a minority of members with both the puzzle writing experience and the ability to commit enough puzzles to fill a full-sized Puzzlehunt. Unfortunately, this fraction-of-a-fraction has declined over the years, resulting in fewer teams that are willing and/or able to host Puzzlehunt. </p>
    <h4 style="font-weight:bold">What’s especially different about Puzzlehunt 21? </h4>
    <p>Like many puzzle events in the past year or so, Puzzlehunt 21 will be a virtual event. Your team will not need to travel to campus at all for the event, and can gather in person or virtually however you feel comfortable - just don't use any location on the Microsoft campus as a gathering place.</p>
    <h4 style="font-weight:bold">What’s different about Puzzlehunt 15/16/17/19/20/21? </h4>
    <p>Puzzlehunt 21, like Puzzlehunts 15, 16, 17, 19, and 20, was created with a small number of Puzzlehunt Authors, scattered amongst different Puzzlehunt teams. Some Authors have written a module of themed puzzles, each with a Meta. Other Authors have contributed a puzzle into a collective module. Authors know their own content (puzzles and answers), but are otherwise completely isolated from all other content. This enables Authors to (A) have the freedom to write modules of their own creative design, size, and structure and (B) to (almost) fully participate in Puzzlehunt with their regular teams by abstention from their own modules. <i>Yes, we realize Authors could cheat and share answers or hints for their modules with teammates to boost solve count. Authors have assured us that their professional puzzle ethics will prevent any sort of this nonsense.</i></p>
    <p>In Puzzlehunts 15 and 16, a small Logistics team did all the tasks required to run Puzzlehunt beyond writing puzzles. For Puzzlehunt 17, nobody volunteered to run Logistics, and Logistics was distributed amongst all Author teams. Puzzlehunt 21 is using the same model as Puzzlehunts 17, 19, and 20. As there is no individual who has seen the entire event, there is a chance that some unusual puzzle duplication may occur. </p>
    <p>Puzzlehunt is looking for any volunteers interested in (A) Helping run future Puzzlehunts, (B) Helping Author for future Puzzlehunts, or (C) helping with the tech for future Puzzlehunts. If interested, please contact <a href="mailto:puzzadv@microsoft.com">puzzadv@microsoft.com</a> to be included in future Puzzlehunt planning meetings. </p>
    <h3 id="Teams">Puzzlehunt is a Team Sport</h3>
    <p>Solving puzzles in a group is fun and easier with more people, so you might not have as much fun if your team has just a few people. If you need more people on your team, check out the <a href="mailto:puzzmate@microsoft.com">puzzmate</a> e-mail list. </p>
    <h4 style="font-weight:bold">How should I assemble a Team? </h4>
    <p>Find other people who like to solve puzzles or can be convinced to give it a try. Microsoft is full of smart people who like to solve puzzles. Try showing friends or co-workers the Puzzlehunt site. You can also use the <a href="mailto:puzzmate@microsoft.com">puzzmate</a> e-mail list to find other people without a team. </p>
    <p>Each team must have no more than 12 players total, and must have at least <b>two</b> members who have valid Microsoft badges; this number is set on a per-hunt basis and may be larger in the next or any subsequent hunt.  Since ALL of the puzzles will be posted on the internet, your team can include members who are in other locations. </p>
    <h4 style="font-weight:bold">How can I be a good team captain? </h4>
    <p>Keeping your team organized is important both to having fun and doing well. It's a good idea to make sure that the members of your team understand and agree to the levels of commitment that everyone is making. It can cause problems if some people are committed to work through the night and others are not, especially if not everyone understands and agrees to this in advance. Team dynamics generally work better if all team members have similar levels of commitment. </p>
    <h4 style="font-weight:bold">Does everyone need to register? </h4>
    <p>Individual and Team registration is mandatory. @Model.Event.Name needs to be able to contact all teams at all times. Also, advance registration allows us to ensure team sign-in goes smoothly and the hunt begins on time. Anyone may create a team. Simply login and create a team, and copy the invite link and mail to your teammates. Once people have asked to join your team, return to the site to accept or reject them. If you don't want to make a team, you can apply to join someone else's team, but we recommend finding a team in advance with people you know, <a href="mailto:puzzmate@microsoft.com">puzzmate</a>, or the Seattle Puzzlers group on Facebook. You can only apply to one team at a time.</p>
    <p>Teams may continue to change names, modify members, and edit their biographical information until the hunt begins. </p>
    <h3 style="font-weight:bold">How to Solve ‘Puzzlehunt’ Puzzles</h3>
    <h4 style="font-weight:bold">Some of the puzzles don't have instructions!?! </h4>
    <p>The implicit instruction for all puzzles is “Figure out the final answer.” Puzzles without instructions are either classic puzzle forms, perhaps with a twist, or puzzles where the challenge is figuring out how to solve the puzzle. </p>
    <h4 style="font-weight:bold">Are there types of Standard Puzzles I should know? </h4>
    <p>Several puzzle types frequently appear in Puzzlehunt, so you would be well advised to be familiar with them. Those types include cross sum, crostic, cryptic crossword, cryptogram, drop quote, jigsaw puzzle, paint-by-numbers, rebus, sudoku, and many more. See the Resources section of the website for more information. </p>
    <h4 style="font-weight:bold">How do you feel about un-clued anagrams? </h4>
    <p>Anagramming is often a part of certain puzzles (e.g. cryptic crosswords), but anagramming will not be used as the final step to a puzzle unless there is a clue specifically suggesting that step. If you have an un-ordered set of letters, and there is no clue suggesting you should anagram them, then don't anagram them. Look for a way to determine their order. Note that some puzzles might ask you to anagram blocks of letters as a final step. If so, the letters within a block should be kept in the order you found them.</p>
    <p>Anagramming might be clued in various ways. For instance, cryptic crossword clues use certain words to indicate you should anagram a set of letters. The puzzle Siegfried &amp; Roy from Puzzlehunt 8 contained a pattern in which a set of words could all be anagrammed to make cities. </p>
    <h4 style="font-weight:bold">Extracting the final answer is part of the puzzle. </h4>
    <p>Each puzzle has a simple final answer, typically a single word or a short phrase. In some puzzles you are explicitly told how to get the final answer. In others, figuring out how to extract the final answer is part of the puzzle. If you solve a puzzle and you get a long phrase, it's probably a clue to a shorter answer. </p>
    <p>Sometimes getting to the final answer is trivial or may be explicitly explained. Other times, you may get an intermediate answer which could hint at, or highlight part of, the final answer. The final answer could be signaled by adding an extra or missing word to the intermediate answer, perhaps. Sometimes there are no hints, in which case you should look for some way to combine or connect the intermediate answers. Common techniques are to use acrostics (where the first letter of each word spells something) or for the intermediate answer to be another puzzle of the same kind (i.e. recursion). </p>
    <h4 style="font-weight:bold">In all puzzles, once you have the correct final answer you should know it. </h4>
    <p>For example, in Puzzlehunt 1 some teams guessed "wine glass" as the answer to the puzzle ‘Sarajevo’ because it looked like a wineglass. The puzzle would have been rather uninteresting if that were the answer. The correct answer to ‘Sarajevo’ involves Morse code; it is not a coincidence that all flags had stripes or dots that formed Morse letters to spell out a word. Teams solved the puzzle by looking for similarities among the flag designs and were pretty sure they had the correct answer before they confirmed it. What are the odds that a collection of flags just happens to spell out a message in Morse code by chance? </p>
    <h4 style="font-weight:bold">What is a Meta puzzle? </h4>
    <p>A Meta puzzle is a special puzzle that takes the final answers of other puzzles and combines them in some way. In previous hunts, the Meta puzzle might look like a regular puzzle except it’s unsolvable until you plug in the final answers to other puzzles. Other times, the Meta puzzle was something you have to figure out and becomes more apparent as you have more answers. Sometimes there is just one Meta puzzle, and sometimes there are several. Authors will label each puzzle as regular or Meta for easy identification. </p>
    <h4 style="font-weight:bold">Solving Puzzles, literally. </h4>
    <p>All answers should be submitted through the Puzzlehunt Site. The system will (A) confirm final answers, and (B) provide helpful clues for common guesses. Teams must confirm the final answer to receive points. </p>
    <p>Teams who spam the answer submission system will have their system frozen for an appropriate amount of time, determined by @Model.Event.Name organizers. The limits have been increased and decoupled between short-term guessing and over the weekend guessing, so teams who reasonably use the submission system to confirm suspected partial progress should be OK. </p>
    <h3 style="font-weight:bold">Winning &amp; Losing</h3>
    <h4 style="font-weight:bold">How to win</h4>
    <p>Finishing the hunt usually means solving a final puzzle, or series of puzzles marked as such. </p>
    <p>The best way to win is to solve the most puzzles before any other team and then solve the final puzzle and finish the hunt. The best way to do that is teamwork. Work individually on the easier puzzles so everyone is effective. Work together on the harder puzzles so you can solve them more quickly. If you get stuck, ask your teammates for help or switch to another puzzle. Make sure you keep track of which puzzles you've already solved and confirmed. </p>
    <h4 style="font-weight:bold">How to lose </h4>
    <p>Not have fun. If you're not having fun working on a particular puzzle, switch to another one. </p>
    <h4 style="font-weight:bold">How to finish </h4>
    <p>You finish the hunt by successfully completing the final puzzle. Typically, solving the final puzzle involves using answers from previous puzzles and meta puzzles. </p>
    <p>You don’t have to solve all puzzles to finish the hunt, as long as you solve the final puzzle…. but you'll probably need to solve most of the puzzles. </p>
    <h4 style="font-weight:bold">Closing Ceremonies &amp; Awards</h4>
    <p>If your team is in the top ten, please attend the closing ceremonies. Otherwise, attendance is optional. But, it’s nice to learn the answers for unsolved puzzles with others and share trials, tribulations, and interesting stories with other teams. </p>
    <h4 style="font-weight:bold">Scoring </h4>
    <p>Teams receive points for each puzzle they solve. Some puzzles may be worth more points than others. If fewer than ten teams finish the hunt, prizes will be awarded according to point count. The goal of the hunt should be to win by solving the final puzzle, not by scoring points. Therefore, it is possible to lose the hunt even though your team solves more puzzles than other teams. </p>
    <h4 style="font-weight:bold">Tie Breakers </h4>
    <p>Ties will be broken using the following criteria, in this order. All @Model.Event.Name organizers&apos; decisions are final. </p>
    <ol>
        <li>The first team that correctly finished the hunt.</li>
        <li>The team with the highest number of points</li>
        <li>The team that solved the most metapuzzles</li>
        <li>The team that solved the most puzzles</li>
        <li>The team that had the most &ldquo;1st puzzle solves&rdquo;</li>
        <li>The team that had the most &ldquo;2nd puzzle solves&rdquo;</li>
        <li>The team that had the most &ldquo;3rd puzzle solves&rdquo;</li>
        <li>A random drawing</li>
    </ol>
    <h4 style="font-weight:bold">Prizes </h4>
    <p>Bragging rights!</p>

    <h3 style="font-weight:bold">Rules and Equipment</h3>
    <p>See the <a asp-page="/EventSpecific/Rules">Rules</a> page for the rules, suggested equipment, and more. If you find a rule ambiguous, even after reading the rest of this FAQ, please ask your teammates, your team captain, and finally <a href="mailto:@(Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com")">@(Model.Event?.ContactEmail ?? "puzzhunt@microsoft.com")</a>.</p>
</div>
