<div class="container">
    <br />
    <img style="width:800px; height:432px; margin:0px auto; display:block" src="~/images/msph2021.png" />
    <br />
    <p style="font-size:20px; font-weight:bold; text-align: center">A brief <a href="https://aka.ms/ph21intro" target="_blank">kickoff presentation</a> will begin at 10AM on Saturday, May 1. The stream will open at 9:50AM.</p>
    <p style="font-size:20px; font-weight:bold; text-align: center">A brief <a href="https://aka.ms/ph21closing" target="_blank">closing presentation</a> will begin shortly after 5PM on Sunday, May 2. The stream will open at 5PM.</p>
    <br />
    <p style="font-size:16px; font-weight:bold; text-align: center; color: red">Puzzlehunt 21 will run virtually on May 1-2, 2021.</p>
    <p style="font-size:16px; font-weight:bold; text-align: center; color: red">Due to the changes made to Puzzlehunt 21, all teams must re-register!!!<br />If desired, you can access the original event registration <a href="https://puzzlehunt.azurewebsites.net/ph21orig/play/Teams/Signup">here</a>.</p>
    <br />
    <p style="text-align: center">The <a asp-page="/EventSpecific/FAQ">FAQ</a> and <a asp-page="/EventSpecific/Rules">Rules</a> are live. <b><a asp-page="/Teams/Signup">Registration is active!</a></b></p>
</div>