<div class="container">
    <br />
    <img style="width:800px; height:432px; margin:0px auto; display:block" src="~/images/msph2021.png" />
    <br />
    <p style="font-size:20px; font-weight:bold; text-align: center">A brief kickoff presentation will begin at 10AM on Saturday, May 1, at &lt;link TBD&gt;. The stream will open at 9:50AM.</p>
    <p style="font-size:20px; font-weight:bold; text-align: center">A brief closing presentation will begin shortly after 5PM on Sunday, May 2, at &lt;link TBD&gt;. The stream will open at 5PM.</p>
    <p style="font-size:20px; font-weight:bold; text-align: center">Watch this space for updates.</p>
    <br />
    <p style="font-size:16px; font-weight:bold; text-align: center; color: red">Puzzlehunt 21 will run virtually on May 1-2, 2021.</p>
    <p style="font-size:16px; font-weight:bold; text-align: center; color: red">Due to the changes made to Puzzlehunt 21, all teams must re-register!!!<br />If desired, you can access the original event registration <a href="https://puzzlehunt.azurewebsites.net/ph21orig/play/Teams/List">here</a>.</p>
    <br />
    <p style="text-align: center">The <a asp-page="/EventSpecific/FAQ">FAQ</a> and <a asp-page="/EventSpecific/Rules">Rules</a> are live. <b><a asp-page="/Teams/List">Registration is active!</a></b></p>
</div>