<div class="container">
    <h2>Rules</h2>
    <ol>
        <li><strong>HAVE FUN!</strong></li>
        <li>Puzzlehunt 21 is an entirely virtual event. You will not be asked to travel in any way, shape, or form. Teams can use any technologies they wish in order to gather online.</li>
        <li><b>Do not gather your team on the Microsoft campus</b> unless official Microsoft policy as of May 1, 2021 permits gatherings of that size. Beyond this, we strongly encourage all teams to follow whatever distancing rules are recommended by government authorities at the time of the event.</li>
        <li id="WhatToBring">
            The more prepared you are for Puzzlehunt weekend, the better time you'll have participating in it. Here's a list of supplies that you may find helpful:
            <ul>
                <li>Most puzzles can be solved without printing, but a few will require a printer (ideally color), as well as scissors and tape.</li>
                <li>If you're interested in earning hints to be applied to other puzzles, you will want either or both of:
                    <ul>
                        <li>Several smartphones or other devices capable of taking still pictures and videos and uploading them to the Internet</li>
                        <li>One or more computers or consoles with Minecraft installed</li>
                    </ul>
                </li>
                <li>You might want to gather a standard list of office supplies, not all of which will be used in this event:
                    <ul>
                        <li>Pens, pencils, colored pencils, highlighters</li>
                        <li>Blank paper, graph paper</li>
                        <li>Scissors, clear tape, glue sticks</li>
                        <li>Ruler/straightedge, protractor, compass</li>
                    </ul>
                </li>
                <li>Some puzzles will have audio; laptop speakers may be sufficient, but headphones will be helpful in noisy environments.</li>
            </ul>
        </li>
        <li>Teams can have a maximum of 12 players, and a minimum of 8 players is recommended. Each team must have at least <b>two</b> members who have valid Microsoft badges; this number is set on a per-hunt basis and may be larger in any future hunt.</li>
        <li>To participate, you must register your team prior to the beginning of the event (10AM on May 1, 2021). You will be allowed to add and remove members after that time, but not to add new teams.</li>
        <li>
            Hacking puzzles is not in the spirit of the hunt and is strictly prohibited. This includes:
            <ul>
                <li>hacking into any computer system to find the answer
                <li>modifying something needed by other teams to solve the puzzle (e.g., moving an object referenced in a puzzle)
                <li>giving false information to another team
                <li>trying to purloin answers from another team, and
                <li>colluding with other teams
            </ul>
            Writing a computer program to solve a puzzle is allowed, but this may take longer than solving the puzzle in its intended manner.</li>
        <li>Each team must be reachable by email during the hunt. Important updates and corrections to puzzles will be sent out via email. <b>We may also need to send critical updates to the puzznews alias.</b></li>
    </ol>
</div>
