@page "/{eventId}/{eventRole}/Responses/CreateBulk/{puzzleId}"
@model ServerCore.Pages.Responses.CreateBulkModel

@{
    ViewData["Title"] = "Create bulk response";
    ViewData["AdminRoute"] = "../Responses/CreateBulk";
    ViewData["AuthorRoute"] = "../Responses/CreateBulk";
    ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

<h2>@Model.Puzzle.Name: Create responses (bulk)</h2>
<div>
    <a asp-page="./Index" asp-route-puzzleid="@Model.PuzzleId">Cancel</a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <p>Intended usage: Enter data for each response in Excel, one line per response. Then copy each column into the correct box below and click Bulk Create.</p>
            <br />
            <p>IsSolution and Note can be blank when unused. IsSolution will be checked if you supply Y, Yes, T, or True (case insensitive).</p>
            <br />
        </div>
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>IsSolution</th>
                        <th>SubmittedText</th>
                        <th>ResponseText</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea asp-for="IsSolution"></textarea>
                            <span asp-validation-for="IsSolution" class="text-danger"></span>
                        </td>
                        <td>
                            <textarea asp-for="SubmittedText"></textarea>
                            <span asp-validation-for="SubmittedText" class="text-danger"></span>
                        </td>
                        <td>
                            <textarea asp-for="ResponseText"></textarea>
                            <span asp-validation-for="ResponseText" class="text-danger"></span>
                        </td>
                        <td>
                            <textarea asp-for="Note"></textarea>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="DeleteExisting" /> @Html.DisplayNameFor(model => model.DeleteExisting)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Bulk Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
