@page "/{eventId}/{eventRole}/Swag/Register"
@model ServerCore.Pages.Swag.SwagRegisterModel

@{
    ViewData["Title"] = "T-Shirt and Lunch";
    ViewData["AdminRoute"] = "/";
    ViewData["AuthorRoute"] = "/";
    ViewData["PlayRoute"] = "../Swag/Register";
    var isEditable = DateTime.UtcNow <= Model.Event.TeamMiscDataChangeEnd;
}

<h2>Order T-Shirt and Lunch for @Html.DisplayFor(model => model.Event.Name)</h2>

@if (isEditable)
{
    <div class="alert alert-danger" role="alert">
        Please make your selections by @Html.Raw(Model.LocalTime(Model.Event.TeamMiscDataChangeEnd)).
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        We're sorry, we cannot take any further requests at this time. We will have some extras available, but we cannot guarantee that there are enough or that we will have what you want..
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Swag.Lunch" class="control-label"></label>
                <select asp-for="Swag.Lunch" class="form-control">
                    <option value="smoked-turkey">Smoked Turkey and Havarti Cheese</option>
                    <option value="chipotle-chicken">Chipotle Chicken Sandwich</option>
                    <option value="chicken-club">Honey Mustard Chicken Club</option>
                    <option value="loaded-sub">Fully Loaded Sub</option>
                    <option value="tom-mozz-avo">Tomato-Mozzarella-Avocado Sandwich (Vegetarian)</option>
                    <option value="cobb-salad">Cobb Salad (chicken, egg, avocado, cheese)</option>
                    <option value="none-of-the-above">None of the bove (explain in dietary modifications)</option>
                </select>
                <span asp-validation-for="Swag.Lunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Swag.LunchModifications" class="control-label"></label>
                <textarea asp-for="Swag.LunchModifications" class="form-control"></textarea>
                <span asp-validation-for="Swag.LunchModifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Swag.ShirtSize" class="control-label"></label>
                <select asp-for="Swag.ShirtSize" class="form-control">
                    <option value="MS">Mens' Small</option>
                    <option value="MM">Mens' Medium</option>
                    <option value="ML">Mens' Large</option>
                    <option value="MXL">Mens' X-Large</option>
                    <option value="M2XL">Mens' XX-Large</option>
                    <option value="M3XL">Mens' XXX-Large</option>
                    <option value="WXS">Womens' X-Small</option>
                    <option value="WS">Womens' Small</option>
                    <option value="WM">Womens' Medium</option>
                    <option value="WL">Womens' Large</option>
                    <option value="WXL">Womens' X-Large</option>
                    <option value="W2XL">Womens' XX-Large</option>
                    <option value="W3XL">Womens' XXX-Large</option>
                </select>
                <span asp-validation-for="Swag.ShirtSize" class="text-danger"></span>
            </div>
            @if (isEditable)
            {
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
