@page "/{eventId}/{eventRole}/Swag/Register"
@model ServerCore.Pages.Swag.SwagRegisterModel

@{
    ViewData["Title"] = "T-Shirt and Lunch";
    ViewData["AdminRoute"] = "/";
    ViewData["AuthorRoute"] = "/";
    ViewData["PlayRoute"] = "../Swag/Register";
    var isEditable = DateTime.UtcNow <= Model.Event.TeamMiscDataChangeEnd;
}

<style>
    .food-option-description {
        font-style: italic;
    }
</style>

<h2>Order T-Shirt and Lunch for @Html.DisplayFor(model => model.Event.Name)</h2>

@if (isEditable)
{
    <div class="alert alert-danger" role="alert">
        Please make your selections by @Html.Raw(Model.LocalTime(Model.Event.TeamMiscDataChangeEnd)).
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        We're sorry, we cannot take any further requests at this time. We will have some extras available, but we cannot guarantee that there are enough or that we will have what you want..
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Swag.ShirtSize" class="control-label"></label>
                <select asp-for="Swag.ShirtSize" class="form-control" required>
                    <option value="MS">Men's Small</option>
                    <option value="MM">Men's Medium</option>
                    <option value="ML">Men's Large</option>
                    <option value="MXL">Men's X-Large</option>
                    <option value="M2XL">Men's XX-Large</option>
                    <option value="M3XL">Men's XXX-Large</option>
                    <option value="WXS">Women's X-Small</option>
                    <option value="WS">Women's Small</option>
                    <option value="WM">Women's Medium</option>
                    <option value="WL">Women's Large</option>
                    <option value="WXL">Women's X-Large</option>
                    <option value="W2XL">Women's XX-Large</option>
                    <option value="W3XL">Women's XXX-Large</option>
                </select>
                <span asp-validation-for="Swag.ShirtSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Swag.Lunch" class="control-label"></label>
                <br /><input asp-for="Swag.Lunch" type="radio" value="smoked-turkey" required /> Smoked Turkey and Havarti Cheese
                <div class="food-option-description">Smoked turkey on freshly baked ciabatta with creamy havarti cheese, pesto-balsamic aioli, mixed greens and tomato.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="chipotle-chicken" /> Chipotle Chicken Sandwich
                <div class="food-option-description">Chicken breast, avocado and pepper jack cheese on a baguette with chipotle mayonnaise, roasted peppers, lettuce and onion.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="chicken-club" /> Honey Mustard Chicken Club
                <div class="food-option-description">Roasted chicken breast with a creamy honey mustard sauce, crisp bacon, Swiss cheese, gourmet greens and sliced tomato. Comes on a fresh baked brioche roll.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="loaded-sub" /> Fully Loaded Sub
                <div class="food-option-description">Italian salami, roast turkey, ham, pepperjack cheese, cheddar cheese, sliced kalamata olives, sliced pepperoncini and tomato. Served on a fresh baguette with a side of Italian vinaigrette.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="tom-mozz-avo" /> Tomato-Mozzarella-Avocado Sandwich (Vegetarian)
                <div class="food-option-description">Served on a freshly baked whole wheat ciabatta with pesto-balsamic aioli and leaf lettuce.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="cobb-salad" /> Cobb Salad
                <div class="food-option-description">Lemon and herb marinated chicken breast, avocado, bleu cheese, bacon, tomato, scallions, and hard-boiled egg on mixed greens. Served with vinaigrette dressing.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="greek-salad" /> Greek Salad (Vegetarian)
                <div class="food-option-description">Mixed greens topped with tomato, cucumber, avocado, feta cheese, marinated artichoke hearts, kalamata olive and pepperoncini pepper. Served with a vinaigrette dressing.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="mango-cuke-multi-salad" /> Mango Cucumber Multigrain Salad (Vegetarian, Gluten Free*)
                <div class="food-option-description">Rice, quinoa, almonds, jalapeno (mild), green onion, cilantro, cucumber, mango, and honey lime dressing. Comes with a mix of almonds, chocolate chips &amp; dried cranberries on the side. (* this lunch is gluten free, but the facility where it is prepared is not)</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="none-of-the-above" /> I cannot eat any of these
                <div class="food-option-description">If you cannot have any of the options offered due to dietary restrictions, please describe them in the box below and we'll reach out to you about an alternative. If modifying one of the above options will work for you, please select that option and describe the required changes in the box below.</div>
                <br /><input asp-for="Swag.Lunch" type="radio" value="no-food" /> I do not want any food, thanks
                <div class="food-option-description">If you choose this option you will NOT get food on the day of the event.</div>
                <span asp-validation-for="Swag.Lunch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Swag.LunchModifications" class="control-label"></label>
                <textarea asp-for="Swag.LunchModifications" class="form-control"></textarea>
                <span asp-validation-for="Swag.LunchModifications" class="text-danger"></span>
            </div>
            @if (isEditable)
            {
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
