@{
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    var Event = eventPage?.Event;
}

@if (!string.IsNullOrEmpty(Event.HomeContent))
{
    @Html.Raw(Event.HomeContent)
}
else
{

    <div class="container" id="pd2022-container">
        <h2 class="pd2022-title">
            <span>Intern Puzzleday 2022</span>
        </h2>

        <div class="pd2022-container-root">
            <div class="pd2022-container-card card-1">
                <h3>WELCOME TO PUZZLEDAY</h3>
                <p>We've drawn up an event that will leave you satisfied down to the last frame: Intern Puzzleday 2022! Our artists have been hard at work inking up a cavalcade of puzzles for you to solve, so whether you're a Disney diehard or a Miyazaki maven, we guarantee you'll finish the day more animated than when you started!</p>

                <p>Puzzleday this year will take place on <b>July 9<sup>th</sup></b>. Solving will begin at <b>10AM PDT</b> after a brief opening ceremony where we'll go over the rules. The opening will take place in Building 33's McKinley room, and doors open at 9:30 AM. TEAM CAPTAINS: BE SURE TO ATTEND THE OPENING! You need to sign in your team and pick up your team's lunch. The rest of your team can join too, of course!</p>

                <p>We welcome everybody, and we've provided a <b><a asp-page="/EventSpecific/FAQ">FAQ page</a></b> and summarized <b><a asp-page="/EventSpecific/Rules">our Rules</a> </b> to hopefully answer any questions that would prevent you from signing up. Also, if the red text above scared you, please choose your lunch anyway! This is especially important for remote folks, so that we know who you are.</p>

                <p>Microsoft strives to create experiences that are accessible and welcoming to everyone.  We are committed to engaging in an interactive process to determine effective, reasonable accommodation we can meet for all attendees.  Please see our FAQ to learn more <a asp-page="/EventSpecific/FAQ" asp-fragment="Accommodation_Requests">and to request an accommodation</a>.</p>

                <p>IF THIS IS YOUR FIRST TIME IN A MICROSOFT BUILDING: Microsoft requires anybody entering its buildings to provide either proof of vaccination, or for guests who aren't able to provide that, proof of a negative COVID test taken within the past 7 days.  Please do that at <a href="https://aka.ms/healthcheck" target="_blank">https://aka.ms/healthcheck</a>. </p>
            </div>

            <div class="pd2022-container-card card-2">
                <h3>FULL SCHEDULE (all times PDT)</h3>

                <h4>PREGAME PUZZLES (optional)</h4>
                <p>These are a great way to get familiar with different types of puzzles you may see during the event and learn how to use our website. Once you've logged into the site and joined a team, click &quot;Puzzles&quot; at the top of the page to get to them.  The first puzzle will be released on Monday, with three per day following on Tuesday, Wednesday, and Thursday.  Finally, there will be one final puzzle on Friday.</p>

                <h4>EVENT WEEKEND</h4>
                <p>On <b>July 9<sup>th</sup></b> at <b>10AM</b>, we will have a short opening session in 33/McKinley that will be presented both live in person, as well as streamed for all remote attendees. Doors open at 9:30 AM.   After that, your team will be sent to your assigned conference rooms to solve puzzles until 5:00 PM.</p>
                <ul><li><b><a href="https://aka.ms/pdopening" target="_blank">Click here to join the opening session remotely!</a></b> (Will be live shortly before scheduled start time)</li></ul>
                <p>After solving has concluded, we will have a closing session at 5:20 PM back in McKinley where we will announce the winners and you'll have a chance to go over solutions and chat with the puzzle creators. Portions of this will also be streamed for remote attendees.</p>
                <ul><li><b><a href="https://aka.ms/pdclosing" target="_blank">Click here to join the closing session remotely!</a></b> (Will be live shortly before scheduled start time)</li></ul>
            </div>

            <div class="pd2022-container-card card-3">
                <h3>HOW TO SIGN UP</h3>
                <p>REGISTRATION IS NOW OPEN!  If you don't have a team yet, you can <b><a href="https://puzzlehunt.azurewebsites.net/pd2022/play/Teams/List">CLICK HERE</a></b> to create one or look for teams who are open to new members.  Up to 12 people can be on a team, and each Microsoft intern can invite one non-Microsoft-employee guest to join them (guests are included in the limit of 12).</p>

                <p>While we know that a large portion of interns will be able to participate in-person on the Redmond campus this year, we are still providing a remote experience that allows full participation in the event. It's truly hybrid!  And while that means your team doesn't need to be in the same place geographically, we think there are enough advantages to meeting up in-person that we want at least 1/3 of your team to be located on the Redmond campus during the event.</p>

                <p>If you're on a team that has fewer than 6 people, we heavily encourage you to combine with another team that has fewer than 6 people. If you need help doing this, come see us at the opening ceremony and we'll help!</p>
            </div>

            <div class="pd2022-container-card card-4 column-container">
                <div class="column-one-third">
                    <h3>NEW TO PUZZLES?</h3>
                    <p>You may have seen a jigsaw puzzle, a crossword puzzle, or a Sudoku at some point in your life, but those barely crack the cover on the whole anthology that is &quot;puzzling&quot;! Puzzleday puzzles also have a tendency to get... creative, so you might see something that looks especially strange! Check out a few <a asp-page="/EventSpecific/Samples">sample puzzles</a> or peruse our <a asp-page="/Resources/Archive">collection of puzzles</a> from past events.</p>
                </div>
                <div class="column-two-third">
                    <img src="~/images/pd2022/pd2022logo.png" height="300" width="300" title="Puzzleday 2022 logo" alt="Puzzleday 2022 logo" />
                </div>
            </div>
        </div>
    </div>

}
