<div class="container">
    <br />
    <img style="width:400px; height:216px; margin:0px auto; display:block" src="~/images/msph2020.png" />
    <br />
    <p style="font-size:30px; font-weight:bold; text-align: center; color: red">This is no longer the official Puzzlehunt 21 website. The official one is <a href="https://puzzlehunt.azurewebsites.net/ph21/play">here</a>.</p><br/>
    <p style="font-size:20px; font-weight:bold; text-align: center; color: red">This website reflects the original team composition for the 2020 event that never ran, in case you need it for reference. Due to the changes made to Puzzlehunt 21, all teams must re-register at the official site.</p>
    <br />
</div>