<div class="container">
    <br />
    <img style="width:800px; height:432px; margin:0px auto; display:block" src="~/images/msph2020.png" />
    <br />
    <p style="font-size:30px; font-weight:bold; text-align: center; color: red">Due to the uncertainty of when it will be safe to host large social events, we have had to make the very hard decision to postpone Puzzlehunt 21 until 2021. This site will be updated with more specific information closer to the event.</p>
    <br />
    <p style="text-align: center">The <a asp-page="/EventSpecific/FAQ">FAQ</a> and <a asp-page="/EventSpecific/Rules">Rules</a> are live. <b><a asp-page="/Teams/List">Registration is active!</a></b></p>
</div>