<div class="container">
    <br />
    <img style="width:800px; height:432px; margin:0px auto; display:block" src="~/images/msph2020.png" />
    <br />
    <p style="font-size:30px; font-weight:bold; text-align: center">Redmond, Washington&nbsp;&nbsp;&nbsp;May 2-3, 2020</p>
    <br />
    <p style="text-align: center">Opening ceremony at 10AM in 33/McKinley (doors open at 9:30AM)</p>
    <br />
    <p style="text-align: center">The <a asp-page="/EventSpecific/FAQ">FAQ</a> and <a asp-page="/EventSpecific/Rules">Rules</a> are live. <b><a asp-page="/Teams/List">Registration is active!</a></b></p>
</div>