<div class="container">
    <p style="font-size:30px; font-weight:bold; text-align: center; color: red">This is no longer the official Puzzlehunt 21 website. The official one is <a href="https://puzzlehunt.azurewebsites.net/ph21/play">here</a>.</p><br />
    <p style="font-size:20px; font-weight:bold; text-align: center; color: red">This website reflects the original team composition for the 2020 event that never ran, in case you need it for reference. Due to the changes made to Puzzlehunt 21, all teams must re-register at the official site.</p>
    <br />
    <h2>Rules</h2>
    <ol>
        <li><strong>HAVE FUN!</strong>
        <li>There are ONLY two ways that you might be instructed to travel.</li>
        <ul>
            <li>The puzzle has explicit instructions to travel.</li>
            <li>You submit an answer and the response from the website gives you explicit instructions to travel.</li>
        </ul>
        <li id="WhatToBring">
            The more prepared you are for Puzzlehunt weekend, the better time you'll have participating in it. Here's a list of supplies that you may find helpful:
            <ul>
                <li>
                    Office supplies: Pens, pencils, colored pencils, graph paper, scissors,
                    clear tape, ruler/straight edge, protractor, highlighters, glue stick, compass
                </li>
                <li>Flashlights and/or headlamps</li>
                <li>Cell phones</li>
                <li>Digital camera</li>
                <li>Food</li>
                <li>As many Internet-connected computers as possible</li>
                <li>Headphones and/or speakers</li>
                <li>
                    Access to a color printer (if using Microsoft printers, please verify you have working credentials &amp; drivers prior to the event; we will not be able to assist
                    with any printing issues)
                </li>
                <li>Chess set</li>
            </ul>
        <li>Teams can have a maximum of 12 players, and a minimum of 8 players. Each team must have at least three members who have valid Microsoft badges; this number is set on a per-hunt basis and may be larger in the next or any subsequent hunt.  Since many of the puzzles will be posted on the internet, your team can include members who are in other locations. However, because some puzzles may require you to visit locations on campus, we recommend that most members of your team plan to be on the main campus during the hunt.
        <li>To participate, you must register your team prior to the team registration deadline (April 29th, 2020). You will be allowed to add and remove members after that time, but not to add new teams.<p>
        <li>Vehicles without a parking permit will need to be registered with security. Teams should plan to register visitor vehicles with their building receptionist the week before the event. Park only in designated spaces.<p>
        <li>
            Visitors (anyone without a valid Microsoft badge) must be escorted by someone with a badge at all times.
            Visitors must display a name badge of some kind. Visitor badges will be provided for your convenience at the start of the hunt.
            Visitors must provide a government-issued photo to verify identity before being granted access to Microsoft facilities.<p>
        <li>
            None of the puzzles require you to do anything illegal, immoral, or that would cause Microsoft
            security to be concerned. You must not enter any person's private office during the course of the hunt unless it is the office of a member of your team.<p>
        <li>If any travel is required, it will take place on Microsoft property in or near East Campus, West Campus, North Campus, and/or RedWest. In other words, east of 148th Avenue NE, north of NE 24th Street, northwest of Bel-Red Road, and south of NE 60th Street. Some of these zones may have more activity than others. You are strongly encouraged to have a conference room in this general area.<p>
        <li id="OffLimits">
            Within the area described above, buildings <b>4, 21, 22, 30, 33, 34, 40, 41, 42, 43, 44, 50, 87, 111, 114, 120, 123, 124, 125, 126, 127, and Studios A through H</b> are <b>off limits</b> and should not be entered, other than to go your private office if it is located in one of these buildings.<p>
                Cafeterias adjacent to a restricted or off-limits building are fair game, as are other areas on the main campus, west campus, and north campus. This list may change from hunt to hunt.
            <p>
                If you believe a puzzle instructs you to go to an off-limits or restricted building, or an active construction area, you've made a huge mistake.
            <p>
        <li>
            Hacking puzzles is not in the spirit of the hunt and is strictly prohibited. This includes:
            <ul>
                <li>hacking into any computer system to find the answer
                <li>modifying something needed by other teams to solve the puzzle (e.g., moving an object referenced in a puzzle)
                <li>giving false information to another team
                <li>trying to purloin answers from another team, and
                <li>colluding with other teams
            </ul>
            Writing a computer program to solve a puzzle is allowed, but this may take longer than solving the puzzle in its intended manner.<p>
        <li>Each team must be reachable by telephone and email during the hunt. New puzzles and corrections to puzzles will be sent out via email. <b>We may need to send critical updates to the puzznews alias.</b><p>
        <li>
            Teams should clean up their conference rooms after the end of the hunt.
            The regular cleaning schedule does not cover weekends. You should leave the room in an appropriate condition to be used for a Monday morning meeting.<p>
    </ol>
</div>
