<div class="container">
    <h1>FAQ</h1>

<h3>What is Puzzle Safari?</h3>
<p>Puzzle Safari is a one-day puzzle solving event that combines physical and intellectual challenge. Teams
    of four players solve puzzles that lead to locations on campus. At each location is a hidden stamp that
    players use to stamp their logbooks. Teams must find as many stamps as they can within the allotted time
    for each round of puzzles. Teams can earn extra points by  participating in challenges spread throughout
    the event. The team who finds the most stamps--and earns the most points--wins the game!</p>
<h4>Who is Puzzle Safari for?</h4>
<p>Safari is for anyone at Microsoft interested in solving puzzles. It's a team competition so people of all
    different skill and interest levels can enjoy it, but it does require physical activity of running or
    walking around the Microsoft campus in the sun. Teams can include non-Microsoft employees, so spouses and
    friends are welcome, but two team members must be full-time Microsoft employees.</p>
<p>Safari puzzles are easier than those found in Puzzlehunt or Puzzleday, and there are often more puzzles,
    with 70 or 80 puzzles to solve throughout the day. If you like fun, quick, clever puzzles, this might be
    the event for you!</p>
<h4>What's new for this year's Safari?</h4>
<p>Nothing has changed from last year! We've found a formula that strikes a great compromise for what people like.</p>
<h4>How is Puzzle Safari played?</h4>
<p>After the opening ceremonies, you and your team members will travel back to your headquarters and begin
    solving puzzles. You'll have about 35 puzzles to solve, some easier than others, but you should be able
    to solve the easiest puzzles quickly. Keep an eye on the clock because you have  3 hours to solve as many
    puzzles and find as many stamps as possible.</P>
<p>To find a stamp, you've got to solve the puzzle correctly, submit the correct answer to this website, and
    then go to the location the site tells you. At that location you'll find a stamp within a box that is
    clearly identified as a Puzzle Safari box. Use the stamp to stamp your logbook. Put the stamp back in the
    box and proceed to the next location.</p>
<p>Not every team member has to look for stamps. You should leave some members behind to solve puzzles and
    communicate solutions by phone or direct message tweet. The folks out looking for stamps (known as
    runners) must do so on foot or by wheelchair. Runners must bring the logbook to the stamp, not the
    other way around.</p>
<p>The logbook will indicate what time you need to return to Puzzle Safari kickoff location and turn in your
    logbook. Don't be late! You lose two points per minute if you're late. When you turn in your Round 1
    logbook we break for lunch for 1/2 hour. After that we'll give you a new Round 2 logbook and a new packet
    of about 35 more puzzles.</p>
<p>Scoring is as follows:</p>
<p><b>During Round 1:</b></p>
<ul>
  <li>Each Round 1 stamp is worth 10 points.</li>
</ul>
<p><b>During Round 2:</b></p>
<ul>
  <li>Each Round 2 stamp is worth 10 points.</li>
  <li>Each Round 1 stamp is worth 5 points.</li>
</ul>
<p>Yes, that's right, you can still solve Round 1 puzzles during Round 2, but the puzzles are worth less.
    Your team will have to decide if it's worth the effort to gather Round 1 stamps or if you want to go for
    the full 10 points for the Round 2 stamps. For some hints about strategy, see our Strategy Guide below.</p>
<h4>What parts of campus does Puzzle Safari cover?</h4>
<p>Safari usually takes place on the Microsoft East Campus (also known as Main Campus) east of 156th Avenue
    and south of 40th Street. The outdoors of campus is all part of the game, but many stamps are hidden 
    inside the Microsoft buildings, so only employees with a badge can effectively collect stamps.
    A number of buildings, and all construction areas, are restricted by Microsoft Security for safety and for
    Microsoft business reasons. Players are not allowed to enter construction areas or the restricted buildings,
    even though they may not be explicitly marked--it is the players' responsibility to avoid them.
    See your logbook and listen at the opening ceremony for the current list of restricted buildings.</p>
<h4>How is Puzzle Safari different from other puzzle events?</h4>
<p>Puzzle Safari differs in a number of ways:</P>
<ol>
    <li><b>The game is a physical challenge</b>
    <ul>
        <li>You don't need to be stuck inside for an entire sunny weekend playing Puzzle Safari. You might spend some time
            with your team in a conference room or office solving puzzles, but to win the game you've got to
            go outside and explore the campus.</li>
        <li>Some past Puzzle Safari participants told us that the game was more physically challenging than
            they expected. If you don't enjoy walking, running, or sweating, you'll need to find teammates
            who do. <i>Warning</i>: Runners will be very sore on Sunday!</li>
    </ul>
    </li>

    <li><b>You don't need to stay up all night to win</b>
    <ul>
    <li>Puzzle Safari takes place on one Saturday in the summer (see the Registration page for details). The
        game lasts approximately 9 hours, including orientation, puzzle solving, campus trekking, and wrap-up.</li>
    </ul>
    </li>

    <li><b>You don't need as many friends</b>
    <ul>
    <li>Puzzle Safari teams are limited to four players. Teams of 3 are not recommended--it is very hard to
        be successful in the game with less than 4 people. Teams of 2 players are not permitted.</li>
    </ul>
    </li>

    <li><b>You've got to hustle</b>
    <ul>
        <li>The object of Puzzle Safari is to solve as many puzzles and find as many stamps as possible
            during each round. Each round lasts only about 3 hours, and trust us--the time goes by very quickly.</li>
        <li>You must return with your logbook to headquarters by a specified time or your team loses two
            points for every minute you are late.</li>
        <li>Get your computers set up before the kickoff meeting because you'll lose valuable minutes if you
            wait until you have the puzzles in hand.</li>
    </ul>
    </li>

    <li><b>You don't need to be a Mensa member</b>
    <ul>
        <li>We want people to have the opportunity to find as many stamps as possible. With Puzzle Safari,
            the challenge is balanced between finding the physical stamps and solving the puzzles. The
            puzzles are a lot easier than Puzzlehunt and somewhat easier than SNAP or DASH puzzles. Our
            target is that some puzzles are easy enough for all teams to solve, and many puzzles can
            be solved within 15 minutes.</li>
    </ul>

    <li><b>You need comfortable footwear</b>
    <ul>
        <li>Teams must travel to different locations on campus on foot. Use of cars, motorcycles, bicycles,
            skateboards, skates, scooters, and Tardises is prohibited. We think you'll find that it's easiest
            to get around in a comfortable pair of shoes.</li>
    </ul>
    </li>
</ol>

<h4>What about weather?</h4>
<p>We play rain or shine. If it looks like rain, bring your raincoat and waterproof shoes.</p>
<p>Rain is uncommon at this time of year, but hot sun is quite common. If you plan to play outside and search
    for stamps, please prepare by bringing hats and sunscreen. On a couple of years the temperature has
    exceeded 100 degrees Fahrenheit.</p>
<h4>What about lunch?</h4>
<p>Puzzle Safari is played straight through. Be sure to pack some snacks or a lunch, because you won't want
    to miss out on the action. We will have a 30-minute break between rounds to give everyone a chance to eat
    and relax.</p>
<h4>Can friends or family play?</h4>
<p>Yes, but they need to be accompanied by a full-time employee with a blue badge at all times. This means
    you'll need at least two FTEs (employees or interns) on your team. Employees must provide guest names and
    their vehicle make/model/license when registering their teams.</p>
<h3>How many puzzles are in each round?</h3>
<p>We've got about 70+ puzzles each year and will often have slightly more puzzles in Round 1 than Round 2.
    Exact figures will not be available until event day.</p>
<h4>Do you really expect a team can solve that many puzzles in 3 hours?</h4>
<p>No, we don’t. We try to provide more puzzles than any team can solve, even the best. This ensures that
    every team can focus on puzzles they enjoy, and that no error with a specific puzzle spoils the event
    for one team. Our data shows the very best teams solve all or nearly all the ~70 puzzles and 6 challenges,
    and the average team solves over half of them.</p>
<h4>Will you post hints and corrections?</h4>
<p>We rarely need to post corrections because of our testing and we do not post hints--just try a different
    puzzle! If there is a problem, we will post a notice to this website and notify teams by the email listed
    in your team registration. We'll also have a hotline to report safety issues, accidents, missing stamps,
    or other problems.</p>
<h4>What if I can't find the stamp?</h4>
<p>Look up, look down, look under…keep looking! The stamps aren't always conspicuous. If you can't find the
    stamp--move on! Whatever you do, please don't cause any property damage!! <b>We will not hide the stamps where you have to
tear things apart to find them.</b></p>
<p>Some past Puzzle Safari participants told us that they sent scouts out to find stamps, only to find that
    when they returned with the logbook, the stamp was gone. Despite these complaints, we rarely lose any
    stamps, and almost all missing stamp reports turn out to be wrong. This means that the boxes didn't
    vanish--they simply moved or you didn't look hard enough. We hear rumors that tables have undersides.
    Remember that stamps are attached to velcro pads.</p>
<P>Most stamps are velcroed in position, but we can't promise to attach them all down.</p>
<h4>What if my team stumbles upon a stamp? Can we still use it?</h4>
<p>No. Stamps have to be in the right place in the logbook to score points. So you can only stamp if you know
    the puzzle that the stamp corresponds to. You have to put the stamp in the logbook next to the puzzle
    title. We'll check to make sure that the logbooks have the correct stamp for each puzzle.</p>
<h4>How will you prevent cheating?</h4>
<p>We know exactly which stamp is at each location, and we will check the logbooks to make sure that the
    appropriate stamp appears for each puzzle. This will prevent teams from using their own stamps to stamp
    their logbooks. We also send staff out to investigate reports of problems.</p>
<p>Ultimately, this game depends on players being honest, and we have found that players behave this way.</p>
<h3>What do we win?</h3>
<p>An amazing experience, the admiration of fellow puzzlers, and fabulous prizes, of course! Most years we
    also try to return logbooks to teams as souvenirs.</p>
<h4>Who runs next year's event?</h4>
<p>Unlike Puzzlehunt, the winner does not win the right to host the next Puzzle Safari. There is an organizing
    team that hosts all Puzzle Safaris. If you'd like to join us, e-mail us at
    <a href="mailto:psafari@microsoft.com">psafari@microsoft.com</a>. We always need new staff.</p>
<h3>Where can I get more info?</h3>
<p>Check the other pages of this Web site--you should find all the information you need to sign up and be
    ready to play. If you've got a question we haven't answered, e-mail us at
    <a href="mailto:psafari@microsoft.com">psafari@microsoft.com</a>.</p>

<h3>Strategy</h3>
    <p>Here are a few hints to get you started in Puzzle Safari.</p>
    <h4>Getting Ready</h4>
    <p>Book your conference room as soon as you register, if not sooner. Conference rooms in central locations
        tend to fill up fast.</p>
    <p>Decide a strategy for playing the game. Do you want to solve a lot of puzzles for two hours and then spend an hour looking for
        stamps, or do you want to send people scouting for stamps early while a few people stay behind and solve puzzles? You'll have
        to decide the winning strategy, but take it from us: the more time you spend on campus looking for stamps the better. One hour
        is not enough time to cross campus more than once. If you're serious about winning, you'll have one player set out for stamps
        as quickly as possible, and keep in touch with mobile phones.</p>
    <p>If you're new to Microsoft, ask an old-timer to give you a tour of all the Microsoft tourist spots. Some locations might assume
        you're familiar with these places and their names, so you might want to take a walk around campus and check out all the
        fountains, landmarks, and other points of interest before the event. Aerial maps from Bing can help you scout campus too. A map
        of campus with restricted buildings crossed out is included in your logbook.</p>
    <p>Seriously consider at the end of each round setting up a relay race among your team for the final stamp collection run.
        Organize the stamp locations by proximity and establish a route to visit them all plus return your logbook. Have each of your
        team members who have a badge run one portion of that route. You'll find you can run faster because you don't have to conserve
        energy for the full run.</p>
    <h4>Solving Puzzles</h4>
    <p><strong>In many puzzles, the titles are hints. Use them, but don't take them too literally.</strong></p>
    <p>Don't make puzzles harder than they have to be by overworking them. If you get stuck, have a teammate look then move on!</p>
    <p>Do not be afraid to use Bing to search if you are stuck. Puzzles may require the use of common internet resources
        (e.g. Wikipedia, IMDB). Additionally, if you have solved part of a puzzle, the internet may reveal what your answers have in
        common and help you understand the next step.</p>
    <p>Many puzzles have a little text at the top that gives basic instructions or hints at what you should do. <strong>Read this text
        carefully.</strong> It probably contains multiple hints for things to do or try.</p>
    <p>When you are part-way through a puzzle, you may find that you have several letters of the final answer. At this point it’s
        normally worthwhile to fill in the partially completed answer and see if you can make the final step by guessing. For example,
        if you have SM_ _ L you might guess SMALL. Also use tools like Lexpert or TEA (see Tools page).</p>
    <p>When you are part-way through a puzzle, you may find you have an entire data set, such as "USE THE FIRST LETTER OF EACH WORD".
        It may be worth entering this phrase into the answer system to see if you get a hint or word of encouragement to confirm
        that you're on the right track.</p>
    <p>No puzzle should ever require you to anagram a word without saying so (mix/anagram). Try to use one of the orders that is
        explicitly part of the puzzle, or a logical order (such as alphabetization).</p>
    <p>If a puzzle has a space for a final answer, you don't need to take any more steps after that.</p>
    <p>If you have a set of numbers, all of which are in the range 1-26, try converting them to letters. If you have a set of words,
        look at their initial letters. If you have a set of small integers, try using them as indexes into words, wrapping if needed.</p>
    <h4>Finding Stamps</h4>
    <p>When looking for boxes (that contain the stamps), don't expect them to be out in the open. The boxes are usually discreetly
        hidden but not impossible to find. You need a careful eye to spot the boxes, and you might get your hands or knees dirty in the
        process. <strong>However, you will not need to disassemble or destroy Microsoft property to find stamps!</strong></p>
    <p>Stamps will never be hidden in a private office or shared office open area! Do not enter these.</p>
    <p>Optimize runner routes as efficiently as possible to eliminate backtracking to distant locations. Also, think hard about going
        to a distant building when you only have one stamp to find.</p>
    <h4>Returning Your Logbook</h4>
    <p>Puzzle Safari staff will not publish standings after the first round. This means that the winning team might be a surprise,
        unless it isn't. If you think your team has done poorly during a round, you might be wrong. Perhaps you did really well
        compared to other teams, so don't jeopardize your chances of winning by turning in your logbook late and losing two points
        per minute.</p>

</div>
