<div class="container">
    <br />
    <img style="width:309px; height:400px; margin:0px auto; display:block" src="~/images/ps19/ps19-rect-color-400px.png" />
    <br />
    <h3>Welcome to Puzzle Safari 2019: Under Construction</h3>
    <p>Puzzle Safari 2019 starts July 20th in Building 99/Atrium. The opening ceremony commences at 10:00 AM. At least one member of your team must be present to collect your Round 1 puzzles and logbook, and get the current list of allowed and restricted locations, event changes, or other last-minute information.</p>
    <h4>Schedule</h4>
    <table style="width:50%">
        <tr>
            <td>Opening Ceremony - 99/Atrium</td>
            <td>10:00 AM</td>
        </tr>
        <tr>
            <td>Round 1 start</td>
            <td>10:30 AM</td>
        </tr>
        <tr>
            <td>Challenges close</td>
            <td>1:30 PM</td>
        </tr>
        <tr>
            <td>Round 1 logbooks due</td>
            <td>1:30 PM</td>
        </tr>
        <tr>
            <td>Round 1 logbooks disqualified after</td>
            <td>1:40 PM</td>
        </tr>
        <tr>
            <td>Round 2 start - 99/Atrium</td>
            <td>2:00 PM</td>
        </tr>
        <tr>
            <td>Challenges close</td>
            <td>5:15 PM</td>
        </tr>
        <tr>
            <td>Round 2 logbooks due</td>
            <td>5:30 PM</td>
        </tr>
        <tr>
            <td>Round 2 logbooks disqualified after</td>
            <td>5:40 PM</td>
        </tr>
        <tr>
            <td>Solutions posted in 99/Atrium</td>
            <td>5:40 PM</td>
        </tr>
        <tr>
            <td>Results and awards in 99/Atrium</td>
            <td>5:40 PM</td>
        </tr>
    </table>

</div>