<div class="container">
    <br />
    <img style="width:309px; height:400px; margin:0px auto; display:block" src="~/images/ps19/ps19-rect-color-400px.png" />
    <br />
    <p>The FAQ and Rules are found under Resources.</p>
</div>