<div class="container">
    <h2>Rules</h2>
    <p>Please review the Puzzle Safari rules before the event. The basic rules are also printed in
        the logbooks.</p>
    <h3>Disclaimer</h3>
    <p>We'll do our best to enforce these rules so that everyone has an equal chance of winning.
        <strong>However, we want to warn teams that this event isn't always fair.</strong> Any number of
        things can go wrong: stamps might disappear, buildings might become inaccessible... the list goes on.
        We want you to have fun, and we'll do our best to ensure that happens, but some things are out of our
        control. We have enough puzzles to keep everyone entertained despite an occasional glitch, so ignore
        the bumps, move on, and have fun!</p>
    <p>We reserve the right to bump teams out of conference rooms for event reasons. We apologize in advance
        and appreciate your flexibility.</p>
    <h3>Forming Teams</h3>
    <p>Teams consist of four players. Teams cannot swap players during the event, nor can teams enlist
        non-team humans to solve puzzles. Non-human resources (internet, solving tools) are fine. Teams must
        solve all puzzles by themselves.</p>
    <p>Each team must have at least two full-time or intern employees. Non-employees must be accompanied by
        an employee at all times. Remember that you will need a badge to move around campus to pick up
        stamps, so some of your blue badged employees will also need to be fit.</p>
    <p>Need help finding a team? Contact the <a href="mailto:puzzmate@microsoft.com">puzzmate</a> alias.</p>
    <h3>Puzzles and Answers</h3>
    <p>At the beginning of each round, you'll get a puzzle packet. Each of the puzzles has a simple final
        answer, typically a single word or a short phrase. In some puzzles you are explicitly told how to get
        the final answer. In others, figuring out how to extract the final answer is part of the puzzle. If
        you solve a puzzle and you get a long phrase it's probably a clue to a shorter answer.</p>
    <p>You will confirm final answers via the web submission system. If you get it right, you'll get the
        location for a stamp, and possibly some extra information.</p>
    <p>The solution system penalizes persistent guessing. After you make a number of incorrect guesses on a
        specific puzzle, there will be a short delay before you can make an additional guess, and the delay
        will gradually get longer. The goal here is to discourage entering long lists of guesses (such as
        every planet you can think of), there should be no impact if you are solving and entering potential
        answers.</p>
    <p>If you enter an answer that's only halfway to the solution, for example "FIRST MAN ON THE MOON", you
        may get a clue back from the answer system, or a word of encouragement like "Keep going." These
        entries do not get penalized.</p>
    <h3>Finding Stamps</h3>
    <p>Players can walk, jog, skip, or run to stamp locations. They cannot use motorized (cars, Segways)
        or non-motorized transportation (bikes, scooters, skates) at any time during the event.
        (Wheelchairs and other accomodations are allowed for players who need them.)</p>
    <p>Players can leave some members behind to solve puzzles while other team members look for stamps.
        Players can keep in touch by any means, including cell phones.</p>
    <p><strong>Teams must not disassemble, destroy, or otherwise damage property while looking for stamps.
        We reserve the right to disqualify any stamps that are located near property damage.</strong></p>
    <p>Teams must not enter private offices to locate stamps or other items during the event.</p>
    <p>Teams must bring their logbook to each stamp. Teams cannot gather stamps and then meet to stamp
        their logbooks, nor can they disassemble their logbooks to parallelize stamp collection.</p>
    <p>Teams must put each stamp in the appropriate location in their logbooks. Incorrectly stamping a
        logbook forfeits the points earned by that stamp.</p>
    <h3>Avoiding Restricted Areas</h3>
    <p><strong>Do not enter any areas fenced off or barricaded for construction!</strong> Don't take any 
        shortcuts through these areas, either. Unfortunately, we may not know very far in advance which 
        areas are off limits on the day of the event, but we will not place any stamps in these areas.
        Any location clues that appear to send you there are either misunderstood (likely) or incorrect
        (unlikely, but possible). Email psafari if you are sure a location clue is incorrect.</p>
    <p>The valid building numbers are given in your logbook. Any updates to the list will be announced in
        the opening ceremony. This means that you should not look for indoor stamps except in the valid 
        buildings. Your team's headquarters must also be in one of these buildings. You should not run
        through other buildings in an effort to find a shortest path between two points. If you think a
        location clue leads to the inside of a building not on this list, you have interpreted it 
        incorrectly. Stamps may be located on the outside of other East Campus buildings not on this list.</p>
    <p>The buildings west of 156th (22, 40, 41, 42, 43, and 44), and any
        building with a number greater than 49 are also out of bounds. They're not forbidden, we just didn't
        put any stamps there.</p>
    <p>Team members must not enter private offices to collect a stamp. Any stamps associated with a private
        office will be velcroed to the relight or door.</p>
    <p>Team members must not enter unauthorized areas looking for stamps. We won't put stamps behind cashiers
        in the cafeterias, for example, or in the drawers behind the receptionist desks.</p>
    <h3>Scoring</h3>
    <p>During Round 1, puzzles are worth 10 points each. During Round 2, you can locate stamps for Round 1
        and Round 2 puzzles. Round 1 puzzles are worth 5 points, and Round 2 puzzles are worth 10 points.
        Metapuzzles are worth 20 points all day, as are challenges. You are only credited points for puzzles
        that have a solution entered into the answer system and the correct stamp at the correct location in
        the logbook. If you stamp the same puzzle in both Round 1 and Round 2, you will only receive the
        Round 1 points.</p>
    <p>The team with the most points wins!</p>
    <h3>Logbooks</h3>
    <p>Teams must return their logbooks to Puzzle Safari headquarters on or before the time specified on
        the logbook. Any team member can return the logbook. Teams lose two points for every minute they
        are late returning their logbooks. Any team later than <strong>10 minutes</strong> is scored zero
        for that round.</p>
    <p>Logbooks may not be disassembled for any reason. The logbook is to remain in one piece, and this is
        part of the challenge of finding stamps. Activities that do not require the presence of the logbook,
        such as Challenges, puzzle solving, scouting, etc, may be distributed across your teammates, but
        stamp collecting using the logbook may not. We reserve the right to disqualify all points for a
        particular puzzle if we find the stamp has been moved or lost.</p>
    <h3>Tie Breaking</h3>
    <p>In the event of a tie in score, the actual number of stamps collected will determine the winner. For
        example, if Team A and Team B each score 200 points, and Team A did it by collecting 20 stamps whereas
        Team B collected 22 stamps, then Team B is the winner. This can happen because of the point difference
        of Round 1 stamps during Round 2. If this does not resolve the tie, the number of Round 1 stamps
        collected in Round 1 will be used, followed by the number of stamps collected in Round 2 for both
        rounds. After that, teams will remain tied. For purposes of awarding any prize for the top 3 teams,
        we will award the tie to the team with the earliest untied stamp in their Round 1 logbook, followed
        by earliest stamp in the Round 2 logbook, followed by the first submission to the answer system.</p>
    <h3>Cheating</h3>
    <p>We know that the folks who are willing to spend an entire day playing Puzzle Safari won't even think
        of cheating. We've left room for creativity when playing the game, but players must not do any of the
        following: use unauthorized stamps to stamp the logbook; gather stamps and meet to stamp the logbook;
        move stamps from their original location; disassemble the logbook and take it to various stamps; use
        motorized or non-motorized transportation to gather stamps.</p>
</div>
