<div class="container">

<h3>Puzzle Safari 2021</h3>

<div style="max-width: 700px; font-size: 1.2em;">
    <p>
        <img src="~/images/ps21/2021SafariLogoE_small.png" width="228" />
    </p>

    <p>
        Get ready for the gastronomic guile of Puzzle Safari 21: Epicurious Enigmas!
    </p>
    <p>
        To log in or create an account, use the <strong>Login/Create Account</strong> command on the menu bar above. Use the link sent to you by your team captain to join a team. If you're starting a team, <a href="https://puzzlehunt.azurewebsites.net/ps21/play/Teams/Create">register your team here</a>.
    </p>
    <p>
        For detailed information (Schedule, Rules, FAQs, etc.), and to play the event on event day, please go to the <a href="https://aka.ms/puzzlesafari21">Puzzle Safari 21: Epicurious Enigmas</a> site.
    </p>
</div>

</div>