<div class="container">
    <h2>Rules for Intern Puzzleday 2021</h2>
    <h3>How to play</h3>
    <ol>
        <li><strong>HAVE FUN!</strong> (And if you're not having fun, let us know. If your team is running out of steam, let us know.)</li>
        <li>None of the puzzles require you to do anything illegal, immoral, or that would cause Microsoft security to be concerned.</li>
        <li>Everyone should have access to a computer during the event.</li>
        <li>Access to a printer is optional. You may find some puzzles easier to solve with pencil and paper, but all puzzles are designed to be solveable on your computer.</li>
        <li>You may use your computers to communicate with Puzzleday staff and help you solve puzzles. You may also use any printed reference material you care to bring with you. You are encouraged to familiarize yourself with a number of common <a href="https://puzzlehunt.azurewebsites.net/pd2021/play/Encodings">encodings</a>.</li>
        <li>You can use any reference source on the internet. You can use friends or strangers as reference sources but not to help you solve puzzles (e.g., you could call someone to ask them a trivia question but not send them a whole list of trivia questions for them to research). You may not send entire puzzles to friends for help.</li>
        <li>Writing a computer program to solve a puzzle is allowed, but this may take longer than solving the puzzle in its intended manner.</li>
        <li>
            Hacking puzzles is not in the spirit of the event and is strictly prohibited. This includes:
            <ul>
                <li>hacking into any computer system to find answers</li>
                <li>giving false information to another team</li>
                <li>trying to purloin answers from another team, and</li>
                <li>colluding with other teams</li>
            </ul>
        </li>
        <li>In order for a puzzle to be marked as solved, the correct answer must be entered into the correct answer submission box on the website and be submitted before the event ends.</li>
        <li>Each team must be reachable by telephone and email during the event. New puzzles and corrections to puzzles will be sent out via email. <b>Ensure that you are set up to receive email from msph@puzzlehunt.org.</b></li>
    </ol>
    <h3>Team registration</h3>
    <ol>
        <li>Teams should be between 4 and 6 people. You may register your team with only 1 person and fill out the roster later.</li>
        <ul>
            <li>The event is designed for Microsoft interns. Each intern may invite one friend to join their team. This person must be registered as a member of your team and will count against your limit of six people.</li>
            <li>Non-intern Microsoft employees are not permitted to participate in this specific event.</li>
            <li>Teams may be modified between the two sessions, but are limited to six members per session.</li>
            <li>Teams that have fewer than 4 members will be encouraged to merge or find more members. We can help put you in touch with other small teams or your University Recruiter can put you in touch with other interns.</li>
            <li>Only registered teams will have access to puzzles.</li>
        </ul>
    </ol>
    <h3>Winning and scoring</h3>
    <ol>
        <li>There will be prizes for the top 10 teams.</li>
        <li>Teams will first be ranked according to the time by which they solve the final metapuzzle.</li>
        <li>There will also be prizes for the top finishers on Day 1, as well as at the discretion of the organizers.</li>
        <li>Secondary ranking will be by the total points gathered over the event.</li>
        <li>
            Should a tie-breaker become necessary for the distribution of prizes, the following criteria will be used to determine the higher-ranking team in this order:
            <ol>
                <li>The team that has the higher total points by the end of the event.</li>
                <li>The team that solved more puzzles by the end of the event.</li>
                <li>The team that reached that point total first.</li>
                <li>Random drawing.</li>
            </ol>
        </li>
        <li>Teams that are found to be in violation of the event rules will be disqualified from the event and become ineligible for prizes. If disqualification happens before the event is over, that team may continue to solve puzzles at the discretion of Puzzleday staff.</li>
        <li>The decisions of Puzzleday staff are final.</li>
    </ol>

    <hr>
    <h3>Microsoft Entertainment Code of Conduct</h3>
    <p>Microsoft's mission is to empower every person and every organization on the planet to achieve more. This includes Microsoft parties where we seek to create a respectful, friendly, fun and inclusive experience for all participants.</p>
    <p>We do not tolerate harassing or disrespectful behavior, messages, images, or interactions by any party participant, in any form, at any aspect of the program including business and social activities, regardless of location. </p>
    <p>We do not tolerate any behavior that is degrading to any gender, race, sexual orientation or disability, or any behavior that would violate the company's Anti-Harassment and Anti-Discrimination Policy, Equal Employment Opportunity Policy, or Standards of Business Conduct, even if the entertainment is not paid for by Microsoft. In short, the entire experience at the venue must meet our culture standards. </p>
    <p>We encourage everyone to assist in creating a welcoming and safe environment. Please report any concerns, harassing behavior, or suspicious or disruptive activity to venue staff, the event host or owner, or the nearest event staff.  We also encourage employees to contact their Microsoft Manager or our Business Conduct Hotline (1-877-320-MSFT or <a href="mailto:buscond@microsoft.com">buscond@microsoft.com</a>) at any time if you feel a party is against our policy or inconsistent with the Microsoft culture. Outside the United States, call collect to 1-470-219-7087.</p>
    <p>Microsoft reserves the right to refuse admittance to, or remove any person from a party at any time at its sole discretion. </p>
    <p>We make this policy visible for all Microsoft parties so all attendees can see what is expected and what steps they should take if they see or experience behavior not consistent with this policy.</p>
</div>
