@{
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    var Event = eventPage?.Event;
}

@if (!string.IsNullOrEmpty(Event.HomeContent))
{
    @Html.Raw(Event.HomeContent)
}
else
{

    <div class="container" id="pd2023-container">
        <h2 class="pd2023-title">
            <span>Non-Intern Puzzleday 2023</span>
        </h2>

        <div class="pd2023-container-root">
            <div class="pd2023-container-card card-1 column-container">
                <div class="column-one-third">
                    <h3>WELCOME TO NIPD</h3>
                    <p>Non-Intern Puzzleday is a fun 6-hour event where teams of players compete to solve puzzles as quickly as possible. We accept puzzle solvers of all levels! Check out our <b><a asp-page="/EventSpecific/FAQ">FAQ</a></b> and <b><a asp-page="/EventSpecific/Rules">Rules</a></b> pages for more information.</p>
                </div>
                <div class="column-two-third">
                    <img src="~/images/pd2023/nipd2023logo.png" height="160" width="160" title="Puzzleday 2023 logo" alt="Puzzleday 2023 logo" />
                </div>
             </div>

            <div class="pd2023-container-card card-2">
                <h3>NEW TO PUZZLES?</h3>
                <p>You may have seen a jigsaw puzzle, a crossword puzzle, or a Sudoku at some point in your life, but those barely crack the cover on the whole anthology that is &quot;puzzling&quot;! Puzzleday puzzles also have a tendency to get... creative, so you might see something that looks especially strange! Check out a few <a asp-page="/EventSpecific/Samples">sample puzzles</a> or peruse our <a href="https://puzzlearchive.azurewebsites.net/puzzleday/main.html" target="_blank">collection of puzzles</a> from past events.</p>
            </div>

            <div class="pd2023-container-card card-3">
                <h3>FULL SCHEDULE (all times PDT)</h3>
                <p><b>August 21<sup>st</sup> - August 25<sup>th</sup></b>: optional pregame puzzles.</p>
                <br />
                <p><b>August 26<sup>th</sup></b>: DAY OF EVENT</p>
                <ul>
                    <li><b>10:30 AM:</b> Meet in Building 99 to mingle and get important information.</li>
                    <li><b>11 AM:</b> Opening ceremony.</li>
                    <li>During the day, live puzzles will be running in Building 99. Look at those puzzles for the specific time and place. (Remote participants will not be able to play in the live puzzles, but they will be able to finish the event.)</li>
                    <li><b>11:10 AM - 5 PM:</b> Solve puzzles.</li>
                    <li><b>5:15 PM - 6ish PM:</b> Meet in Building 99 to celebrate the winners, see solutions, and chat with puzzle creators.</li>
                </ul>
            </div>

            <div class="pd2023-container-card card-4">
                <h3>HOW TO SIGN UP</h3>
                <p>NEW FOR THIS YEAR: Before creating or joining a team, every player must register for this specific event using the Register link at the top of this page.  During this process, you will select whether you will be in-person or remote.  Once you're registered, you will be able to solve Pregame puzzles once they're available, even if you're not on a team yet!</p>
                <p><b><a asp-page="/Player/Create">CLICK HERE</a></b> to create a team or look for teams who are recruiting new members. Maximum team size is 6 people, at least 2 of which must be Microsoft FTEs. Interns are not allowed to play in this event! See the <b><a asp-page="/EventSpecific/Rules">Rules</a></b> page for further information about team constraints.</p>
                <p>Microsoft Security has restricted access to Studios B, C, X, Buildings 92, 112, 114, 120, 123 - 127, 25, 34, 35, 41, 42, 87, and all construction areas, so they are OFF LIMITS and should not be entered under any circumstances.</p>
            </div>
        </div>
    </div>

}
