@page
@model IndexModel
@{
    ViewData["Title"] = "Microsoft Puzzle Event Homepage";
}

<h3>Our next event</h3>

<h4>Microsoft Puzzlehunt 21</h4>
<a href="https://puzzlehunt.azurewebsites.net/ph21/play">
    <img class="pd2019-logo" src="~/images/msph2020.png" />
</a>
<p>A weekend-long event in spring for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2019/play">Go to Puzzlehunt 21</a>

<hr />

<h3>Past events</h3>
<h4>Microsoft Puzzlehunt 20</h4>
<p>A weekend-long event in spring for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph20/play">Go to the last Puzzlehunt event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2019</h4>
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2019/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2019</h4>
<p>A one-day rebroadcast for employees and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2019/play">Go to the Non-Intern Puzzleday event</a>

<hr />

<h4>Puzzle Safari 2019</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari">Go to the Puzzle Safari event</a>
