@page
@model IndexModel
@{
    ViewData["Title"] = "Microsoft Puzzle Event Homepage";
}

<h3>Our next events</h3>

<h4>Microsoft Intern Puzzleday 2020</h4>
<br />
<h2 style="font-family: 'Segoe UI'; text-transform: uppercase; font-size: 8rem; color: black;">
    <span>Intern Puzzleday </span><span style="white-space:nowrap;"><span style="display: inline-block; font-weight: bold; color: #01A4EF; text-shadow: 0em -0.9em #F44E24; transform: translate(0, 0.45em)">2</span><span style="display: inline-block; font-weight: bold; color: #FFB902; text-shadow: 0em -0.9em #81B900; transform: translate(0, 0.45em)">0</span></span>
</h2>
<br />
<br />
<p>A one-weekend event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2020/play">Go to Puzzleday 2020</a>

<hr />
<h4>Microsoft Puzzlehunt 21</h4>
<!--
<a href="https://puzzlehunt.azurewebsites.net/ph21/play">
    <img class="pd2019-logo" src="~/images/msph2020.png" />
</a>
-->
<p>A weekend-long event in spring <b style="color:red">2021</b> (postponed from 2020, sorry) for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph21/play">Go to Puzzlehunt 21</a>

<hr />

<h3>Past events</h3>
<h4>Microsoft Puzzlehunt 20</h4>
<p>A weekend-long event in spring for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph20/play">Go to the last Puzzlehunt event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2019</h4>
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2019/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Non-Intern Puzzleday 2019</h4>
<p>A one-day rebroadcast for employees and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2019/play">Go to the Non-Intern Puzzleday event</a>

<hr />

<h4>Puzzle Safari 2019</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari">Go to the Puzzle Safari event</a>
