@page
@model IndexModel
@{
    ViewData["Title"] = "Microsoft Puzzle Event Homepage";
}

<h3>Our next event</h3>

<h4>Microsoft Intern Puzzleday 2023</h4>
<img src="~/images/pd2023/pd2023logo.png" height="256" width="256" title="Puzzleday 2023 logo" alt="Puzzleday 2023" />
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2023/play">Go to the Puzzleday event</a>

<hr />

<h3>Past events</h3>

<h4>Puzzlehunt 23</h4>
<p>Puzzle University is committed to providing a modern enigmatological education, where every course is a puzzle. This is a weekend-long event May 6-7, 2023 for solvers anywhere.</p>
<a href="https://www.puzzle.university">Go to Puzzlehunt 23</a>

<h4>Puzzlehunt 22</h4>
<p>You are cordially invited to the Grand Opening and Ribbon Cutting of the Parallax Antimatter Research Analysis Laboratory Linear Accelerator Xyclotron. This is a weekend-long event September 17-18, 2022 for FTEs and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph22/play">Go to Puzzlehunt 22</a>

<hr />
<h4>Microsoft Non-Intern Puzzleday 2022</h4>
<p>A one-day rebroadcast for employees and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2022/play">Go to the Non-Intern Puzzleday event</a>

<hr />

<h4>Puzzle Safari 2022</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari22">Go to the Puzzle Safari event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2022</h4>
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2022/play">Go to the Puzzleday event</a>

<hr />

<h4>March 2022 Intern Puzzleday</h4>
<p>A two-day event over one week for interns that was replayed for the first time this spring.</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2021.2203/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Non-Intern Puzzleday 2021</h4>
<p>A one-weekend event for FTEs and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2021/play">Go to Non-Intern Puzzleday 2021</a>

<hr />

<h4>Puzzle Safari 2021</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari21">Go to the Puzzle Safari event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2021</h4>
<p>A two-day event over one weekend for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2021/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Puzzlehunt 21</h4>
<p>A weekend-long event in spring <b style="color:red">2021</b> (postponed from 2020, sorry) for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph21/play">Go to the Puzzlehunt event</a>

<hr />

<h4>Microsoft Non-Intern Puzzleday 2020</h4>
<p>A one-weekend event for FTEs and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2020/play">Go to the Non-Intern Puzzleday event</a>

<hr />

<h4>Puzzle Safari 2020</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari20">Go to the Puzzle Safari event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2020</h4>
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2020/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Puzzlehunt 20</h4>
<p>A weekend-long event in spring for full-time employees and friends. Puzzles of all levels are included!</p>
<a href="https://puzzlehunt.azurewebsites.net/ph20/play">Go to the Puzzlehunt event</a>

<hr />

<h4>Microsoft Intern Puzzleday 2019</h4>
<p>A one-day event for interns and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/pd2019/play">Go to the Puzzleday event</a>

<hr />

<h4>Microsoft Non-Intern Puzzleday 2019</h4>
<p>A one-day rebroadcast for employees and friends that happens every summer. Puzzle solvers of all levels of experience are welcome!</p>
<a href="https://puzzlehunt.azurewebsites.net/nipd2019/play">Go to the Non-Intern Puzzleday event</a>

<hr />

<h4>Puzzle Safari 2019</h4>
<p>A one-day event for employees and friends that combines solving, running, and searching. Puzzle solvers at all levels are welcome!</p>
<a href="https://aka.ms/puzzlesafari">Go to the Puzzle Safari event</a>
