<div class="container">

<h3>Puzzle Safari 2020</h3>

<h2>Welcome to Safari Labs</h2>

<div style="max-width: 700px; font-size: 1.2em;">
    <p>
        <img src="~/images/ps20/SafariLabsLogo.png" width="399" />
    </p>

    <p>
        Put on your lab coats and safety goggles! The scientists and technicians at Safari Labs are preparing a big stock
        of fine puzzles, challenges, searching, and running for intrepid puzzling-solving teams.
    </p>
    <p>
        As befits a first-class scientific organization, Safari Labs is taking the utmost precautions with respect to COVID-19.
        <a href="https://safarilabs.solutions/Home/EventCovidChanges">Read about them here</a>.
    </p>
    <p>
        Safari Labs will start at: <strong>Saturday, July 18, 2020 10:00 AM</strong>
    </p>


    <p>Registration opened on Tuesday, June 23, and runs through July 16th. <a href="https://puzzlehunt.azurewebsites.net/ps20/play/Teams/Signup">Register your team here!</a></p>
    <p><a href="https://safarilabs.solutions/Home/EventInfo">Detailed event information (Rules, FAQ, etc.) can be found here.</a></p>
</div>

<h2>Schedule</h2>

<p>Puzzle Safari 2020 is on July 18th. The opening ceremony commences at 10:00 AM. <strong>All members of your team must watch the opening.</strong>.</p>
<table style="max-width:600px" class="table table-striped">
    <tr>
        <td>Opening Ceremony&mdash;Microsoft Teams</td>
        <td>10:00 AM</td>
    </tr>
    <tr>
        <td>Round 1 starts</td>
        <td>10:30 AM</td>
    </tr>
    <tr>
        <td>Round 1 picture submission, running close</td>
        <td>1:30 PM</td>
    </tr>
    <tr>
        <td>Challenges close&mdash;must complete the challenge</td>
        <td>1:30 PM</td>
    </tr>
    <tr>
        <td>Round 2 puzzles are available; challenges, pictures, running reopen</td>
        <td>2:00 PM</td>
    </tr>
    <tr>
        <td>Puzzle solving, picture submission, running close</td>
        <td>5:30 PM</td>
    </tr>
    <tr>
        <td>Challenges close&mdash;must complete the challenge by this time</td>
        <td>5:30 PM</td>
    </tr>
    <tr>
        <td>Solutions posted, voting available</td>
        <td>5:30 PM</td>
    </tr>
    <tr>
        <td>Chat, results, and awards&mdash;Microsoft Teams</td>
        <td>~ 5:35&ndash;6:15 PM</td>
    </tr>
</table>

</div>