@page "/{eventId}/{eventRole}/Puzzles/Create"
@model ServerCore.Pages.Puzzles.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Puzzle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Puzzle.Name" class="control-label"></label>
                <input asp-for="Puzzle.Name" class="form-control" />
                <span asp-validation-for="Puzzle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsMetaPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsMetaPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsFinalPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsFinalPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.SolveValue" class="control-label"></label>
                <input asp-for="Puzzle.SolveValue" class="form-control" />
                <span asp-validation-for="Puzzle.SolveValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.HintCoinsForSolve" class="control-label"></label>
                <input asp-for="Puzzle.HintCoinsForSolve" class="form-control" />
                <span asp-validation-for="Puzzle.HintCoinsForSolve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Token" class="control-label"></label>
                <input asp-for="Puzzle.Token" class="form-control" />
                <span asp-validation-for="Puzzle.Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Group" class="control-label"></label>
                <input asp-for="Puzzle.Group" class="form-control" />
                <span asp-validation-for="Puzzle.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.OrderInGroup" class="control-label"></label>
                <input asp-for="Puzzle.OrderInGroup" class="form-control" />
                <span asp-validation-for="Puzzle.OrderInGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsGloballyVisiblePrerequisite" /> @Html.DisplayNameFor(model => model.Puzzle.IsGloballyVisiblePrerequisite)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.MinPrerequisiteCount" class="control-label"></label>
                <input asp-for="Puzzle.MinPrerequisiteCount" class="form-control" />
                <span asp-validation-for="Puzzle.MinPrerequisiteCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.SupportEmailAlias" class="control-label"></label>
                <input asp-for="Puzzle.SupportEmailAlias" class="form-control" />
                <span asp-validation-for="Puzzle.SupportEmailAlias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
