@page "/{eventId}/{eventRole}/Puzzles/Create"
@model ServerCore.Pages.Puzzles.CreateModel

@{
    ViewData["Title"] = "Create puzzle";
    ViewData["AdminRoute"] = "/Puzzles/Create";
    ViewData["AuthorRoute"] = "/Puzzles/Create";
    ViewData["PlayRoute"] = "/Teams/Play";
}

<h2>Create a new puzzle</h2>
<div>
    <a asp-page="Index">Back to puzzle list</a>
</div>

<h4>Puzzle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Puzzle.Name" class="control-label"></label>
                <input asp-for="Puzzle.Name" class="form-control" />
                <span asp-validation-for="Puzzle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Group" class="control-label"></label>
                <input asp-for="Puzzle.Group" class="form-control" />
                <span asp-validation-for="Puzzle.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.OrderInGroup" class="control-label"></label>
                <input asp-for="Puzzle.OrderInGroup" class="form-control" />
                <span asp-validation-for="Puzzle.OrderInGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.Type" class="control-label"></label>
                <select asp-for="Puzzle.Type" asp-items="Html.GetEnumSelectList<CreateModel.PuzzleType>()"></select>
                <span asp-validation-for="Puzzle.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
