@page
@model ServerCore.Pages.Puzzles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Puzzle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Puzzle.ID" />
            <div class="form-group">
                <label asp-for="Puzzle.Name" class="control-label"></label>
                <input asp-for="Puzzle.Name" class="form-control" />
                <span asp-validation-for="Puzzle.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsMetaPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsMetaPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Puzzle.IsFinalPuzzle" /> @Html.DisplayNameFor(model => model.Puzzle.IsFinalPuzzle)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.FirstSolveValue" class="control-label"></label>
                <input asp-for="Puzzle.FirstSolveValue" class="form-control" />
                <span asp-validation-for="Puzzle.FirstSolveValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.MinValue" class="control-label"></label>
                <input asp-for="Puzzle.MinValue" class="form-control" />
                <span asp-validation-for="Puzzle.MinValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.PerSolvePenalty" class="control-label"></label>
                <input asp-for="Puzzle.PerSolvePenalty" class="form-control" />
                <span asp-validation-for="Puzzle.PerSolvePenalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.PuzzleUrlString" class="control-label"></label>
                <input asp-for="Puzzle.PuzzleUrlString" class="form-control" />
                <span asp-validation-for="Puzzle.PuzzleUrlString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.AnswerUrlString" class="control-label"></label>
                <input asp-for="Puzzle.AnswerUrlString" class="form-control" />
                <span asp-validation-for="Puzzle.AnswerUrlString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puzzle.MaterialsUrlString" class="control-label"></label>
                <input asp-for="Puzzle.MaterialsUrlString" class="form-control" />
                <span asp-validation-for="Puzzle.MaterialsUrlString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
