<div class="container">
    <br />
    <img style="width:500px; height:500px; margin:0px auto; display:block" src="~/images/PH20LogoSmall.png" />
    <br />
    <p>The FAQ and Rules are live under Resources. Registration is active! <a asp-page="/Teams/List">Register a new team or join an existing team.</a></p>
</div>