<div class="container">
    <br />
    <img style="width:500px; height:500px; margin:0px auto; display:block" src="~/images/PH20LogoSmall.png" />
    <br />
    <p>Watch this space for more details!</p>
</div>