/* For logo*/
.redblue {
    display: inline-block;
    font-weight: bold;
    animation-name: redblueanim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.greenyellow {
    display: inline-block;
    font-weight: bold;
    animation-name: greenyellowanim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes redblueanim {
    from {
        color: black;
        text-shadow: 0em 0em black;
    }
    to {
        color: #01A4EF;
        text-shadow: 0em -0.9em #F44E24;
        transform: translate(0, 0.45em)
    }
}

@keyframes greenyellowanim {
    from {
        color: black;
        text-shadow: 0em 0em black;
    }
    to {
        color: #FFB902;
        text-shadow: 0em -.9em #81B900;
        transform: translate(0, 0.45em)
    }
}

/* Home page */
.pd2020-title {
    font-family: 'Segoe UI';
    text-transform: uppercase;
    font-size: 8rem;
    color: black;
}

.pd2020-emphasis {
    font-weight: bold;
    font-size: 1.8rem;
}

.pd2020-container-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pd2020-container-card {
    flex: 2;
    min-width: 50rem;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: rgba(191, 241, 169, 0.11);
    border: 1px dashed #B2A171;
    border-radius: 0 2rem;
}

.pd2020-container-card > h3 {
    margin: 0 0 1rem 0;
    font-size: 2.4rem;
}

/* pd2020 overrides */
body {
    font-family: 'Montserrat';
    font-size: 1.4rem;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #587D5B;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #587D5B;
}

.dropdown-menu > li > a {
    padding: 0.8rem 2rem;
    color: #587D5B;
}

.dropdown-menu .divider {
    margin: 0;
}
