<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://puzzletimertrigger.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/569b1f1c-2487-4adc-ae04-343095c10a4e/resourceGroups/WestUSGroup/providers/Microsoft.Web/sites/PuzzleTimerTrigger</ResourceId>
    <UserName>$PuzzleTimerTrigger</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://puzzletimertrigger.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>