<div class="container">
    <h2>FAQ for Non-Intern Intern Puzzleday 2019</h2>
    <h3>What is Puzzleday?</h3>
    <p>
        Puzzleday is an annual one day (~8 hour) puzzling event targeted at interns, most of which have never played in a puzzle event before.
        Think of it as a lighter version of Puzzle Hunt. Puzzle difficulty is between Puzzle Safari and Puzzlehunt.
    </p>

    <h3>How is Non-Intern Puzzleday different?</h3>
    <p>
        We are rerunning the event for the rest of the Microsoft community just for fun. We have all these puzzles sitting around just wanting to be solved again.
        Non-Intern Puzzleday is a lighter version of the annual Intern Puzzleday. Not all puzzles are re-run due to resource or logistic constraints, but we're sure you'll still have fun. If you're interested in seeing the full event, you're encouraged to contact <a href="mailto:pdplanning@service.microsoft.com">Puzzleday Planning</a> in the spring to ask about beta testing.
    </p>

    <h3>But haven’t the interns seen the puzzles and answers already?</h3>
    <p>Yes, they have, but we’ve asked them not to talk with non-interns about them.</p>

    <h3>That doesn’t seem like a rock solid security system...</h3>
    <p>That doesn’t seem like a question.</p>

    <h3>Ok, so what prevents teams from cheating?</h3>
    <p>You’re playing in the event to have fun. Cheating != Fun.</p>

    <h3>Who can play?</h3>
    <p>Anyone except Microsoft Interns. At least two of your team members should have a Microsoft badge (FTE/vendor), but non-MS folks are certainly welcome.</p>

    <h3>How do we get the puzzles?</h3>
    <p>Puzzles will be posted to the website after the opening, and you'll need to print them yourselves. Keep in mind that some puzzles require color printing.</p>

    <hr />
    <h2>The FAQ below is a modified version of what we give interns for the normal Intern Puzzleday.</h2>
    <hr />

    <h3>What is Non-Intern Puzzleday?</h3>
    <p>
        The Microsoft Non-Intern Intern Puzzleday is an annual collaborative puzzle competition that challenges each team of 4 to 6 players to solve a large number of original puzzles of all different kinds.
        Participants will have the chance to solve anything from traditional puzzles like crosswords,
        cryptograms, jigsaws, wordplay, and logic problems to wandering around campus to find landmarks or puzzles that have to be solved on location.
    </p>
    <h3>
        Who is Non-intern Puzzleday for?
    </h3>
    <p>
        Puzzleday is for Microsoft employees and a limited number of their friends. Rule number 1 is "HAVE FUN!" It's a team competition so novice and hardcore puzzle solvers alike can participate. More information about registration is available on the <a href="./Rules">Rules</a> page.
    </p>
    <h3>When is Non-Intern Puzzleday 2019? </h3>
    <p>Puzzleday begins at <strong>11:00 AM on Saturday August 24th, 2019</strong> in the lobby of Building 99. We'll have a few announcements and then share the link for you to print puzzles. Puzzleday runs continuously, with answer submission ending at 5 PM. Answers will be posted in the Building 99 lobby immediately thereafter. </p>
    <h3>
        What equipment do I need?
    </h3>
    <p>
        Primarily your brain and a lot of imagination. Every member of your team should have access to a computer. <b>You will need network access to a printer in order to print the puzzles.</b> Other devices with internet access, pens, pencils, and paper will be helpful. A pair of headphones or speakers may be desired. You can use any supplies from the copy rooms, but please take just what you need and return items like scissors and tape when you're done.
    </p>

    <h3>
        What about food?
    </h3>
    <p>
        No food will be provided.
    </p>

    <h3>
        Who wins?
    </h3>
    <p>
        See the <a href="./Rules">Rules</a> page for more information.
    </p>

    <h3>
        How do we know if we've solved a puzzle?
    </h3>
    <p>
        Each of the puzzles has a simple final answer, either a single word or a short phrase. In some puzzles you are explicitly told how to get the final answer. In others, figuring out how to extract the final answer is part of the puzzle. <strong>You enter puzzle answers into the website and are immediately told whether they are correct</strong>. If you solve a puzzle and you get a long phrase it is probably a clue to a shorter answer. Try entering the phrase into the website. If the word/phrase is recognized and you get a "Keep going" or similar message, that means you entered a valid partial answer and are on the right track.
    </p>

    <h3>What is a "Metapuzzle"? </h3>
    <p>A metapuzzle is a special puzzle that takes the progress you've made from solving other puzzles and combines them in some way. It is not necessary to solve all other puzzles before solving the final metapuzzle. The metapuzzle will be clearly labeled for Intern Puzzleday 2019.</p>

    <h3>
        How do we solve puzzles that don't have instructions?
    </h3>
    <p>
        The implicit instruction for all puzzles is "Figure out the final answer." Puzzles without instructions are either classic puzzle forms, perhaps with a twist, or puzzles where the challenge is figuring out how to solve the puzzle. In the latter case, the key is usually to look for patterns or common bonds between the parts of the puzzle. For example, are many of the words spelled wrong? Have all the vowels been left out? Sometimes there may be a hint hidden in the puzzle.
    </p>

    <h3>
        What's the best way to win?
    </h3>
    <p>
        The best way to win is to solve puzzles quickly so that you get to the final metapuzzle. The best way to accomplish this is with teamwork. Many teams prefer to work individually on the easier puzzles and work as a group on the harder puzzles. If you get stuck, ask for help or switch to another puzzle. Make sure you keep track of which puzzles you've already solved and confirmed using the answer submission system.
    </p>

    <h3>
        What's the best way to lose?
    </h3>
    <p>
        Not having fun. If you're not having fun working on a particular puzzle, switch to another one. Don't worry, you're unlikely to run out of puzzles.
    </p>

    <h3>
        What if we're really stuck?
    </h3>
    <p>
        If you don't understand how to solve a puzzle, contact puzzle control. We may give you a hint or clarify the instructions. Aside from that, there are enough puzzles that you probably won't be stuck on all of them.
    </p>

    <h3>
        When do we get hints?
    </h3>
    <p>
        Puzzle control will provide hints during the event. @*in two ways. First, we will distribute sets of hints to all teams at the same time by email at least once during the event. Second, we will sometimes offer hints to teams when they send email to puzzle control. The decision of what hints to provide is completely at the discretion of puzzle control. For example, towards the end of the day we will be liberal with providing hints to teams that clearly have no chance of winning so that they can continue to have fun. We are more likely to give a strong hint to a puzzle that no team has solved than one that's been solved by just one team. We would also be more likely to give a strong hint to a puzzle that has already been solved by all the top teams. So don't get discouraged when we give hints to puzzles you've already solved.*@
    </p>

    <h3>
        What are the prizes?
    </h3>
    <p>
        There are no prizes other than bragging rights.
    </p>

    <h3>
        Can I finish by accident, without solving the puzzles?
    </h3>
    <p>
        No. 😇
    </p>

    <h3>
        Do I have to register to participate?
    </h3>
    <p>
        Yes. If you miss the registration deadline, send mail to puzzle control at <a href="mailto:puzzhunt@microsoft.com">puzzhunt</a>.
    </p>

    <h3>
        Do I have to be on the Redmond campus to participate?
    </h3>
    <p>
        Yes. While it might be theoretically possible for someone to help a team from a remote location, some of the puzzles will require you to visit locations on campus and team events like this really don't work when a team is not together in one location.
    </p>

    <h3>
        I'm not that good at solving puzzles and some of these puzzles look hard. Can I still participate?
    </h3>
    <p>
        Yes. As in any event like this, some teams and some players will be very dedicated. But the event is designed so that less dedicated teams will also have fun. It's also OK to have teams that consist of some hard core participants and some casual participants. There will be a variety of puzzles so there's a good chance there will be puzzles that you enjoy.
    </p>

    <h3>
        How do I contact puzzle control?
    </h3>
    <p>
        Send email to <a href="mailto:puzzhunt@microsoft.com">puzzhunt</a>. We will also provide you with a telephone number to contact us at during the event.
    </p>
</div>
