<div class="container" id="pd2019-container">
    <h2 class="pd2019-title">Intern Puzzleday 2019</h2>

    <div class="pd2019-container-root">
        <div class="pd2019-container-logo">
            <img class="pd2019-logo" src="~/images/pd2019/pd2019-logo-400px.png" />
        </div>

        <div class="pd2019-container-card">
            <h3>WELCOME TO PUZZLEDAY</h3>
            <p>Thank you for joining us at the Puzzleday Preserve! We expect that you will have a great time with us on <span class="pd2019-emphasis">July 13 (Saturday)</span>.</p>

            <p>As you know, interest in the Puzzleday Preserve has boomed since we announced the introduction of fantastical creatures. While nobody can honestly forget the ability of our resident penguin singing group to gather crowds, public interest has reached a different level of amazing now that they're joined by dragons and jackalopes. We've gotten so busy preparing for our grand reopening that it's been really difficult keeping everything running smoothly.</p>

            <p>Which is why we thank you for offering your assistance! You and your team of up to 12 puzz-zoologists will be on-site helping out and you have no idea how excited we are to host you. After you join a team, don't forget to <span class="pd2019-emphasis">tell us your T-shirt sizes and lunch preferences</span> so that we can get that prepared in advance.</p>
        </div>
    </div>
</div>