<div class="container">
    <h2>Rules for Intern Puzzleday 2019</h2>
    <h3>How to play</h3>
    <ol>
        <li><strong>HAVE FUN!</strong> (And if you're not having fun, let us know. If your team is running out of steam, let us know.)</li>
        <li>
            None of the puzzles require you to do anything illegal, immoral, or that would cause Microsoft
            security to be concerned.
        </li>
        <li>Everyone should have access to a computer during the event.</li>
        <li>You may use your computers to communicate with puzzle control and help you solve puzzles. You may also use any printed reference material you care to bring with you. You are encouraged to familiarize yourself with a number of common <a href="./Encodings">encodings</a>.</li>
        <li>You can use any reference source on the internet. You can use friends or strangers as reference sources but not to help you solve puzzles (e.g., you could call someone to ask them a trivia question but not send them a whole list of trivia questions for them to research). You may not send entire puzzles to friends for help.</li>
        <li>
            Writing a computer program to solve a puzzle is allowed, but this may take longer than solving the puzzle in its intended manner.
        </li>
        <li>
            Hacking puzzles is not in the spirit of the event and is strictly prohibited. This includes:
            <ul>
                <li>hacking into any computer system to find answers</li>
                <li>modifying something needed by other teams to solve any puzzle (e.g., moving an object referenced in a puzzle)</li>
                <li>giving false information to another team</li>
                <li>trying to purloin answers from another team, and</li>
                <li>colluding with other teams</li>
            </ul>
        </li>
        <li>In order for a puzzle to be marked as solved, the correct answer must be entered into the correct answer submission box on the website and be submitted before the event ends.</li>
        <li>Each team must be reachable by telephone and email during the event. New puzzles and corrections to puzzles will be sent out via email. <b>Ensure that you are set up to receive email from msph@puzzlehunt.org.</b></li>
        <li>
            Teams should clean up their conference rooms after the end of the event.
            The regular cleaning schedule does not cover weekends. You should leave the room in an appropriate condition to be used for a Monday morning meeting.
        </li>
    </ol>
    <h3>Traveling outside your conference room</h3>
    <ol>
        <li>There are ONLY two ways that you might be instructed to travel.</li>
        <ul>
            <li>The puzzle has explicit instructions to travel. For example, your team may be scheduled for a live event at a specified location.</li>
            <li>You submit an answer and the response from the website gives you explicit instructions to travel. If you have an answer that looks like a travel instruction, enter it into the submission box in full and only travel if the response says so.</li>
        </ul>
        <li>
            You must not enter any person's private office during the course of the event unless it is the office of a member of your team.
        </li>
        <li>
            If any travel is required, it will take place on Microsoft property south of NE 40th Street and north of Bel-Red Road. The list of specific buildings that are off limits will be published before the event.
        </li>
    </ol>
    <h3>Team registration</h3>
    <ol>
        <li>Teams must be between 8 to 12 people. The recommended team size is 10 to 12. You may register your team with only 1 person and fill out the roster later.</li>
        <ul>
            <li>The event is designed for Microsoft interns. Each intern may invite one friend to join their team. This person must be registered as a member of your team and will count against your limit of twelve people. Guests must be escorted by someone with a cardkey at all times.</li>
            <li>Non-intern Microsoft employees are not permitted to participate in this specific event.</li>
            <li>Teams that fall short of the minimum size will be merged with other teams prior to the event.</li>
        </ul>
        <li>To participate, you must register your team prior to the team registration deadline (TBD early July). You will be allowed to add and remove members after that time, but not to create new teams.
    </ol>
    <h3>Winning and scoring</h3>
    <ol>
        <li>There will be prizes for the top 3 teams.</li>
        <li>
            Teams will first be ranked according to the time by which they solve the final metapuzzle.
        </li>
        <li>
            Teams that do not solve the final metapuzzle will be ranked by the total points gathered over the event.
        </li>
        <li>
            Should a tie-breaker become necessary for the distribution of prizes, the following criteria will be used to determine the higher-ranking team:
            <ol>
                <li>The team that has the higher total points by the end of the event.</li>
                <li>The team that solved more puzzles by the end of the event.</li>
                <li>The team that reached that point total first.</li>
                <li>Random drawing.</li>
            </ol>
        </li>
        <li>Teams that are found to be in violation of the event rules will be disqualified from the event and become ineligible for prizes. If disqualification happens before the event is over, that team may continue to solve puzzles at the discretion of puzzle control.</li>
        <li>The decisions of puzzle control are final.</li>
    </ol>
    <h3>Parking and visitors</h3>
    <ol>
        <li>Vehicles without a parking permit will need to be registered with security. Teams should plan to register visitor vehicles with their building receptionist the week before the event. Park only in designated spaces.</li>
        <li>
            Visitors (anyone without a valid Microsoft badge) must be escorted by someone with a badge at all times.
            Visitors must display the visitor badges distributed at the start of the event.
        </li>
    </ol>

    <hr />
    <h3>Microsoft Entertainment Code of Conduct</h3>
    <p>Microsoft's mission is to empower every person and every organization on the planet to achieve more. This includes Microsoft parties where we seek to create a respectful, friendly, fun and inclusive experience for all participants.</p>
    <p>We do not tolerate harassing or disrespectful behavior, messages, images, or interactions by any party participant, in any form, at any aspect of the program including business and social activities, regardless of location. </p>
    <p>We do not tolerate any behavior that is degrading to any gender, race, sexual orientation or disability, or any behavior that would violate the company's Anti-Harassment and Anti-Discrimination Policy, Equal Employment Opportunity Policy, or Standards of Business Conduct, even if the entertainment is not paid for by Microsoft. In short, the entire experience at the venue must meet our culture standards. </p>
    <p>We encourage everyone to assist in creating a welcoming and safe environment. Please report any concerns, harassing behavior, or suspicious or disruptive activity to venue staff, the event host or owner, or the nearest event staff.  We also encourage employees to contact their Microsoft Manager or our Business Conduct Hotline (1-877-320-MSFT or <a href="mailto:buscond@microsoft.com">buscond@microsoft.com</a>) at any time if you feel a party is against our policy or inconsistent with the Microsoft culture. Outside the United States, call collect to 1-470-219-7087.</p>
    <p>Microsoft reserves the right to refuse admittance to, or remove any person from a party at any time at its sole discretion. </p>
    <p>We make this policy visible for all Microsoft parties so all attendees can see what is expected and what steps they should take if they see or experience behavior not consistent with this policy.</p>
</div>
