@page "/{eventId}/{eventRole}/Hints/Create/{puzzleId}"
@model ServerCore.Pages.Hints.CreateModel

@{
    ViewData["Title"] = "Create hint";
    ViewData["AdminRoute"] = "../Hints/Create";
    ViewData["AuthorRoute"] = "../Hints/Create";
    ViewData["PlayRoute"] = "../Teams/Hints";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

<h2>@Model.Puzzle.Name: Create hint</h2>
<a asp-page="./Index">Cancel</a>

<h4>Hint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Hint.Description" class="control-label"></label>
                <input asp-for="Hint.Description" class="form-control" />
                <span asp-validation-for="Hint.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.Content" class="control-label"></label>
                <input asp-for="Hint.Content" class="form-control" />
                <span asp-validation-for="Hint.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.Cost" class="control-label"></label>
                <input asp-for="Hint.Cost" class="form-control" />
                <span asp-validation-for="Hint.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.DisplayOrder" class="control-label"></label>
                <input asp-for="Hint.DisplayOrder" class="form-control" />
                <span asp-validation-for="Hint.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
