@page "/{eventId}/{eventRole}/Hints/Delete/{puzzleId}"
@model ServerCore.Pages.Hints.DeleteModel

@{
    ViewData["Title"] = "Delete hint";
    //Needs route data - ViewData["AdminRoute"] = "/Hints/Delete";
    //Needs route data - ViewData["AuthorRoute"] = "/Hints/Delete";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Hints";
}

<h2>@Model.Hint.Puzzle.Name: Delete hint</h2>
<a asp-page="./Index">Cancel</a>

<h3>Are you sure you want to delete this hint?</h3>
<div>
    <h4>Hint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>
        <dd>
            @Model.Hint.Description
        </dd>
        <dt>
            Content
        </dt>
        <dd>
            @Model.Hint.Content
        </dd>
        <dt>
            Cost
        </dt>
        <dd>
            @Model.Hint.Cost
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Hint.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
    </form>
</div>
