@page "/{eventId}/{eventRole}/Hints/Edit/{puzzleId}"
@model ServerCore.Pages.Hints.EditModel

@{
    ViewData["Title"] = "Edit hint";
    //Needs route data - ViewData["AdminRoute"] = "/Hints/Edit";
    //Needs route data - ViewData["AuthorRoute"] = "/Hints/Edit";
    //Needs route data - ViewData["PlayRoute"] = "/Teams/Hints";
}

<h2>@Model.Hint.Puzzle.Name: Edit hint</h2>
<div>
    <a asp-page="./Index">Cancel</a>
</div>

<div>
    A negative hint cost is treated as the equivalent positive cost
    and is credited to the cost of other hints.
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hint.Id" />
            @*<input type="hidden" asp-for="Hint.Puzzle" />*@
            <div class="form-group">
                <label asp-for="Hint.Description" class="control-label"></label>
                <input asp-for="Hint.Description" class="form-control" />
                <span asp-validation-for="Hint.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.Content" class="control-label"></label>
                <input asp-for="Hint.Content" class="form-control" />
                <span asp-validation-for="Hint.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.Cost" class="control-label"></label>
                <input asp-for="Hint.Cost" class="form-control" />
                <span asp-validation-for="Hint.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hint.DisplayOrder" class="control-label"></label>
                <input asp-for="Hint.DisplayOrder" class="form-control" />
                <span asp-validation-for="Hint.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
