@page "/{eventId}/{eventRole}"
@model ServerCore.Pages.EventSpecific.IndexModel
@{
    ViewData["Title"] = Model.Event.Name;
}

<h2>Welcome to @Model.Event.Name!</h2>

<p>Yay! Puzzles! Excitement!</p>

<div>
    <a asp-page="/Events/Details">View event properties</a> |
    <a asp-page="/Events/Edit">Edit event properties</a> |
    <a asp-page="/Events/Import">Import from another event</a> |
    <a asp-page="/Events/Delete">Delete the event</a>
</div>