@page "/{eventId}/{eventRole}"
@model ServerCore.Pages.EventSpecific.IndexModel
@{
    ViewData["Title"] = Model.Event.Name;
}

<h2>Welcome to @Model.Event.Name!</h2>

<p>Yay! Puzzles! Excitement!</p>
