@page "/{eventId}/{eventRole}/Rules"
@model ServerCore.Pages.EventSpecific.IndexModel
@{
    ViewData["Title"] = "Rules";
    ViewData["AdminRoute"] = "/EventSpecific/Rules";
    ViewData["AuthorRoute"] = "/EventSpecific/Rules";
    ViewData["PlayRoute"] = "/EventSpecific/Rules";
}

<h2>Rules</h2>

<p>Don't do bad things :(</p>
