body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

table.ph-statemap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}

table.ph-statemap > tbody > tr > td {
    padding: 3px;
    vertical-align: middle;
}

table.ph-statemap > thead > tr > th:nth-child(1n+5) {
    font-weight: normal;
    writing-mode: vertical-rl;
}

table.ph-statemap > tbody > tr > td:nth-child(1) {
    text-align: right;
}

table.ph-statemap > tbody > tr > td:nth-child(2) {
    max-width: 15em;
}

table.ph-statemap > tbody > tr > td:nth-child(2) > a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

table.ph-statemap > tbody > tr > td:nth-child(3) {
    text-align: right;
}

table.ph-statemap > tbody > tr > td:nth-child(4) {
    text-align: right;
}

table.ph-statemap > tbody > tr > td:nth-child(1n+5) {
    text-align: center;
}

table.ph-statemap > thead > tr > th > a, table.ph-statemap > tbody > tr > td > a {
    color: #333;
    text-decoration: none;
}

table.ph-statemap tbody tr td.dark a {
    color: #ccc;
}

/* Custom css*/

.shortcut-menu-dropdown {
    position: relative;
    display: inline-block;
}

.shortcut-menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.shortcut-menu-dropdown:hover .shortcut-menu-dropdown-content {
    display: block;
}

.player-menu {
    background-color: #293D2C;
    border-color: #080808;
    font-weight: bold;
}

.author-menu {
    background-color: #483F32;
    border-color: #080808;
    font-weight: bold;
}

.admin-menu {
    background-color: #330001;
    border-color: #080808;
    font-weight: bold;
}