@page "/{eventId}/{eventRole}/Rooms/AddRooms"
@model ServerCore.Pages.Rooms.AddRoomsModel

@{
    ViewData["Title"] = "Add Rooms";
    ViewData["AdminRoute"] = "../Rooms/AddRooms";
}
<h2>Add Rooms</h2>

<form method="post">
    <textarea name="inputRooms" style="height:500px"></textarea>
    <label>
        Group
        <textarea name="group"></textarea>
    </label>
    <input type="submit" />
</form>

