<h2>@Model?.Event?.Name FAQ TBD</h2>
@if (Model?.Event?.EventRole == ModelBases.EventRole.admin)
{
    <p><b>Since you're an admin:</b> Upload a file named faq-content.html to the <a href="https://puzzlehunt.azurewebsites.net/@(Model.Event.UrlString)/admin/Puzzles/ResourceManagement">shared resources folder</a> for this event. Don't forget the homepage and rules, and for good measure, set the event's HomePartial field to be the same as its UrlString so this content is permanently hidden.</p>
}