@page "/{eventId}/{eventRole}/Submissions/SubmitProto"
@model ServerCore.Pages.Submissions.SubmitProtoModel

@{
    @using Helpers;

    ViewData["Title"] = "Solve here and submit your answer";
    ViewData["AdminRoute"] = "../Submissions/AuthorIndex";
    ViewData["AuthorRoute"] = "../Submissions/AuthorIndex";
    // TODO: Needs to handle implicit teams - ViewData["PlayRoute"] = "../Submissions/Index";
    ViewData["RoutingPuzzleId"] = ViewContext.RouteData.Values["puzzleId"];
}

@using System.Text @* for StringBuilder *@

<h2>Solve and submit answers for your puzzle</h2>
<hr />
<iframe title="Puzzle" width="1500" height="800" sandbox="allow-same-origin allow-scripts" credentialless src="https://puzzlehunt.azurewebsites.net/4/Files/example-puzzle%2Findex.html"></iframe>
<iframe title="Puzzle" width="1500" height="800" sandbox="allow-same-origin allow-scripts" credentialless src="https://puzzleserverteststore.blob.core.windows.net/evt4/GINMPx+Ko8rDJnnhDY4_JA==/example-puzzle/index.html"></iframe>
