@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string returnUrl = null;
    if (ViewContext.HttpContext.Request.Path.HasValue)
    {
        returnUrl = ViewContext.HttpContext.Request.Path.Value;

        // If the user double clicks the login link, try to fall back to the previous return URL if available
        if (returnUrl == "/Identity/Account/Login" && ViewContext.HttpContext.Request.Query.ContainsKey("returnUrl"))
        {
            returnUrl = ViewContext.HttpContext.Request.Query["returnUrl"];
        }
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl=@returnUrl method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl=@returnUrl>Login/Create Account</a></li>
    </ul>
}
