<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section.
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Handle requests up to 100 MB -->
        <!--MaxQueryString needs to be extended because Microsoft.com accounts have a token more than 2100 characters in length-->
        <requestLimits maxAllowedContentLength="104857600" maxQueryString="4000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>