<h3>ClientSyncComponent</h3>
<h4>Last updated: @LastSyncUtc</h4>
<button @onclick="PushChangeAsync">Push Change</button>
<button @onclick="SyncAsync">Sync</button>

<script>
    let hostComponent = null;
    let puzzleLoaded = false;
    let readyToSync = false;

    async function registerDotNet(hostComponentArg) {
        console.log("Registering dotNet");
        hostComponent = hostComponentArg;

        console.log("Visibility: " + document.visibilityState);
        puzzleFrame = document.getElementById("puzzle-frame");
        if (puzzleFrame) {
            console.log("puzzleFrame found in register handler");
            puzzleFrame.contentWindow.postMessage("syncComponentLoad", "*");
            readyToSync = true;
            if (puzzleLoaded) {
                await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoaded");
            }
        }
        else {
            console.warning("puzzleFrame not found in register handler!");
        }
    }

    async function onVisibilityChangeAsync (ev) {
        console.log("Visibility changed to: " + document.visibilityState);
        if (hostComponent) {
            await hostComponent.invokeMethodAsync("VisibilityChanged", document.visibilityState);
        }
    }

    function getVisibility() {
        return document.visibilityState;
    }

    let puzzleFrame = null;
    console.log("ClientSyncComponent loading...");
    addEventListener("visibilitychange", onVisibilityChangeAsync);
    addEventListener("message", (ev) => {
        console.log("Message received: " + ev.data);
        if (!puzzleLoaded && ev.data === "puzzleLoad") {
            console.log("got puzzle load message");
            puzzleLoaded = true;

            if (!puzzleFrame) {
                puzzleFrame = document.getElementById("puzzle-frame");
            }
            if (puzzleFrame) {
                console.log("puzzleFrame found in message handler");
                puzzleFrame.contentWindow.postMessage("syncComponentLoad", "*");
                readyToSync = true;
                if (hostComponent) {
                    hostComponent.invokeMethodAsync("OnSyncablePuzzleLoaded");
                }
            }
            else {
                console.warning("puzzleFrame not found in message handler!");
            }
        }
    });

</script>

@foreach(string recievedValue in ReceivedValues)
{
    <p>@recievedValue</p>
}