
<InputRadioGroup Name="TeamSoloToggle" @bind-Value="Paused">
    <span>
        @if (!ReadOnly)
        {
            <InputRadio @onclick="OnResumeSyncAsync" Value="false" id="resume" class="btn-check" />
            <label class="btn btn-secondary" role="button" for="resume">&#x1F465; Team Solving</label>
        }
    </span>
    <span>
        @if (!ReadOnly)
        {
            <InputRadio @onclick="OnPauseSyncAsync" Value="true" id="pause" class="btn-check" />
            <label class="btn btn-secondary" role="button" for="pause">&#x1F464; Solo Solving</label>
        }
    </span>
</InputRadioGroup>

@if (SyncablePuzzleLoaded)
{
    <div>Last change made: @DisplayLastSyncUtc.LocalDateTime</div>
}
else
{
    <div>Team mode is disabled for this puzzle</div>
}

<script>
    let hostComponent = null;
    let puzzleLoaded = false;
    let readyToSync = false;
    let savedMode = null;

    async function sendSyncComponentLoad(mode) {
        if (!puzzleFrame) {
            puzzleFrame = document.getElementById("puzzle-frame");
        }

        if (puzzleFrame) {
            puzzleFrame.contentWindow.postMessage({type: "syncComponentLoad"}, "*");
            readyToSync = true;
            if (puzzleLoaded) {
                await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoadedAsync", mode);
            }
        }
        else {
            console.warn("puzzleFrame not found in message handler!");
        }
    }

    async function registerDotNet(hostComponentArg) {
        hostComponent = hostComponentArg;
        sendSyncComponentLoad(savedMode);
    }

    async function onVisibilityChangeAsync (ev) {
        if (hostComponent) {
            await hostComponent.invokeMethodAsync("VisibilityChanged", document.visibilityState);
        }
    }

    async function onPuzzleSynced (changes) {
        puzzleFrame.contentWindow.postMessage({type: "puzzlesynced", changes: changes}, "*");
    }

    async function onPuzzleResetSynced (reset) {
        puzzleFrame.contentWindow.postMessage({type: "puzzleresetsynced", reset: reset}, "*");
    }

    async function onSetCoopMode(mode) {
        puzzleFrame.contentWindow.postMessage({ type: "setCoopMode", mode: mode }, "*");
    }

    function getVisibility() {
        return document.visibilityState;
    }

    let puzzleFrame = null;
    window.addEventListener("visibilitychange", onVisibilityChangeAsync);
    window.addEventListener("message", async (ev) => {
        if (!puzzleLoaded && ev.data.type === "puzzleLoad") {
            savedMode = ev.data.mode;
            console.debug(`got puzzle load message with mode ${savedMode}`);
            puzzleLoaded = true;

            sendSyncComponentLoad(savedMode);
        }
        else if (ev.data.type === "puzzlechanged") {
            await hostComponent.invokeMethodAsync("OnPuzzleChangedAsync", ev.data.changes);
        }
        else if (ev.data.type === "puzzlereset") {
            await hostComponent.invokeMethodAsync("OnPuzzleResetAsync", ev.data.changes);
        }
    });

</script>