@if (SyncablePuzzleLoaded)
{
    <span>Last change made: @DisplayLastSyncUtc.LocalDateTime</span>
}
else
{
    <span>Syncing not enabled</span>
}

<script>
    let hostComponent = null;
    let puzzleLoaded = false;
    let readyToSync = false;

    async function sendSyncComponentLoad() {
        if (!puzzleFrame) {
            puzzleFrame = document.getElementById("puzzle-frame");
        }

        if (puzzleFrame) {
            puzzleFrame.contentWindow.postMessage({type: "syncComponentLoad"}, "*");
            readyToSync = true;
            if (puzzleLoaded) {
                await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoadedAsync");
            }
        }
        else {
            console.warning("puzzleFrame not found in message handler!");
        }
    }

    async function registerDotNet(hostComponentArg) {
        hostComponent = hostComponentArg;
        sendSyncComponentLoad();
    }

    async function onVisibilityChangeAsync (ev) {
        if (hostComponent) {
            await hostComponent.invokeMethodAsync("VisibilityChanged", document.visibilityState);
        }
    }

    async function onPuzzleSynced (changes) {
        puzzleFrame.contentWindow.postMessage({type: "puzzlesynced", changes: changes}, "*");
    }

    function getVisibility() {
        return document.visibilityState;
    }

    let puzzleFrame = null;
    window.addEventListener("visibilitychange", onVisibilityChangeAsync);
    window.addEventListener("message", async (ev) => {
        if (!puzzleLoaded && ev.data.type === "puzzleLoad") {
            console.debug("got puzzle load message");
            puzzleLoaded = true;

            sendSyncComponentLoad();
        }
        else if (ev.data.type === "puzzlechanged") {
            await hostComponent.invokeMethodAsync("OnPuzzleChangedAsync", ev.data.changes);
        }
    });

</script>