@* <h3>ClientSyncComponent</h3> *@
<h4>Last updated: @LastSyncUtc</h4>
@* <button @onclick="PushChangeAsync">Push Change</button>*@
<button @onclick="SyncAsync">Sync</button>

<script>
    let hostComponent = null;
    let puzzleLoaded = false;
    let readyToSync = false;

    async function registerDotNet(hostComponentArg) {
        console.log("Registering dotNet");
        hostComponent = hostComponentArg;

        console.log("Visibility: " + document.visibilityState);
        puzzleFrame = document.getElementById("puzzle-frame");
        if (puzzleFrame) {
            console.log("puzzleFrame found in register handler");
            puzzleFrame.contentWindow.postMessage({type: "syncComponentLoad"}, "*");
            readyToSync = true;
            if (puzzleLoaded) {
                await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoaded");
            }
        }
        else {
            console.warning("puzzleFrame not found in register handler!");
        }
    }

    async function onVisibilityChangeAsync (ev) {
        console.log("Visibility changed to: " + document.visibilityState);
        if (hostComponent) {
            await hostComponent.invokeMethodAsync("VisibilityChanged", document.visibilityState);
        }
    }

    async function onPuzzleSynced (changes) {
        console.log("Puzzle synced with changes: " + changes);
        puzzleFrame.contentWindow.postMessage({type: "puzzlesynced", changes: changes}, "*");
    }

    function getVisibility() {
        return document.visibilityState;
    }

    let puzzleFrame = null;
    console.log("ClientSyncComponent loading...");
    addEventListener("visibilitychange", onVisibilityChangeAsync);
    addEventListener("message", async (ev) => {
        console.log("Message received: " + ev.data);
        if (!puzzleLoaded && ev.data.type === "puzzleLoad") {
            console.log("got puzzle load message");
            puzzleLoaded = true;

            if (!puzzleFrame) {
                puzzleFrame = document.getElementById("puzzle-frame");
            }
            if (puzzleFrame) {
                console.log("puzzleFrame found in message handler");
                puzzleFrame.contentWindow.postMessage({type: "syncComponentLoad"}, "*");
                readyToSync = true;
                if (hostComponent) {
                    await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoaded");
                }
            }
            else {
                console.warning("puzzleFrame not found in message handler!");
            }
        }
        else if (ev.data.type === "puzzlechanged") {
            console.log("got puzzle change message");
            await hostComponent.invokeMethodAsync("OnPuzzleChangedAsync", ev.data.changes);
        }
    });

</script>

@foreach(string recievedValue in ReceivedValues)
{
    <p>@recievedValue</p>
}