@if (SyncablePuzzleLoaded)
{
    if (!Paused)
    {
        <span>
            Last change made: @DisplayLastSyncUtc.LocalDateTime
            <input type="button" @onclick="OnPauseSyncAsync" value="Switch to Solo Mode" />
        </span>
    }
    else
    {
        <span>
            Sync paused
            <input type="button" @onclick="OnResumeSyncAsync" value="Switch to Co-Op Mode" />
        </span>
    }
}
else
{
    <span>Syncing not enabled</span>
}

<script>
    let hostComponent = null;
    let puzzleLoaded = false;
    let readyToSync = false;
    let savedMode = null;

    async function sendSyncComponentLoad(mode) {
        if (!puzzleFrame) {
            puzzleFrame = document.getElementById("puzzle-frame");
        }

        if (puzzleFrame) {
            puzzleFrame.contentWindow.postMessage({type: "syncComponentLoad"}, "*");
            readyToSync = true;
            if (puzzleLoaded) {
                await hostComponent.invokeMethodAsync("OnSyncablePuzzleLoadedAsync", mode);
            }
        }
        else {
            console.warn("puzzleFrame not found in message handler!");
        }
    }

    async function registerDotNet(hostComponentArg) {
        hostComponent = hostComponentArg;
        sendSyncComponentLoad(savedMode);
    }

    async function onVisibilityChangeAsync (ev) {
        if (hostComponent) {
            await hostComponent.invokeMethodAsync("VisibilityChanged", document.visibilityState);
        }
    }

    async function onPuzzleSynced (changes) {
        puzzleFrame.contentWindow.postMessage({type: "puzzlesynced", changes: changes}, "*");
    }

    async function onSetCoopMode(mode) {
        puzzleFrame.contentWindow.postMessage({ type: "setCoopMode", mode: mode }, "*");
    }

    function getVisibility() {
        return document.visibilityState;
    }

    let puzzleFrame = null;
    window.addEventListener("visibilitychange", onVisibilityChangeAsync);
    window.addEventListener("message", async (ev) => {
        if (!puzzleLoaded && ev.data.type === "puzzleLoad") {
            savedMode = ev.data.mode;
            console.debug(`got puzzle load message with mode ${savedMode}`);
            puzzleLoaded = true;

            sendSyncComponentLoad(savedMode);
        }
        else if (ev.data.type === "puzzlechanged") {
            await hostComponent.invokeMethodAsync("OnPuzzleChangedAsync", ev.data.changes);
        }
    });

</script>