@using Microsoft.AspNetCore.SignalR
@using Microsoft.Extensions.Caching.Memory
@using ServerCore;
@using ServerCore.ServerMessages

@inject ServerMessageListener MessageListener
@inject IHubContext<ServerMessageHub> MessageHub
@inject DataModel.PuzzleServerContext PuzzleServerContext
@inject IMemoryCache MemoryCache
@inject PresenceStore PresenceStore

<style>
    .presence-info {
        font-size: 12px;
        color: #555;
        padding-top: 8px;
    }

    .presence-dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #4caf50;
        box-shadow: 0 0 0 2px rgba(76,175,80,0.3);
        vertical-align: middle;
        margin-right: 4px;
    }
</style>

<div class="presence-info">
    <span>
        <span class="presence-dot"></span>
        @if(!ShowPresenceOnly)
        {
            <b>Who&apos;s Here: </b>
        }
        @if (MaxUsers.HasValue && PresentUsers.Count > MaxUsers.Value)
        {
            int remainingUsers = PresentUsers.Count - MaxUsers.Value + 1;
            string remainingUsersString = $"{remainingUsers}+";
            @(string.Join(", ", PresentUsers.Take(MaxUsers.Value - 1).Select(u => u.Name)) + ", " + remainingUsersString);
        }
        else
        {
            @string.Join(", ", PresentUsers.Select(u => u.Name))
        }
    </span>
</div>