@{
    var eventPage = Model as ServerCore.ModelBases.EventSpecificPageModel;
    bool IsRegistered = false;
    if (eventPage != null)
    {
        IsRegistered = await eventPage.IsRegisteredUser();
    }
}

<div class="container" id="pd2020-container">
    <h2 class="pd2020-title">
        <span>Intern Puzzleday </span><span style="white-space:nowrap;"><span class="redblue">2</span><span class="greenyellow">0</span></span>
    </h2>
    <br class="pd2020-emphasis"/>

    <div class="pd2020-container-root">
        <div class="pd2020-container-card">
            <h3>WELCOME TO PUZZLEDAY</h3>
            <p>As a 2020 Microsoft intern at Microsoft in 2020, you have the unique opportunity to participate in Microsoft&rsquo;s Intern Puzzleday in July July 2020! This year, we&rsquo;re doubling down on the fun by stretching the event over two days for 2x of the excitement and 2x of the fun. Whether you&rsquo;re in New York, New York or Walla Walla, Washington, we expect that you will have a great great time.</p>

            <p>While past Puzzledays have been held on a single single day, this year&rsquo;s event will take place over the two-day weekend weekend of <b>July 11<sup>th</sup>-12<sup>th</sup></b>. On both of those days, you'll have 3.5 hours from <b>10am-1:30pm PDT</b> to solve puzzles, and both days of solving contribute to the overall event.</p>

            <p>Puzzleday is beginner-friendly, so if you don&rsquo;t know what to expect, we&rsquo;ll be holding Q&amp;A sessions so you can get a feel for what&rsquo; what and maybe even meet some potential teammates. These sessions will be July 1<sup>st</sup> and 7<sup>th</sup>, with two held each day on the Internz Teams team. The sessions start at 2pm and 5pm PDT, with a presentation scheduled to start at 2:15 and 5:15 and the Q&amp;A following.</p>

            <p>Take a look at our <b><a asp-page="/EventSpecific/FAQ">FAQ</a></b> and <b><a asp-page="/EventSpecific/Rules">Rules</a></b> if you have any questions.</p>

            <p>We invite participation by interns of all abilities. If you require an accommodation,  please reach out to us at <a href="mailto:puzzhunt@microsoft.com">puzzhunt@microsoft.com</a>.</p>
        </div>

        <div class="pd2020-container-card">
            <h3>FULL SCHEDULE (all times PDT)</h3>

            <h4>INFORMATION SESSIONS (optional)</h4>
            <p>If you have questions about how Puzzleday works, you can attend one of these four information sessions. We will begin with a short presentation, and take Q&amp;A afterwards. They will take place on <b>July 1<sup>st</sup></b> and <b>July 7<sup>th</sup></b>, at <b>2pm</b> and again at <b>5pm</b>. <ul><li><b><a href="https://aka.ms/pdinfosession">Join an info session</a></b> (link updated shortly before each one)</li></ul></p>

            <h4>PREGAME PUZZLES (optional)</h4>
            <p>These are a great way to get in the spirit of the event and learn how our website works. We hope they are fun and give you an idea of what to expect.</p>
            <p>We will release two puzzles each day from <b>July 6<sup>th</sup></b> through <b>July 9<sup>th</sup></b>, at <b>5pm</b>. To get the puzzles, make sure you are on a registered team and go to the &ldquo;Puzzles&rdquo; link at the top of the page.</p>

            <h4>EVENT WEEKEND</h4>
            <p>On <b>July 11<sup>th</sup></b>, at <b>10am</b>, we will have a short opening session where we will go over rules and theme. After that, your team will have until <b>1:30pm</b> to solve as many puzzles as you can! We will take a snapshot of the leaderboard at 1:30, but you can keep solving these puzzles at any time afterwards (until the second day is over). <ul><li><b><a href="https://aka.ms/pdopening">Join the opening session</a></b> (link updated shortly before)</li></ul></p>
            <p>On <b>July 12<sup>th</sup></b>, at <b>10am</b>, you will jump right into solving all-new puzzles, and solving will end at <b>1pm</b>. Immediately afterwards, we will have a short closing session where we will announce prizewinners and wrap up the event. <ul><li><b><a href="https://aka.ms/pdclosing">Join the closing session</a></b> (link updated shortly before)</li></ul></p>
        </div>

        <div class="pd2020-container-card">
            <h3>HOW TO SIGN UP</h3>
            <p>If you don&rsquo;t have a team yet, you can <b><a asp-page="/Teams/List">create a team using the link here</a></b>. Teams will consist of 4-6 players with all levels of puzzle experience; each intern can invite one non-employee guest to join them if they wish. Since this year&rsquo;s event is 100% virtual, your team doesn&rsquo;t even need to be in the same place geographically. And don&rsquo;t worry if you can&rsquo;t make both days; the goal is just to have fun! Once you&rsquo;ve made a team, you can invite specific people to join you or leave your team open for anyone to join.</p>

            <p>If you want to join a team and haven&rsquo;t been specifically invited by anyone, you can <b><a asp-page="/Teams/List">find the list of teams looking for team members here</a></b> and request to join.</p>

            <p>If you&rsquo;re still looking for teammates, you should keep your team open. Existing teams can also invite other players, and if you need help finding teammates, you can always ask other interns you work with, know from your cohort or university, or met in cyberspace.</p>

            <p>If you don&rsquo;t know who will be on your team yet, we&rsquo;ll help combine any teams that aren&rsquo;t full before the event. You can also use the Q&amp;A sessions to recruit new members. We encourage teams to stay together for both days of the event, but in case there are players who are not available on both days, you can swap people in and out so long as no more than 6 players are on your team on either day.</p>
        </div>

        <div class="pd2020-container-card">
            <h3>New to puzzles?</h3>
            <p>
                You might have seen a jigsaw puzzle, a crossword puzzle, or a Sudoku at some point in your life.
                But wait, there's more! Puzzleday puzzles sometimes always dial up the creativity, so you might see some brain-twisty, mind-bendy puzzles...
                Check out a few <a asp-page="/EventSpecific/Samples">sample puzzles</a> or our <a asp-page="/Resources/Archive">archive of puzzles</a>
                from past events.
            </p>
        </div>
    </div>
</div>
